<!DOCTYPE html>
<html lang="en">

<!--********uncomment below script of Google Tag Manager and Linkedin tag 
 			
 			if deploy to www.colabus.com******   -->





	<!-- Global site tag (gtag.js) - Google Analytics -->
<!--  	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162906904-1"></script>
	<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-162906904-1');

	</script> -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	
	<!-- Google Tag Manager -->
<!--  
	<script>
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
	j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NDD6JDR');
	</script>
 -->
 
<!-- End Google Tag Manager -->
	
	<!-- This below script is for Linkedin uncomment when deploying to www.colabus.com -->
<!--  	<script type="text/javascript">
		_linkedin_partner_id = "1905802";
		window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
		window._linkedin_data_partner_ids.push(_linkedin_partner_id);
		</script><script type="text/javascript">
		(function(){var s = document.getElementsByTagName("script")[0];
		var b = document.createElement("script");
		b.type = "text/javascript";b.async = true;
		b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
		s.parentNode.insertBefore(b, s);})();
	</script>
	
 -->	
	<!-- End Linkedin tag -->

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title> Colabus</title>
<link REL="SHORTCUT ICON" id="favicon" HREF="images/favicon.ico">


<meta name="keywords" content="collaboration project management,task project management,online team collaboration,secure collaboration,cloud task management,project collaboration,cross platform mobile,online document repository,enterprise mobile application,enterprise mobile app,cloud collaboration,collaboration in the cloud,secure cloud collaboration,cloud documents,free collaboration online"/>
<meta name="description" content="collaborate anytime, anywhere"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="twitter:widgets:theme" content="dark">
	<meta name="twitter:widgets:link-color" content="#07d8f9">
	<meta name="twitter:widgets:border-color" content="#ffffff">

<!-- Google Openid app's client ID
<meta name="google-signin-client_id" content="565436098961-3e7ap83f3lsgh5qjk4jsfcol0s66r647.apps.googleusercontent.com">-->

<!--<meta name="google-signin-client_id" content="522930304600-bk62i1hi59n1d6lg3i27lj37mm5u64dq.apps.googleusercontent.com">-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="scripts/jquery.placeholder.js" type="text/javascript"></script>
<script type='text/javascript' src="scripts/homejs/comment-reply.js"></script>
<script type='text/javascript' src="scripts/fb_login.js"></script>
<!--<script type='text/javascript' src="scripts/bootstrap.min.js"></script>-->


<!-- <script type='text/javascript' src="scripts/homejs/jquery-1.8.3.js"></script>-->
<!--  jQuery Placeholder plugin -->
<script src="scripts/jquery.placeholder.js" type="text/javascript"></script>
<script type='text/javascript' src="scripts/homejs/comment-reply.js"></script>
<script type='text/javascript' src="scripts/fb_login.js"></script>
<!--<script type='text/javascript' src="scripts/bootstrap.min.js"></script>-->


<!-- The below js file code need to uncomment if we deploy in www.colabus.com-->
<script type="text/javascript" src="scripts/websiteAnalytic.js"></script>

<!-- Below js files to convert text to different languages depending on browser language -->
 <script src="scripts/lib/CLDRPluralRuleParser/CLDRPluralRuleParser.js"></script>
 <script src="scripts/lib/jquery.i18n/jquery.i18n.js"></script>
 <script src="scripts/lib/jquery.i18n/jquery.i18n.messagestore.js"></script>
 <script src="scripts/lib/jquery.i18n/jquery.i18n.fallbacks.js"></script>
 <script src="scripts/lib/jquery.i18n/jquery.i18n.language.js"></script>
 <script src="scripts/lib/jquery.i18n/jquery.i18n.parser.js"></script>
 <script src="scripts/lib/jquery.i18n/jquery.i18n.emitter.js"></script>
 <script src="scripts/lib/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>

 <script src="scripts/lib/Global.js"></script>



 <!-- Core Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome.css" rel="stylesheet">
	
    <!-- Responsive CSS -->
    <link href="css/styles/subCss/responsive.css" rel="stylesheet">
	<link href="css/styles/subCss/slick.css" rel="stylesheet">
	
	<!-- <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<!-- Google Openid registration -->
<!-- Load the Google Platform Library -->

<!--<script src="https://apis.google.com/js/api.js"></script>-->
	


</head>
<style>

	.terms-hover:hover {
    text-decoration: underline;
    color: blue;
	}
	@media only screen and (max-width: 40em) {
	 /* Small screen, non-retina */
	  #notifUI{
	   margin-top: -15% !important; width: 98% !important; margin-left: -10.5em !important;top:30%;
	  }
	  #notifUI.packagePop{
	    height:75%;
	    top:20% !important;
	  }
	}
	
	@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	  #notifUI{
	   margin-top: -17% !important; width: 55% !important; margin-left: -25% !important;top:30%;
	  }
	  #notifUI.packagePop{
	     height:85%;
	  }
	}
	
	.con{color:white;}
	
	.register-country {
		display: none;
		width: 100%;
		clear: both;
		padding-left: 0px ! important;
		margin-bottom: 8px !important;
	}
</style>

<body onKeyPress="enterKeyValid(event);"  class="" onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
<!-- for google login script Added -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="scripts/openIdLogin/openIdLogin.js"></script>

<!--********uncomment below noscript of Google Tag Manager and Linkedin tag if deploy to www.colabus.com******   -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDD6JDR"
							height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Linkedin tag (noscript) -->
 <noscript>
	<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1905802&fmt=gif" />
 </noscript> 
<!-- End Linkedin tag (noscript) -->	

<script>

/*Facebook OpenId latest Version 2.11 added dec-2017  */
window.history.forward();
	function noBack() { 
		window.history.forward(); 
}

// window.fbAsyncInit = function() {
// 	FB.init({
// 		appId : '132981200188865',
// 		xfbml : true, // parse social plugins on this page
// 		version : 'v2.11' // use graph api version 2.6
// 	});
	
// 	FB.getLoginStatus(function(response) {
// 		if (response && response.status === 'connected') {
// 			FB.logout(function(response) {
// 			document.location.reload();
// 			console.log('Logout Successfully.');
// 			});
// 		document.getElementById('status').innerHTML='we are connected';
// 		}else if(response.status === 'not_authorized')
// 		{
// 			document.getElementById('status').innerHTML = 'You are not Authorized'
// 				+ 'to Facebook.';
// 		}else {
// 			document.getElementById('status').innerHTML = 'Please log'
// 				+ 'into Facebook.';
// 			}
// 	});
// };

// (function(d, s, id) {
// 	  var js, fjs = d.getElementsByTagName(s)[0];
// 	  if (d.getElementById(id)) return;
// 	  js = d.createElement(s); js.id = id;
// 	  js.src = "https://connect.facebook.net/en_US/sdk.js";
// 	  fjs.parentNode.insertBefore(js, fjs);
// 	}(document, 'script', 'facebook-jssdk'));


// function login(){
// FB.login(function(response)
// {
// 	if (response.status === 'connected') {
// 		document.getElementById('status').innerHTML='we are connected';
// 		testAPI();
// 	}else if(response.status === 'not_authorized')
// 	{
// 		document.getElementById('status').innerHTML = 'u are not authorized Please sign '
// 			+ 'into Facebook.';
// 	}else {
// 		document.getElementById('status').innerHTML = 'Please log '
// 			+ 'into Facebook.';
// 			}	
// 	},{scope:'email,public_profile'});
			
// }


  
  function testAPI() {
	  console.log('Welcome!  Fetching your information.... ');
	  FB.api('/me','GET',{  fields: 'name,id,email,first_name,last_name'},
	  	function(response) {
	  		///alert("------>"+ JSON.stringify(response));
	  		/* console.log('Id ---- '+ response.id);
	  		console.log('email ---- '+ response.email);//Note, even if you request the email permission it is not guaranteed you will get an email address. For example, if someone signed up for Facebook with a phone number instead of an email address, the email field may be empty.
	  		console.log('first_name ---- '+ response.first_name);
	  		console.log('last_name ---- '+ response.last_name);
	  		console.log('Successful login for: '+ response.name); */
	  		document.getElementById('status').innerHTML = 'Thanks for logging as, '+ response.name + '!';
	  		if(JSON.stringify(response).includes("error")){
	  			alert("Response Error, Please try again later:)");
	  		}else{
	  		verifyUser(response.id,response.email,response.first_name,response.last_name,"facebook");
	  		}

	  });
}
 
var userEmail;
 function test(){
 		 
	     userEmail = $('#email').val();	 	 
		 var data=  JSON.parse(jsonData);
		 var companyData = data.Company;
		 $('#companyList').html('<option value="0">Select Company Name</option>');
		  var temp = 0;
		  
	       for(i=0; i< companyData.length;i++){ 
			 	if(userEmail ==companyData[i].user_email1 ){
			 		  $('#companyList').append('<option value="'+companyData[i].companyId+'">'+companyData[i].company+'</option>');
					  companyList = companyList+','+companyData[i].company
					  $('#email').css('border','1px solid #ccc');
					  $("div#errorMsg").html("");
					  $('#loginButton').attr('onclick','loginSubmit()');
					  temp++;
				}
									
			 }
			 if(temp == 1){
			 	
			 	$('#email').css('border','1px solid #ccc');
				$("div#errorMsg").html("");
				$('#loadingBar').show();
				timerControl("start");
			    document.getElementById('loginPage').action="${path}/colAuth?pAct=login&openId=normal";
				document.getElementById('loginPage').submit();
			 }else if (temp == 0){
				$('#loadingBar').hide();
				timerControl("");
			 	$('#email').css('border','1px solid red');
				$("div#errorMsg").html("Invalid Email Id");
			 }
			 
			 
			var length = $('#companyList').children('option').length;
			if(length>2){
				
				 $("#loginDiv").css({"padding":"4%","margin-top":"3%"});
				 $('.companyList').css({'display':'block'});
				 var orgName = $('#companyList').children("option:selected").val();
				 if(orgName==0){
			   		$('#companyList').css('border','1px solid red');
			   		$('button').prop('onclick',null);
			     }else{
			     	$('#companyList').css('border','1px solid #ccc');
			   		$('#loginButton').attr('onclick','loginSubmit()');
			     }
			}else{
				$("#loginDiv").css({"padding":"4%","margin-top":"4%"});
				$('.companyList').css({'display':'none'});
				
			  }
		
    }
    
    function setOrgName(obj){
	   var orgName = $(obj).children("option:selected").val();
	   $('#hiddenCompanyName').val(orgName);
	   if(orgName==0){
	   		$('#companyList').css('border','1px solid red');
	   		$('#loginButton').prop('onclick',null);
	   }else{
	   		 $('#companyList').css('border','1px solid #ccc');
	   		 $('#loginButton').attr('onclick','loginSubmit()');
	   }
	   
	}
	
	function emailValidation(obj){
		//$('.companyList').css({'display':'none'});
		$('#loginButton').attr('onclick','test()');
	}
	function setOrgNameForget(obj){
		 var orgName = $(obj).children("option:selected").val();
		 if(orgName==0){
	   		$('#companyList').css('border','1px solid red');
	   		$('#forgetSend').prop('onclick',null);
	   }else{
	   		 $('#companyList').css('border','1px solid #ccc');
	   		 $('#forgetSend').attr('onclick','okayBtnClicked()');
	   }
	}
	function companyNameValidation(){
		$('.companyListDetails').html('');
		$(".companyListContainer").css({'display':'none'});
		$("#companyName").css("border","1px solid #B2B2B2");
		$("div#errorMsg").html('');
		var compName = document.getElementById('companyName').value.toLowerCase();
				var buffer="";
		    		for(var i=0; i < companyData.length; i++){ 
		    				if(companyData[i].company.toLowerCase().indexOf(compName) !== -1){
			        	var comName = companyData[i].company;
			        	buffer+=" <li onclick=getCompany(this) id="+comName+" style='height:25px;text-align:center;cursor:pointer;border-bottom: 1px solid #ced2d5; padding-top: 1%;'>"+comName+"</li>"; 
			        	}
			      	} 
	      	$('.companyListDetails').append(buffer);
   		
	}
	function getCompany(obj){
		var c = $(obj).text();
		$('#companyName').val(c);
		$('.companyListContainer').hide();
	}
</script>
	<!-- Preloader Start -->
   <!--  <div id="preloader">
        <div class="colorlib-load"></div>
    </div> -->

      <!-- ***** Header Area Start ***** -->
    <header class="header_area animated" style="background-image: url(img/bg-img/welcome-bg.png);height: 81px;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10 col-md-10 col-sm-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="index.html"><img src="img/bg-img/images/logo1.png"></a>
                            <button class="navbar-toggler collab" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <!--<li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>-->
                                    <li class="nav-item"><a class="nav-link" href="product.html">Product</a></li>
									<!-- <li class="nav-item"><a class="nav-link" href="colabus.html">Why Colabus</a></li> -->
									<li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                                    <!-- <li class="nav-item"><a class="nav-link" href="solutions.html">Solutions</a></li> -->
                                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                                    <!--<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>-->
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="/register">Get Started</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="/register">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area_reglogin clearfix" style="background-image: url(img/bg-img/welcome-bg.png);" id="tour">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
            </div>
        </div>
		
    </section>
<div id="loginDiv" class="col-lg-5 col-md-6 col-sm-8 col-xs-8 loginDivMainLevel">
	<div class="container-fluid cFluid">
	<div id="loadingBar" class="loginLodingBar">
		<img src="images/ajax-load.gif"/>
		<span id="timerSpan"></span>
		<div id="bgTrans" class="bgTransparent" style="display: block;"></div>
	</div>
	<form id="loginPage" class="loginColDiv" name="loginPage" method="POST">
			<div class="row colLoginForm">
				<div class="col-lg-12 colLoginFormHead" align="center">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 colLoginFormLogo">
						<img src="images/website_old/colabuslogo.png"/>
						<!-- <div class="col-lg-3 col-md-6 col-sm-3 col-xs-3"><span style="font-size: 22px; font-family: open_sanscondensed_light;">Login</span></div> -->
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 loginTitle">
						<span data-i18n="colabus-login"></span>
					</div>
				</div>
				<div id="errorMsg" class="promptMsg" align="center"></div>
				<div class="col-12 loginGrpForm">
					<div class = "form-group">
					  <input  class = "form-control" style="width:95%;" type="text" name="userName" id="userName" value="" />
				   	</div>
				   	<div class="form-group formPassword">
				   	  <input  class = "form-control" style="width:95%;" type="password" name="userPwd" id="userPwd" value="" onfocus="generatePass();"/>
				   	</div>
				   	<div class="form-group email formEmail">
				   	  <input  class = "form-control" style="width:95%;" type="email" name="email" id="email"  value="" placeholder="Email" onkeyup = "emailValidation(this)" />
				   	</div>
				    <div class="form-group companyName formCompanyName">
				   	  <input  class = "form-control" style="width:95%;" type="email" name="email" id="companyName" value="" placeholder="Company name" onkeyup = "companyNameValidation()" />
				   	</div>
				   	<div  class="companyListContainer">
		       			 <ul class="companyListDetails"></ul>
		      		</div>
				   <div class="form-group companyList">
						<span class='errorRegLabels'>Choose Account</span>
						<select id="companyList" class="country form-control form-user" name="slist" onchange="setOrgName(this);"></select>
						<input id="hiddenCompanyName" name="hiddenCompanyName" value="" type="hidden">
					</div>
					<div class="form-group register-country">
						<select id="stan_country" class="country form-control" name="slist">
							 <option value="US">United States of America</option>
						     <option value="AF">Afghanistan</option>
						     <option value="AX">Ãland</option>
						     <option value="AL">Albania</option>
						     <option value="DZ">Algeria</option>
						     <option value="AS">American Samoa</option>
						     <option value="AD">Andorra</option>
						     <option value="AO">Angola</option>
						     <option value="AI">Anguilla</option>
						     <option value="AQ">Antarctica</option>
						     <option value="AG">Antigua and Barbuda</option>
						     <option value="AR">Argentina</option>
						     <option value="AM">Armenia</option>
						     <option value="AW">Aruba</option>
						     <option value="AU">Australia</option>
						     <option value="AT">Austria</option>
						     <option value="AZ">Azerbaijan</option>
						     <option value="BS">Bahamas</option>
						     <option value="BH">Bahrain</option>
						     <option value="BD">Bangladesh</option>
						     <option value="BB">Barbados</option>
						     <option value="BY">Belarus</option>
						     <option value="BE">Belgium</option>
						     <option value="BZ">Belize</option>
						     <option value="BJ">Benin</option>
						     <option value="BM">Bermuda</option>
						     <option value="BT">Bhutan</option>
						     <option value="BO">Bolivia</option>
						     <option value="BA">Bosnia and Herzegovina</option>
						     <option value="BW">Botswana</option>
						     <option value="BV">Bouvet Island</option>
						     <option value="BR">Brazil</option>
						     <option value="IO">British Indian Ocean Territory</option>
						     <option value="BN">Brunei Darussalam</option>
						     <option value="BG">Bulgaria</option>
						     <option value="BF">Burkina Faso</option>
						     <option value="BI">Burundi</option>
						     <option value="KH">Cambodia</option>
						     <option value="CM">Cameroon</option>
						     <option value="CA">Canada</option>
						     <option value="CV">Cape Verde</option>
						     <option value="KY">Cayman Islands</option>
						     <option value="CF">Central African Republic</option>
						     <option value="TD">Chad</option>
						     <option value="CL">Chile</option>
						     <option value="CN">China</option>
						     <option value="CX">Christmas Island</option>
						     <option value="CC">Cocos (Keeling) Islands</option>
						     <option value="CO">Colombia</option>
						     <option value="KM">Comoros</option>
						     <option value="CG">Congo (Brazzaville)</option>
						     <option value="CD">Congo (Kinshasa)</option>
						     <option value="CK">Cook Islands</option>
						     <option value="CR">Costa Rica</option>
						     <option value="CI">CÃ´te dIvoire</option>
						     <option value="HR">Croatia</option>
						     <option value="CU">Cuba</option>
						     <option value="CY">Cyprus</option>
						     <option value="CZ">Czech Republic</option>
						     <option value="DK">Denmark</option>
						     <option value="DJ">Djibouti</option>
						     <option value="DM">Dominica</option>
						     <option value="DO">Dominican Republic</option>
						     <option value="EC">Ecuador</option>
						     <option value="EG">Egypt</option>
						     <option value="SV">El Salvador</option>
						     <option value="GQ">Equatorial Guinea</option>
						     <option value="ER">Eritrea</option>
						     <option value="EE">Estonia</option>
						     <option value="ET">Ethiopia</option>
						     <option value="FK">Falkland Islands</option>
						     <option value="FO">Faroe Islands</option>
						     <option value="FJ">Fiji</option>
						     <option value="FI">Finland</option>
						     <option value="FR">France</option>
						     <option value="GF">French Guiana</option>
						     <option value="PF">French Polynesia</option>
						     <option value="TF">French Southern Lands</option>
						     <option value="GA">Gabon</option>
						     <option value="GM">Gambia</option>
						     <option value="GE">Georgia</option>
						     <option value="DE">Germany</option>
						     <option value="GH">Ghana</option>
						     <option value="GI">Gibraltar</option>
						     <option value="GR">Greece</option>
						     <option value="GL">Greenland</option>
						     <option value="GD">Grenada</option>
						     <option value="GP">Guadeloupe</option>
						     <option value="GU">Guam</option>
						     <option value="GT">Guatemala</option>
						     <option value="GG">Guernsey</option>
						     <option value="GN">Guinea</option>
						     <option value="GW">Guinea-Bissau</option>
						     <option value="GY">Guyana</option>
						     <option value="HT">Haiti</option>
						     <option value="HM">Heard and McDonald Islands</option>
						     <option value="HN">Honduras</option>
						     <option value="HK">Hong Kong</option>
						     <option value="HU">Hungary</option>
						     <option value="IS">Iceland</option>
						     <option value="IN">India</option>
						    <!--  <option value="IN" selected="selected">India</option> -->
						     <option value="ID">Indonesia</option>
						     <option value="IR">Iran</option>
						     <option value="IQ">Iraq</option>
						     <option value="IE">Ireland</option>
						     <option value="IM">Isle of Man</option>
						     <option value="IL">Israel</option>
						     <option value="IT">Italy</option>
						     <option value="JM">Jamaica</option>
						     <option value="JP">Japan</option>
						     <option value="JE">Jersey</option>
						     <option value="JO">Jordan</option>
						     <option value="KZ">Kazakhstan</option>
						     <option value="KE">Kenya</option>
						     <option value="KI">Kiribati</option>
						     <option value="KP">Korea ( North )</option>
						     <option value="KR">Korea ( South )</option>
						     <option value="KW">Kuwait</option>
						     <option value="KG">Kyrgyzstan</option>
						     <option value="LA">Laos</option>
						     <option value="LV">Latvia</option>
						     <option value="LB">Lebanon</option>
						     <option value="LS">Lesotho</option>
						     <option value="LR">Liberia</option>
						     <option value="LY">Libya</option>
						     <option value="LI">Liechtenstein</option>
						     <option value="LT">Lithuania</option>
						     <option value="LU">Luxembourg</option>
						     <option value="MO">Macau</option>
						     <option value="MK">Macedonia</option>
						     <option value="MG">Madagascar</option>
						     <option value="MW">Malawi</option>
						     <option value="MY">Malaysia</option>
						     <option value="MV">Maldives</option>
						     <option value="ML">Mali</option>
						     <option value="MT">Malta</option>
						     <option value="MH">Marshall Islands</option>
						     <option value="MQ">Martinique</option>
						     <option value="MR">Mauritania</option>
						     <option value="MU">Mauritius</option>
						     <option value="YT">Mayotte</option>
						     <option value="MX">Mexico</option>
						     <option value="FM">Micronesia</option>
						     <option value="MD">Moldova</option>
						     <option value="MC">Monaco</option>
						     <option value="MN">Mongolia</option>
						     <option value="ME">Montenegro</option>
						     <option value="MS">Montserrat</option>
						     <option value="MA">Morocco</option>
						     <option value="MZ">Mozambique</option>
						     <option value="MM">Myanmar</option>
						     <option value="NA">Namibia</option>
						     <option value="NR">Nauru</option>
						     <option value="NP">Nepal</option>
						     <option value="NL">Netherlands</option>
						     <option value="AN">Netherlands Antilles</option>
						     <option value="NC">New Caledonia</option>
						     <option value="NZ">New Zealand</option>
						     <option value="NI">Nicaragua</option>
						     <option value="NE">Niger</option>
						     <option value="NG">Nigeria</option>
						     <option value="NU">Niue</option>
						     <option value="NF">Norfolk Island</option>
						     <option value="MP">Northern Mariana Islands</option>
						     <option value="NO">Norway</option>
						     <option value="OM">Oman</option>
						     <option value="PK">Pakistan</option>
						     <option value="PW">Palau</option>
						     <option value="PS">Palestine</option>
						     <option value="PA">Panama</option>
						     <option value="PG">Papua New Guinea</option>
						     <option value="PY">Paraguay</option>
						     <option value="PE">Peru</option>
						     <option value="PH">Philippines</option>
						     <option value="PN">Pitcairn</option>
						     <option value="PL">Poland</option>
						     <option value="PT">Portugal</option>
						     <option value="PR">Puerto Rico</option>
						     <option value="QA">Qatar</option>
						     <option value="RE">Reunion</option>
						     <option value="RO">Romania</option>
						     <option value="RU">Russian Federation</option>
						     <option value="RW">Rwanda</option>
						     <option value="BL">Saint BarthÃ©lemy</option>
						     <option value="SH">Saint Helena</option>
						     <option value="KN">Saint Kitts and Nevis</option>
						     <option value="LC">Saint Lucia</option>
						     <option value="MF">Saint Martin (French part)</option>
						     <option value="PM">Saint Pierre and Miquelon</option>
						     <option value="VC">Saint Vincent and the Grenadines</option>
						     <option value="WS">Samoa</option>
						     <option value="SM">San Marino</option>
						     <option value="ST">Sao Tome and Principe</option>
						     <option value="SA">Saudi Arabia</option>
						     <option value="SN">Senegal</option>
						     <option value="RS">Serbia</option>
						     <option value="SC">Seychelles</option>
						     <option value="SL">Sierra Leone</option>
						     <option value="SG">Singapore</option>
						     <option value="SK">Slovakia</option>
						     <option value="SI">Slovenia</option>
						     <option value="SB">Solomon Islands</option>
						     <option value="SO">Somalia</option>
						     <option value="ZA">South Africa</option>
						     <option value="GS">South Georgia and South Sandwich Islands</option>
						     <option value="KR">South Korea</option>
						     <option value="ES">Spain</option>
						     <option value="LK">Sri Lanka</option>
						     <option value="SD">Sudan</option>
						     <option value="SR">Suriname</option>
						     <option value="SJ">Svalbard and Jan Mayen Islands</option>
						     <option value="SZ">Swaziland</option>
						     <option value="SE">Sweden</option>
						     <option value="CH">Switzerland</option>
						     <option value="SY">Syria</option>
						     <option value="TW">Taiwan</option>
						     <option value="TJ">Tajikistan</option>
						     <option value="TZ">Tanzania</option>
						     <option value="TH">Thailand</option>
						     <option value="TL">Timor-Leste</option>
						     <option value="TG">Togo</option>
						     <option value="TK">Tokelau</option>
						     <option value="TO">Tonga</option>
						     <option value="TT">Trinidad and Tobago</option>
						     <option value="TN">Tunisia</option>
						     <option value="TR">Turkey</option>
						     <option value="TM">Turkmenistan</option>
						     <option value="TC">Turks and Caicos Islands</option>
						     <option value="TV">Tuvalu</option>
						     <option value="UG">Uganda</option>
						     <option value="UA">Ukraine</option>
						     <option value="AE">United Arab Emirates</option>
						     <option value="GB">United Kingdom</option>
						     <option value="UM">United States Minor Outlying Islands</option>
						     <option value="UY">Uruguay</option>
						     <option value="UZ">Uzbekistan</option>
						     <option value="VU">Vanuatu</option>
						     <option value="VA">Vatican City</option>
						     <option value="VE">Venezuela</option>
						     <option value="VN">Vietnam</option>
						     <option value="VG">Virgin Islands ( British )</option>
						     <option value="VI">Virgin Islands ( U.S. )</option>
						     <option value="WF">Wallis and Futuna Islands</option>
						     <option value="EH">Western Sahara</option>
						     <option value="YE">Yemen</option>
						     <option value="ZM">Zambia</option>
						     <option value="ZW">Zimbabwe</option>
						</select>
						<script language="javascript">
							var ip = "";
							$.getJSON("https://api.ipify.org/?format=json", function(e) {
								console.log(e.ip);
								ip = e.ip;
							});

							$.getJSON('https://api.db-ip.com/v2/free/self', function(data) {
								console.log(JSON.stringify(data, null, 2));
							});

							// const request = await fetch("https://ipinfo.io/"+ip+"?token=c3e24214a8b2ea")
							// const json = await request.json()

							// console.log(jsonResponse.ip, jsonResponse.country)

							fetch("https://ipinfo.io/"+ip+"?token=ecaf4e5fd42c69").then(
							(response) => response.json()
							).then(
							(jsonResponse) => {
								console.log(jsonResponse.ip, jsonResponse.country)
									if($('#stan_country option[value='+jsonResponse.country+']').length >0){
							       		$('#stan_country option[value='+jsonResponse.country+']').attr('selected','selected');
									}else{
										console.log("Hiii!");
										$('#stan_country option[value=US]').attr('selected','true');
									}
							}
									
							)
							// $.get("https://ipinfo.io", function (response) {
							//     var code = response.country;
							// 	console.log(code);
							    
							    // if($('#stan_country option[value='+code+']').length >0){
							    //    $('#stan_country option[value='+code+']').attr('selected','selected');
							    // }else{
								// 	console.log("Hiii!");
							    //    $('#stan_country option[value=US]').attr('selected','true');
							    // }
							// }, "jsonp");
						</script>
					</div>
				</div>
				<div class="col-12 row forgetPasswordSubmit">
					<p onclick="changeScreens();" id="forgotPassword" class="terms-hover" style="padding-left: 15px;" data-i18n="colabus-fp"></p>
					<button id="loginButton" onclick="loginSubmit();" type = "button" class = "btn btn-info pull-right " data-i18n="colabus-login"style="width: 30%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"></button> 
					<input type="hidden" name="localOffsetTime" id="localOffsetTime" value=""/>
					<input type="hidden" name="loginAction" id="loginAction" value=""/>
				</div>
			</div>
		</form>
		<div class="row otherLogin">
			<div align="center" class="col-lg-12 info-SignUp" style="padding-left: 0px;" data-i18n="colabus-noaccount"></div>

			<div class="visible-sm visible-xs visible-md otherLogin_Sub">	
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<!-- In the callback, you would hide the gSignInWrapper element on a
  							successful sign in -->
					<div id="gSignInWrapper">
						    <div id="customBtn" class="customGPlusSignIn">
						      <img class="icon" src = "images/website_old/googlelogo.png"/>
						    </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<img title="Facebook" src="images/website_old/facebook.png" onclick="fbLogin();">
						<div id="status" style="display:none"></div>	
				</div>
					
					
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<a href ="/register" target="_self">
					<button id="colabussignup" class="btn btn-info lang-signup" type="button" data-i18n="colabus-signup" style="width: 86px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"></button>
					</a>
				</div>
		</div>
		</div>
	</div>
</div>
<div id="forgotPwdScreen" class="col-lg-5 col-md-6 col-sm-8 col-xs-8 forgetPasswordPage">
	<div class="container-fluid forget_fluid">
		<form method="POST" class="forgetGrpForm">
			<div class="row forgetGrpForm_Sub1">
				<div class="col-lg-12 forgetGrpForm_Sub2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 forgetGrpForm_Sub3">
						<img src="/images/website_old/colabuslogo.png"/>
					</div>
					<div class="col-l2 forgetPass_Head">
						<span data-i18n="colabus-fp"></span>
					</div>
				</div>
				<div class="col-12 formForgetFields">
					<div id="forgotUnameDiv" class = "form-group">
					  <input  class = "form-control" type="text" name="forgotUname" id="forgotUname" value="" placeholder=""/>
					  <input  class = "form-control loginGrpForm" type="text" name="forgotEmail" id="forgotEmail"  value="" placeholder=""/>
				   	</div>
				   	<div class="form-group companyList">
						<span class="errorRegLabels" data-i18n="colabus-ChooseAccount"></span>
						<select id="companyListForget" class="country form-control form-user" name="slist" onchange="setOrgNameForget(this);"></select>
						<input id="hiddenCompanyName" name="hiddenCompanyName"value="" type="hidden">
					</div>
				</div>
				<div id="okayBtnDiv" class="col-lg-12">
					<button id="forgetBack" onclick="goToLogin();" type = "button" class = "btn btn-info btn-back" data-i18n="colabus-back"></button>
					<button id="forgetSend" onclick="okayBtnClicked();" type = "button" class = "btn btn-info" data-i18n="colabus-send"></button>
				</div>
				
				<div class="passwordResetLink" id="pinMsgDiv" data-i18n="colabus-PassReset-checkmail"></div>
				<div id="pinNumberTr" style="display:none;" >
					<input type="hidden" name="emailIdPin" id="emailIdPin"  value=""/>
					<input type="text" class="form-control" placeholder="Security Code" name="pinNumber" id="pinNumber" value="" />
				</div>
				<button onclick="okPinBtnClicked();" type = "button" id="okBtnTr" class = "btn btn-info pinBtn" data-i18n="colabus-submit">Submit</button> 
			</div>
		</form>
	</div>
</div>
<div id="resetPwdDiv" class="col-lg-5 col-md-6 col-sm-8 col-xs-8 forgetPasswordResetPage">
	<div class="container-fluid forget_fluid">
	<form method="POST" class="forgetGrpForm">
			<div class="row forgetGrpForm_Sub1">
				<div class="col-lg-12 forgetGrpForm_Sub2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 forgetGrpForm_Sub3">
						<img src="images/website_old/colabuslogo.png"/>
					</div>
					<div class="col-l2 forgetPass_Head">
						<span data-i18n="colabus-ResetPass"></span>
					</div>
				</div>
				<div class="col-12 formForgetFields">
					<div id="newpwd_div" class = "form-group">
					  <input  class = "form-control" type="password" name="new_password" id="new_password" value="" placeholder=""/>
				   	</div>
				   	
				   	<div id="conpwd_div" class = "form-group">
					  <input  class = "form-control" type="password" name="con_password" id="confirm_password" value="" placeholder=""/>
				   	</div>
				   	<button onclick="resetPasswordClicked();" type = "button" class = "btn btn-info reset_btn" data-i18n="colabus-reset"></button>
				 </div>  	
			</div>
	 </form>
	</div>
</div>

 <div id="notifUI" class="popUpshadowcls" >
	<img onclick="cancelregisterUIContainer()" class="closeCreateProj" style="float: right; cursor: pointer; margin-top: -2%; margin-bottom: 2%; margin-right: -2%;" id="popupClose" src="images/close.png">
	<div id="container" style="float:left;overflow: auto;height: 100%;width: 100%;"></div>
 </div>
 
 <div id="transparentDiv" class="transparentDiv"></div>
<input type = "hidden" id = "userIdHidden" value = "" /> 


	<footer class="more-options-area" id="footer">
		     <div class="container">
			     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 extra-options">
				 <div class="row options-extra col-12">
				 <div class="ctour col-2">
					<h4>Product</h4>
				  <ul class="clinks">
					<li class="list-options">
					  <a class="con" href="product.html">Product</a>
					</li>
					<li class="list-options">
					  <a class="con" href="pricing.html">Pricing</a>
					</li>
					<!-- <li class="list-options">
					  <a href="partners.html">Partners / Affiliates</a>
					</li> -->
					<li class="list-options">
					  <a class="con" href="integration.html">Integration</a>
					</li>
					<!-- <li class="list-options">
					  <a href="security.html">Security</a>
					</li>
					<li class="list-options">
					  <a href="workflow.html">WorkFlow Templates</a>
					</li> -->
					<!-- <li class="list-options">
					  <a href="kanban.html">Kanban Flow</a>
					</li> -->
				  </ul>
				 </div>
				 <!-- <div class="ctour">
					<h4>Why Colabus</h4>
					<ul class="clinks">
					<li class="list-options">
					  <a href="explore.html">Explore</a>
					</li>
					<li class="list-options">
					  <a href="projectmanagement.html">Project Management</a>
					</li>
					<li class="list-options">
					  <a href="agile.html">Agile</a>
					</li>
					<li class="list-options">
					  <a href="taskmanagement.html">Task Management</a>
					</li>
					<li class="list-options">
					  <a href="reporting.html">Reporting</a>
					</li>
					<li class="list-options">
					  <a href="worktracking.html">Project Tracking</a>
					</li>
					<li class="list-options">
					  <a href="easyintegration.html">Industry</a>
					</li>
				  </ul>
				</div> -->
				 <!-- <div class="ctour">
					<h4>Solutions</h4>
				  <ul class="clinks">
					<li class="list-options">
					  <a href="projectmanagement.html">Project Management</a>
					</li>
					<li class="list-options">
					  <a href="agile.html">Agile</a>
					</li>
					<li class="list-options">
					  <a href="taskmanagement.html">Task Management</a>
					</li>
					<li class="list-options">
					  <a href="reporting.html">Reporting</a>
					</li>
					<li class="list-options">
					  <a href="worktracking.html">Work Tracking</a>
					</li>
				  </ul>
				 </div> -->
				<!--  <div class="ctour">
					<h4>More</h4>
				<ul class="clinks">
					<li class="list-options">
					  <a href="#!">Security</a>
					</li>
					<li class="list-options">
					  <a href="#!">Integration</a>
					</li>
					<li class="list-options">
					  <a href="#!">WorkFlow Templates</a>
					</li>
					<li class="list-options">
					  <a href="#!">Kanban Flow</a>
					</li>
				 </ul>
				 </div> -->
				 <div class="ctour col-2">	
					<h4>Team at Colabus</h4>
				<ul class="clinks">
				    <li class="list-options">
					  <a class="con" href="about.html">About Us</a>
					</li>
					<li class="list-options">
					  <a class="con" href="contact.html">Contact Us</a>
					</li>
					<!-- <li class="list-options">
					  <a href="news.html">In The News</a>
					</li> -->
					<li style="display: none;" class="list-options">
					  <a class="con" href="https://plus.google.com/111058381464121092083" target="_blank">Blog</a>
					</li>
					<!-- <li class="list-options">
					  <a href="#!">Company</a>
					</li>
					<li class="list-options">
					  <a href="#!">Leadership</a>
					</li>
					<li class="list-options">
					  <a href="#!">Diversity</a>
					</li> -->
				 </ul>
				 </div>
				 <div class="ctour col-2">
					<h4>Resources</h4>
					<ul class="clinks">
						<!-- <li class="list-options">
						  <a href="guide.html">Help</a>
						</li> -->
						<li class="list-options">
						  <a class="con" href="support.html">Support</a>
						</li>
						<!-- <li class="list-options">
						  <a href="integration.html">Integration's</a>
						</li>
						<li class="list-options">
						  <a href="community.html">Community</a>
						</li> -->
					 </ul>	
				 </div>
				 <div class="ctour ctour-twitter col-6" style="background-color: #011c3a;">
							<a class="twitter-timeline" data-tweet-limit="1" data-chrome="nofooter transparent"  href="https://twitter.com/colabusapp" data-widget-id="666557313575075840">Tweets by @colabusapp</a>
							
							<script>
							!function(d,s,id){
							var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
							if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
							</script>
				 </div>
			</div>
		</div>
				<!--  <div class="col-lg-1 col-md-1 col-sm-1 dividerline">
				 </div> -->
				 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				 <div class="row">
				 <div class="ctour-sub">
				     <p>Get our iOS or Android apps and stay connected on your phone or tablet. Respond quickly from anywhere... except the road. Safety first.</p>
						<a href="https://itunes.apple.com/tn/app/colabus/id558483800?mt=8" target="_blank"><img class="app-store-image" src="img/bg-img/appstore.png" alt=""></a>
						<a href="https://play.google.com/store/apps/dev?id=7720969743047671018&hl=en_US" target="_blank"><img class="app-store-image" src="img/bg-img/playstore.png" alt=""></a>
					 <div class="dividerlinesoc">
					 </div>
					 <div class="socimgdiv">GET SOCIAL
				     </div>
				 </div>
				 
				 </div>
				</div>
				
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="row">
					  <div class="ctour-social">
						<ul class="social-link" align="center">
						<li class="twitter animated bounceIn wow delay-02s"><a href="http://www.twitter.com/colabusapp" target="_blank"><i class="fa-twitter"></i></a></li>
						<li class="facebook animated bounceIn wow delay-03s"><a href="https://www.facebook.com/pages/Colabus/218356114962101?ref=hl" target="_blank"><i class="fa-facebook"></i></a></li>
						<li style="display: none;" class="gplus animated bounceIn wow delay-05s"><a href="https://plus.google.com/111058381464121092083" target="_blank"><i class="fa-google-plus"></i></a></li>
						<li class="youtube animated bounceIn wow delay-05s"><a href="http://www.youtube.com/user/ColabusApp" target="_blank"><i class="fa-youtube"></i></a></li>
						<li class="linkedin animated bounceIn wow delay-05s"><a href="https://in.linkedin.com/in/colabus-app-2100165a" target="_blank"><i class="fa-linkedin"></i></a></li>
						<li class="pinterest animated bounceIn wow delay-05s"><a href="http://www.pinterest.com/colabusapp/boards/" target="_blank"><i class="fa-pinterest"></i></a></li>
					  </ul>
					  </div>
					</div>
				</div>
     
				 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 copyrights-cont">
				 <div class="row">
				 <div class="footer-menu">
					<ul>
						<!-- <li><a href="#">Security & Privacy, Credits</a></li>
						<li><a href="#">Credits </a></li> -->
						<li><a class="con" href ="acceptTerms.jsp">Terms &amp; Conditions | </a></li>
						<li><a class="con" href="privacyPolicy.html" target="_blank">Privacy Policy | </a></li>
						<li><a class="con" href="privacyPolicy.html" target="_blank">Your California Privacy Rights | </a></li>
						<!-- <li><a href="#">Credits | </a></li> -->
						<li>ï¿½ 2019 - 2020 Colabus. All Rights Reserved</li>
					</ul>

			   </div>
				 
				 </div>
				</div>
			   </div>	
		</footer>

<!--<script src="https://apis.google.com/js/platform.js" async defer></script> -->
<script type='text/javascript' src='scripts/colabusApp.js'></script>
<script type="text/javascript">
   function yesscrollBar(){
	   $('html,body').css({overflow:'auto', height:'auto'});
	}
	function noscrollBar(){
	  $('html,body').css({overflow:'hidden', height:'100%'});
	}

  var html = "";
  var hostname = getDomain();
  var apiPath = '<%=process.env.apiPath%>';
  var myk = '<%=process.env.mykronus%>';
  var client_id='<%=process.env.gmailOauth%>';
  var app_id='<%=process.env.facebookAppId%>';
  var key_id = '<%-key_id%>';
  var key_value = '<%-key_value%>';
  var errorCode ="";
  var data = "";
  console.log(key_id+" "+key_value+" "+app_id);
  $(document).ready(function() {
	startApp();
	sessionStorage.Mykronus = "N"; 
	$('input[placeholder], textarea[placeholder], select[placeholder]').placeholder();
  	/*$( '#et-customizer-toggle-button' ).click( function() {
			$( 'body' ).toggleClass( 'et-customizer-open' );
	} );*/
	
     $('#log').click(function(){
		$('#login').show();
		$('#loginDiv').show();
		noscrollBar();
		$('#forgotPasswordDiv').hide();
		$("div#errorMsg").html("");
	});
	$('#lay').click(function(){
		$('#login').hide();
		yesscrollBar();
	});
	$('#forgot_link').click(function(){
	    randomgen();
	    $('#loginDiv').hide();
		$('#forgotPasswordDiv').show();
		$('#pinMsgDiv').hide();
		$('#pinNumberTr').hide();
		$('#okBtnTr').hide();
		$('#sendTr').show();
		$("#resetPassTxt").show();
		$("#emailAdd").show();
		$("#captchaVal").show();
		$('#forgotUname').val("");
		$('#for_capt').val("");
	});


       $("div#errorMsg").html("");
       var inputs = $('input, textarea, select');
       inputs.on('keydown', function(e) {
       if (e.keyCode == 9 || e.which == 9) {
             e.preventDefault();

            //get next input based on the current input we left off
            var nextInput = inputs.get(inputs.index(this) + 1);

            //if we have a next input, go to it. or go back
            if (nextInput) {
                nextInput.focus();
            }
            else{
                inputs[0].focus();
            }
      
        }
      });

	  if(key_id!='' && key_value!=''){
		  console.log("hello!!");

		  let jsonbody = {
				"keyId" : key_id,
				"keyValue" : key_value
			}
			$.ajax({
					url: apiPath + "/" + myk + "/v1/checkValidation",
					type: "POST",
					dataType: 'text',
					contentType: "application/json",
					data: JSON.stringify(jsonbody),
					error: function (jqXHR, textStatus, errorThrown) {
						checkError(jqXHR, textStatus, errorThrown);
						timerControl("");
						console.log("error!!!");
					},
					success: function (result) {
						console.log(result);
						var newResult = result.split("*(&^%^&**")[0];
						var emailIdNew = result.split("*(&^%^&**")[1];
						console.log(newResult+" "+emailIdNew);
						if(newResult == "success"){
							if(emailIdNew!=""){
								$("#userName").val(emailIdNew);
	       						$("#userPwd").val("welcome");
								loginSubmit();
							}
						}else{
							alert(" Activation Link already activated.Log in to Colabus!");
						}

					}
		});
	  }else{
		  console.log("Hiii!!!");
	  }
 
    });
    
	//   var googleUser = {};
	//   var startApp = function() {
	//     gapi.load('auth2', function(){
	//       // Retrieve the singleton for the GoogleAuth library and set up the client.
	//       	auth2 = gapi.auth2.init({
	//       		//----------Client_id for localhost  
	//       	 //	client_id: '600085561886-36rqit1papi0l00an8e3ddancluhqm7r.apps.googleusercontent.com',
	//  	     // client_id: '565436098961-3e7ap83f3lsgh5qjk4jsfcol0s66r647.apps.googleusercontent.com', 
	//  	        //----------Client_id for beta - newtest - live  
	//       	  client_id: '600085561886-e86d3mujjckn6statiaf636asn7vum5o.apps.googleusercontent.com',
	//           cookiepolicy: 'single_host_origin',
	//           immediate: true,
	//         // Request scopes in addition to 'profile' and 'email'
	//         //scope: 'additional_scope'
	//       });
	//       attachSignin(document.getElementById('customBtn'));
	//     });
	//   };
	
	//   function attachSignin(element) {
	//     //console.log(element.id);
	//     auth2.attachClickHandler(element, {},
	//         function(googleUser) {
	//     	onSignIn(googleUser);
	//         }, function(error) {
	//           //alert(JSON.stringify(error, undefined, 2));
	//         });
	//   }
  	var jsonData;
 	$(function(){
 		if(sessionStorage.userVisit == undefined){
 		   sessionStorage.userVisit = "done";
 			sessionStorage.count=0;
 		}else{
 			sessionStorage.count++;
 		}
 		//var login='req get param';
		/* if(login=='login'){
	    	//alert("openid");
	    	$('#login').show();
	    } */
	  	//var type = 'req get param';
	  	//var testId = 'req get param';
	  	//alert("type---"+type);
	  	 
	    if(errorCode=='multipleIdExist'){
	    	$('#loginButton').prop('onclick',null);
	    	$("#loginDiv").css({"padding":"4%","margin-top":"4%"});
		    //var username = 'req get param';
		   // var userPwd = 'req get param';
			$("#userName").val(username);
		    $("#userPwd").val(userPwd);
		    
		    //jsonData = 'req get param';
		    // var data=  JSON.parse(jsonData);
		     var companyData = data;
		     var emailUnique = true;
		     var email;
		     var temp =0; 
		    $('#companyList').html('<option value="0">Select Company Name</option>');
		    for(i=0; i< companyData.length;i++){ 
		    	
			 	if(email == companyData[i].email ){
					 console.log("inside of email = email ");
			 		 emailUnique = true;
			 		 
			 	}else{
			 	    temp++;
			 		emailUnique = false;
			 	}
			 	$('#companyList').append('<option value="'+companyData[i].company_id+'">'+companyData[i].company_name+'</option>');
				companyList = companyList+','+companyData[i].company_name
			 	email = companyData[i].email;
			 }
			if(emailUnique == true && temp == 1){
				$("div#errorMsg").css({"display":"none"});
				$("#email").css({"display":"none"});
				$('.companyList').css({'display':'block'});
				$('#loginButton').attr('onclick','loginSubmit()');
			}else{
				
				$(".email").css({"display":"block"});
				$('.companyList').css({'display':'none'});
				$('#loginButton').attr('onclick','test()');
			}
		   
		    
		}else if(type=='askAd'){
			show_confirm();
			
		}
		
	    var errMsg = '${errorMsg}';
	    if(errMsg){
		    $("div#errorMsg").html(errMsg);
			$('#login').show();
		}
		
		/* var data = 'req get param';
	    if(data != "null" && data != ""){
	    	//alert(data);
	    } */
	    /* var checkStatus ='req get param';
	    if(checkStatus == 'changePassword'){
	    	var userId = 'req get param';
	    	$("input#userIdHidden").val(userId);
	    	showResetPassword();
	    	
	    } */
	    // startApp();

	    
	    	    
	   // var loginAction = 'req get param';
	        //alert(loginAction);
	    if(loginAction == 'samlLogin'){
	    	
	    	//alert("samlLogin");
	       /* var loginName = 'req get param';
	       var loginPwd = 'req get param';
	       var userExist = 'req get param';
	       companyName = 'req get param';	 */       
	       $("#userName").val(loginName);
	       $("#userPwd").val(loginPwd);	        
	       if(userExist == 'Y'){
	    	   //alert("Y");
	    	   $('#loginAction').val('saml');
	    	   ///companyId =  'req get param';
	    	   //alert("companyId>>"+companyId);	    	  
	    	   $('#hiddenCompanyName').val(companyId);	    	  
		   	   loginSubmit(); 
	       }else{
	    		//alert("else");
	    		$('#loginAction').val('normal');
		   		/* var companyName ='req get param';
	            var fname = 'req get param';
	            var lname ='req get param';
	            var email = 'req get param';
	            companyId =  'req get param'; */
	            AdUserRegistration("saml",fname,lname,email,"welcome",companyName);	           
	    	}
	   }
	    
	    
	   /* gapi.load('auth2', function(){
	    	// Retrieve the singleton for the GoogleAuth library and set up the client.
			auth2 = gapi.auth2.getAuthInstance({
			client_id: '565436098961-3e7ap83f3lsgh5qjk4jsfcol0s66r647.apps.googleusercontent.com',
			cookiepolicy: 'single_host_origin',
			// Request scopes in addition to 'profile' and 'email'
			//scope: 'additional_scope'
			});
	    	//attachSignin(document.getElementById('my-signin2'));
		});*/
		
//showUserNotification();
		
	});
	var companyData;
	function show_confirm(){
	//var error = 'req get param';
		//var r=confirm("Would you like to continue with AD?");
		if(sessionStorage.count > 3){
			var r=confirm("	   User Does Not Exist.\n\n Are you Active Directory(AD) User ?");
			
			if(r==true){
					$("div#errorMsg").html("Please Enter company name");
					//var username = 'req get param';
			   		//var userPwd = 'req get param';
			   		$("#userName").val(username);
			   		$("#userPwd").val(userPwd);
				  	$('.companyName').css({'display':'block'});
				  	$.ajax({ 
				       	  url: "${path}/colAuth?pAct=getCompanyDetails",
						  error: function(jqXHR, textStatus, errorThrown) {
				         		checkError(jqXHR,textStatus,errorThrown);
				         		$("#loadingBar").hide();
								timerControl("");
								},
						 success:function(result){
						 	//console.log(result);
							 companyData=jQuery.parseJSON(result);
						  	 
						  }
			   		});
				  	
			}else{
			    $("div#errorMsg").html(error);
			 	
			}
		}else{
		    $("div#errorMsg").html(error);
		 	
		}
	}
	function showUserNotification(){
		$("div#notifUI").show();
		$("div#transparentDiv").show();
		$(".createTaskPopUpMainCls").css({"height":"auto", "top":"50%"});
		/*var temp  =" <div class='row' style='margin:0px;'>"
		           +"  <div class='col-lg-4' align='center' style='padding: 0px 5px;'> <img src='${path}/images/outage.gif' ></div>"
		           +"  <div class='col-lg-8' style='padding: 0px 5px; text-align: center;'> "
				   +"   <h3><b>MAINTENANCE ALERT</b></h3>"
				   +"   <span style='font-weight: bold;'>Kindly note that NEWTEST instance will be brought down in next 15 minutes for an emergency maintenance. <br><br><span style='font-size: 17px; font-weight: bold; color: darkred;'>It will resume by 1.30 PM EST.</span><br> <br>During this maintenance period, you will not be able to access NEWTEST.<br><br>Inconvenience caused regretted.</span>"
				   +"  </div>"
				   +"</div>"
				   */
				   
				   var temp  =" <div class='row' style='margin:0px;'>"
			           +"  <div class='col-lg-4' align='center' style='padding: 0px 5px;'> <img src='images/outage.gif' ></div>"
			           +"  <div class='col-lg-8' style='padding: 0px 5px; text-align: center;'> "
					   +"   <h3><b>MAINTENANCE ALERT</b></h3>"
					   +"   <span style='font-weight: bold;'><br>You may experience performance issues as the server undergoing maintenance <br><span style='font-size: 17px; font-weight: bold; color: darkred;'></span> <br><br>Inconvenience caused regretted.</span>"
					   +"  </div>"
					   +"</div>"   
				   
				$("div#notifUI").css({"width":"70%", "margin-top": "-15%", "margin-left": "-35%"});
				$("div#notifUI").addClass("packagePop");
			    $('div#container').html(temp);
			    
			    setTimeout(function(){
			       cancelregisterUIContainer();
			    },15000);
	}

	function cancelregisterUIContainer(){
   		$('div#notifUI').hide();
   		$("div#transparentDiv").hide();
   		
    }
function getMinute(m){
		return Math.floor(m/60);
	}	
	


 function backToLogin(){
    $('#loginDiv').show();
	$('#forgotPasswordDiv').hide();
	$("#forgotUname").val("");
	$("#for_capt").val("");
	$("#userName").val("");
	$("#userPwd").val("");
 }
 
  function enterKeyValid(event){
  		
  		
		if(event.keyCode == '13' ){
			if($('#email').is(":visible") && !$('#companyList').is(":visible")){
			test();
			}else{
	  		loginSubmit();
	  		}
		}
	}
	var companyNew_id = "";
	function loginSubmit(){
		/* sessionStorage.Mykronus = "N"; */
		$.urlParam = function(name){
			var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
			return results[1] || 0;
		}
		var url = window.location.href;
		
		$('#loadingBar').show();
		timerControl("start");
		var result;
	    var localOffsetTime=getTimeOffset();
	    $('#localOffsetTime').val(localOffsetTime);
		if( $("#userName").val() != null && $("#userName").val() != '' ){
		    $("#userName").css("border","1px solid #B2B2B2");
		   
			if( $("#userPwd").val() != null && $("#userPwd").val() != '' ){
			    $("#userPwd").css("border","1px solid #B2B2B2");
				var userName = $("#userName").val();
				//console.log("userName---" +userName)
				var userPwd = $("#userPwd").val();
				var email = $("#email").val();
				var loginAction = $('#loginAction').val();				
				var companyName = $("#companyName").val();	
				
				if(companyName != '' && loginAction !='saml'){
					
					$(".companyListContainer").hide();
					result = checkAD(companyName);
					if(result != 'failure'){
						
						var data=  JSON.parse(result);
						var dirCheckValue = data[0].dir_check_value;
						if(data.length == 1 && dirCheckValue =='Y'){ 
						var dirDomainName = data[0].dir_domain_name;
								var dirGroupName = data[0].dir_group_name;
									var groupName = adAuthUser(userName,userPwd,dirDomainName);
							    	if(groupName =='AException' || groupName =='CException'  ){
									    		if(groupName =='AException'){
									    		   $("div#errorMsg").html($.i18n("colabus-InvalUserPass"));
									    		   $("#companyName").hide();
									    		   $("#companyName").val('');
									    		   $('#loadingBar').hide();
												   timerControl("");
									    		 
									    		}else{
									    		   $("div#errorMsg").html('AD connection error');
									    		   $("#companyName").hide();
									    			
									    		}
									    	}else { 
							    				if(dirGroupName == groupName){
							    					alert("you are not colabus user, need to create user");
							    					//alert("companyName--"+companyName);
													AdUserRegistration("ad",userfName,userLName,userEmail,userPwd,companyName);
							    				}
										}
									
						  }else{
						  		$("div#errorMsg").html('Company Is not Integrated');
							    $("#companyName").hide();
							    $("#companyName").val('');
							    $('#loadingBar').hide();
								timerControl("");
						  }
				  }else{
				  			$("div#errorMsg").html('Company Does not exist');
							$("#companyName").hide();
							$("#companyName").val('');
							$("#companyName").val('');
							$('#loadingBar').hide();
							timerControl("");
				  }
				}else{
					var cookieUname = userName.replace(/\@/g,"");
					//console.log("cookieUname---" +cookieUname);
					if ($('#loginkeeping').attr('checked')) {
						 setCookie(""+cookieUname+"", userName,14);
				 		 setCookie(""+cookieUname+"p", userPwd,14);
				   		 setCookie(""+cookieUname+"r", true,14);
				 	} else {
						setCookie(""+cookieUname+"",null,1);
				 		setCookie(""+cookieUname+"p",null,1);
				   		setCookie(""+cookieUname+"r",null,1);
					} 
					$('#loadingBar').show();
					timerControl("start");
					setScreenProperties();

					if(url.indexOf("forward")>-1){
						var type = $.urlParam('forward'); 
						var ptype = type.split(";")[0]
						var projId =  type.split(";projId=")[1];
						var newprojId;
						if(projId.indexOf("%20")>-1){
							newprojId = projId.replace("%20"," ");
						}else{
							newprojId = projId;
						}
						console.log("projId--"+newprojId);
						document.getElementById('loginPage').action="${path}/colAuth?pAct=login&openId="+ptype+"&projId="+newprojId+"";
					}else{
						let postlog = apiPath+"/"+myk+"/v1/login";
						var companyNew_id =$('#hiddenCompanyName').val();
						console.log("---->"+companyNew_id);
						let postlogjson = {
							"loginName":userName,
							"password":userPwd,
							"loginDevice":"web",
							"loginAction":"",
							"eUserId":"",
							"hiddenCompanyName" : companyNew_id
						}  
						$.ajax({
							url: postlog,
							type:"POST",
							contentType:"application/json; charset=utf-8",
							data: JSON.stringify(postlogjson),
							error: function(jqXHR, textStatus, errorThrown) {
								checkError(jqXHR,textStatus,errorThrown);
								console.log(jqXHR.status);
								
								if(jqXHR.status == "401"){

									var usererrorinfo = JSON.parse(jqXHR.responseText);
									console.log("usererrorinfo-->"+usererrorinfo);
									errorCode = usererrorinfo.errorCode;
									data = usererrorinfo.companyList;
									console.log("errorCode-->"+errorCode);
									// console.log("data-->"+JSON.parse(data));
									if(errorCode == "usernameInvalid"){
										$("input#userName").css("border","1px solid red");
										$('#errorMsg').html("Invalid Username").css({ "margin-top": "-7%", "font-size": "15px" });
									}else if(errorCode == "userDisabled"){
										$("input#userName").css("border","1px solid red");
										$('#errorMsg').html("User is disabled").css({ "margin-top": "-7%", "font-size": "15px" });
									}else if(errorCode == "passwordInvalid"){
										$("input#userPwd").css("border","1px solid red");
										$('#errorMsg').html("Invalid Password").css({ "margin-top": "-7%", "font-size": "15px" });
									}else if(errorCode == "askEmail"){
										$('#errorMsg').html("Please Enter Valid Email Id").css({ "margin-top": "-7%", "font-size": "15px" });
									}else if(errorCode == "multipleIdExist"){
										// $('#errorMsg').html("Multiple IDs exist with same credential, please contact system administrator").css({ "margin-top": "-17%", "font-size": "15px" });
										var companyData = data;
										var emailUnique = true;
										var email;
										var temp =0; 
										$('#companyList').html('<option value="0">Select Company Name</option>');
										for(i=0; i< companyData.length;i++){ 
											
											if(email == companyData[i].email ){
												console.log("inside of email = email ");
												emailUnique = true;
												
											}else{
												temp++;
												emailUnique = false;
											}
											$('#companyList').append('<option value="'+companyData[i].company_id+'">'+companyData[i].company_name+'</option>');
											companyList = companyList+','+companyData[i].company_name
											email = companyData[i].email;
										}
										if(emailUnique == true && temp == 1){
											$("div#errorMsg").css({"display":"none"});
											$("#email").css({"display":"none"});
											$('.companyList').css({'display':'block'});
											$('#loginButton').attr('onclick','loginSubmit()');
										}else{
											
											$(".email").css({"display":"block"});
											$('.companyList').css({'display':'none'});
											$('#loginButton').attr('onclick','test()');
										}
									}

								}
								if(jqXHR.status == "500"){
									$('#errorListDiv').show();
									var errorMsg = '<h1 style="color: white;">Oops! An Error Occured</h1>'
									+'<h5 style="color: white;">Please try again later</h5>'
									+'<h6 style="color: white;">Go to <a onclick="redirect1();" href="#">Home</a> page.</h6>';
									$('#errorListDiv .iframePanel').html(errorMsg);
									$('#imgDiv,#frmDiv').hide();
								}
								$("#loadingBar").hide();
								timerControl("");
								
							},
							success:function(result){
								
								var jsondata = JSON.stringify(result);
								var userlogininfo = JSON.parse(jsondata);
								var ctype= userlogininfo.userRType;
								var rid = userlogininfo.roleId;
								window.sessionStorage.user = JSON.stringify(result);
								window.sessionStorage.oldpassword = userPwd;
								window.location.href = hostname+"/postlogin?pAct=home&roleid="+rid+"";
								$("#loadingBar").hide();
								timerControl("");
								
							}
						});
					}
				   
			 }
			}else{
				$('#loadingBar').hide();
				timerControl("");
				$("input#userPwd").css("border","1px solid red");
				$('#errorMsg').html($.i18n('colabus-EnterPassword'));
			}
		}else {
			$('#loadingBar').hide();
			timerControl("");
			$("input#userName").css("border","1px solid red");
			 $('#errorMsg').html($.i18n('colabus-EnterUsername'));
		}
		
	}
	
	function redirect1(){
		window.location.href = hostname+"/login";
	}

  	function setScreenProperties(){
		var w = $(window).width(),h = $(window).height(), dH = window.screen.height,dW = window.screen.width;
			var winW = 1024, winH = 768;
			if (document.body && document.body.offsetWidth) {
			 	winW = document.body.offsetWidth;
			 	winH = document.body.offsetHeight;
			}
			if (document.compatMode=='CSS1Compat' && document.documentElement && document.documentElement.offsetWidth ) {
			 	winW = document.documentElement.offsetWidth;
			 	winH = document.documentElement.offsetHeight;
			}
			if (window.innerWidth && window.innerHeight) {
			 	winW = window.innerWidth;
			 	winH = window.innerHeight;
			}
			
			if( typeof( window.innerWidth ) == 'number' ) { 
				//Non-IE 
				winW = window.innerWidth;
				winH = window.innerHeight; 
			
			} else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) { 
				//IE 6+ in 'standards compliant mode' 
				winW = document.documentElement.clientWidth; 
				winH = document.documentElement.clientHeight; 
			} else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) { 
				//IE 4 compatible 
				winW = document.body.clientWidth; 
				winH = document.body.clientHeight; 
			} 
			w = winW;
			h = winH;
			
			
	        //var browser = "all";
	        /* if($.browser.safari){
	        	browser = "safari";
	        }else if($.browser.chrome){
	        	browser = "chrome";
	        } */
	        $("#scrWidth").val(w);
			$("#scrHeight").val(h);
			$("#densWidth").val(dW);
			$("#densHeight").val(dH);
			//$("#bwrType").val(browser);
			
	}
	var secondCount = 0;
	function timerControl(status){
			if(window.handle){clearInterval(window.handle)};	
			var timercount = 0;
			if( status == "start" ){
				$("span#timerSpan").show();
				handle = setInterval(function(){
					timercount++;
					secondCount++;
					if( secondCount >= 60 ){
						secondCount = 0;
					}else{
						$("span#timerSpan").text(getMinute(timercount)+':'+secondCount);
					}			
				},1000);							
			}else{
				$("span#timerSpan").hide();
				$("span#timerSpan").text("");	
				timercount = 0;	
				secondCount = 0;		
			}		
		}
   function generatePass(){
		var userName = $("#userName").val();
		var cookieUname = userName.replace(/\@/g,"");
		/* if($.cookie(""+cookieUname+"p")!='null'){
			$("#userPwd").val($.cookie(""+cookieUname+"p"));
		} */
	}
	var remember =  getCookie('remember');
    if (remember == 'true') {
        var userName =getCookie('userName');
        var userPwd = getCookie('userPwd');
        // autofill the fields
        $('#userName').attr("value", userName);
        $('#userPwd').attr("value", userPwd);
        $("#userPwd").focus();
    }
    
    function setCookie(c_name,value,exdays){
		var exdate=new Date();
		exdate.setDate(exdate.getDate() + exdays);
		var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		document.cookie=c_name + "=" + c_value;
	}
	
	function getCookie(c_name){
		var i,x,y,ARRcookies=document.cookie.split(";");
		for (i=0;i<ARRcookies.length;i++){
	 	 x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
	 	 y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
	  	x=x.replace(/^\s+|\s+$/g,"");
	 	 if (x==c_name){
	 	   return unescape(y);
	 	 }
  		}
  	}
	
	function openGooglePage(){
		window.location.href = "${path}/WebRegisterOpenIdServlet?op=Google";
	}
	
	function openYahooPage(){
		window.location.href = "${path}/WebRegisterOpenIdServlet?op=Yahoo";
	}
	
	function openLoginGooglePage(){
		window.location.href = "${path}/WebLoginOpenIdServlet?op=Google";
	}
	
	function openLoginYahooPage(){
		window.location.href = "${path}/WebLoginOpenIdServlet?op=Yahoo";
	}
	
	function signupUserVal(email, user_login_name, logOrReg, firstname, lastname) {
	//alert("email-"+email+"-user_login_name-"+user_login_name+"-logOrReg-"+logOrReg+"-firstname-"+firstname+"-lastname-"+lastname);
		$.ajax({ 
	       	  url: "${path}/FBAuthentication",
			  type:"POST",
			  data:{userEmail:email, user_login_name:user_login_name, logOrReg:logOrReg, firstname:firstname, lastname:lastname,html:html},
			  error: function(jqXHR, textStatus, errorThrown) {
	         		checkError(jqXHR,textStatus,errorThrown);
	         		$("#loadingBar").hide();
					timerControl("");
					},
			 success:function(result){
				  //checkSessionTimeOut(result);
			  	window.location.href = "${path}/jsp/inviteList.jsp";
			  	parent.$('#loadingBar').hide();
			 	parent.timerControl("");
			  }
	   	});
	}
	
	function randomgen(){
        var rannumber='';
		var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
		for (var i=0; i< 6; i++) {
                var rnum = Math.floor(Math.random() * chars.length);
                rannumber += chars.substring(rnum,rnum+1);
        }
		$('#verifyNum').html(rannumber);
		$('#verifyNumHidden').val(rannumber);
	}    
   
   function securityLinkClicked() {
		    if ($('#forgotUname').val() == '') {
		    	//alertFun("<bean:message key='Please_enter_your_login_name'/>",'success');
		    	alert("Please enter your login name");
		        return false;
		    }
		   
		     $('#loadingBar').show();
		     timerControl("start");
		    
		   
		    var emailId = $('#forgotUname').val();
		    emailId = emailId.trim();
			
				$.ajax({
			        url: "${path}/forgotpassword.do",
			        type: "POST",
			        data: {act:"fCheckPinExists",emailId:emailId},
			        error: function(jqXHR, textStatus, errorThrown) {
				         	checkError(jqXHR,textStatus,errorThrown);
				         	$("#loadingBar").hide();
							timerControl("");
							},
			        success: function(data) {
			        	//checkSessionTimeOut(data);
			       // alert(data);
			        $('#loadingBar').hide();
			        timerControl("");
			            $('#overlay').hide();
			            var message = '';
			            var alertmsg;
			            
			            if (data == 'error') {
			               alert("Please enter correct details.");
			               randomgen();
			            }else if (data == 'fail') {
			               alert("Security code is not available.Please generate the Security code.");
			            }else {
			               $('#pinMsgTr').show();
			               var msg = "Please type / paste the security code (case sensitive) from your registered email to reset your password.";
			               $('#pinMsgDiv').html(msg);
			               $('#pinMsgDiv').show();
			               $('#pinNumberTr').show();
			               $('#okBtnTr').show();
			               $('#sendTr').hide();
			               $("#resetPassTxt").hide();
						   $("#emailAdd").hide();
						   $("#captchaVal").hide();
						   $(".formItemTxt").hide();
						   $('#emailIdPin').val(emailId);
						   //$('#pinNumber').val(data);
			               $('#for_capt').val("");
			               $('#forgotUname').val("");
			            }
			        }
			    });
			
		}

		
		function okPinBtnClicked(){
			if ($('#pinNumber').val() == '') {
				  //alertFun("<bean:message key='Enter_Pin'/>",'success');
		        alert("Enter security code");
		        return false;
		    }
		    $('#loadingBar').show();
		    timerControl("start");
		    var emailId = $('#emailIdPin').val();
		    var pinNumber = $('#pinNumber').val();
		    $.ajax({
		        url: "${path}/forgotpassword.do",
		        type: "POST",
		        data: {act:"checkPin",emailId:emailId,pinNumber:pinNumber},
		        error: function(jqXHR, textStatus, errorThrown) {
			         	checkError(jqXHR,textStatus,errorThrown);
			         	$("#loadingBar").hide();
						timerControl("");
						},	
		        success: function (data) {
		        	//checkSessionTimeOut(data);
		         $('#loadingBar').hide();
		         timerControl("");
		        	if(data == 'Accepted'){
		        		   $('#pinMsgDiv').hide();
			               $('#pinNumberTr').hide();
			               $('#okBtnTr').hide();
			               $('#sendTr').show();
			               $("#resetPassTxt").show();
						   	$("#emailAdd").show();
						   	$("#captchaVal").show();
						   	$('#login').hide();
							
							$('#forgotPasswordDiv').hide();
							$('#pinNumber').val("");
							$('#loginDiv').hide();
							$('#enterNewPasswordDiv').show();
		        	}else{
		        		alert("Invalid security code");
		        		$('#pinNumber').focus();
		        		return false;
		        	}
		        }
			});
		}
		
		
		function loadForPassCaptcha(){
			var img_name = new Array("archipelago.png","Java.png");
			var l = img_name.length;
			var rnd_no = Math.floor(l*Math.random());
			document.getElementById('forCapImage').src = "images/website_old/"+img_name[rnd_no];
			$('#forImageName').val(img_name[rnd_no]);
		}	
	
	//To get local time zone offset.	
	function getTimeOffset(date){
	//DST Prototypes for detecting DST
		Date.prototype.stdTimezoneOffset = function() {
		    var jan = new Date(this.getFullYear(), 0, 1);
		    var jul = new Date(this.getFullYear(), 6, 1);
		    return Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset());
		}
	
		Date.prototype.dst = function() {
		    return this.getTimezoneOffset() < this.stdTimezoneOffset();
		}
	   // for changing java script UTC to GMT with detecting DST
		var d = new Date();
	    var s = d.toString().split('GMT')[1].split('(')[0];
	
		var a = s;
			a = s.substr(1,2);
		var b = s.substr(3,4); 
		if(a > 0){
		  if (d.dst()) {
		    a = parseInt(a)+1;
		  }
		  a= a*60*60;
		}
		b = b*60;
		a = a+b;
		if(s < 0){
		  a ='-'+a;
		} 
		 return a;	
  }
  
  function changeScreens(){
  	$("div#loginDiv").hide();
  	$("div#priceDiv").hide();
  	randomgen();
  	$("div#forgotPwdScreen").show();
  	$("input#forgotUname").val($("input#userName").val());
  	$(".companyList").css({'display':'none'});
  	$('#forgetBack').attr('onclick','goToLogin()');
  }
  
  function goToLogin(){
  	$("div#forgotPwdScreen").hide();
  	$("div#loginDiv").show();
  	$("input#userName").val($("input#forgotUname").val());
  	$("div#priceDiv").show();
  	$("input#userPwd").val("");
  }
  
   function randomgen(){
    var rannumber='';
	var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
	for (var i=0; i< 6; i++) {
               var rnum = Math.floor(Math.random() * chars.length);
               rannumber += chars.substring(rnum,rnum+1);
       }
	$('#verifyNum').html(rannumber);
	$('#verifyNumHidden').val(rannumber);
	} 
	
	function okayBtnClicked() {
			$('#loadingBar').show();
		    timerControl("start");
			//var capcha_visible=$('#for_capt').val().trim();
		    //var capcha_hidden=$('#verifyNumHidden').val().trim();
		    var userLogInName = $("input#forgotUname").val();
		    var userEmail = $("input#forgotEmail").val();
		    var userCompany = $('#companyListForget').children("option:selected").val();
		    $("input#userIdHidden").val($("input#forgotUname").val());
		    if ($('input#forgotUname').val() == '') {
		    	//alertFun("<bean:message key='Please_enter_your_login_name'/>",'success');
		    	alert("Please enter your Login Name");
		        return false;
		    }
		    if ($('input#forgotEmail').val() == '') {
		    	//alertFun("<bean:message key='Please_enter_your_login_name'/>",'success');
		    	alert("Please enter Email Id");
		        return false;
		    }
		    /*
		    if(capcha_visible==""){
		      alert("Please enter the captcha value");
		      $('#for_capt').focus();
		      return false;
		    }
		    else if ( capcha_visible != capcha_hidden) {
		    	  //alertFun("<bean:message key='Please_enter_the_captcha_value'/>",'success');
		    	alert("Please enter the correct captcha value");
		    	$('#for_capt').val("");
		    	$('#for_capt').focus();
		    	randomgen();
		        return false;
		    }
		    */
			
			$.ajax({
					url: "${path}/colAuth?pAct=forgotpassword&emailId="+userLogInName+"&userEmail="+userEmail+"&userCompany="+userCompany,
			        type: "POST",
			        error: function(jqXHR, textStatus, errorThrown) {
				         	checkError(jqXHR,textStatus,errorThrown);
				         	$("#loadingBar").hide();
							timerControl("");
							},
			        success: function(data) {
			        	//checkSessionTimeOut(data);
			            if (data == 'Accepted') {
			            	$("div#okayBtnDiv").hide();
			            	$("div#forgotUnameDiv").hide();
			            	$("div#for_captDiv").hide();
			            	$('.companyList').css({'display':'none'});
			            	$("div#pinMsgDiv").show();
			            }
			            else if (data == 'Rejected') {
			                //alertFun("<bean:message key='Please_enter_correct_details'/>",'success');
			                //alert("Please enter correct details");
			                alert("Please enter valid User Id");
			                //randomgen();
			            }else if (data == 1){
			            	  alert("Please enter Valid Email Id");
			            }else if (data == 'adRejected'){
			            	  alert("You cannot reset the password because this company is integrated to Active Directory");
			            }else{
			            	$('.companyList').css({'display':'block'});
			            	data1=  JSON.parse(data);
			            	var companyData = data1.Company;
		   					$('#companyListForget').html('<option value="0">Select Company Name</option>');
			      			for(i=0; i< companyData.length;i++){ 
				    			$('#companyListForget').append('<option value="'+companyData[i].companyId+'">'+companyData[i].company+'</option>');
								companyList = companyList+','+companyData[i].company
							 }
			            	
			            }
			        }
			    });
		}
		
		function resetPasswordClicked(){
		   var nPwd=$('#new_password').val().trim();
		   var cPwd=$('#confirm_password').val().trim();
		   var userId = $("input#userIdHidden").val();
		   var userLoginName = getUrlParameter('userLoginName');
		   var companyId = getUrlParameter('companyId');
		   //alert("userId--"+userId);
		  // alert("userLoginName--"+userLoginName);
		   //alert("companyId--"+companyId);
		   if(nPwd!=cPwd){
		     alert("Please enter the correct password");
		     $('#confirm_password').val("");
		     $('#confirm_password').focus();
		     return false;
		   }
		   $('#loadingBar').show();
		   timerControl("start");
		    $.ajax({
		   // url: "${path}/colAuth?pAct=resetPassword&emailId="+userloginName+"&newPwd="+cPwd,
		   	url: "${path}/colAuth?pAct=resetPassword&emailId="+userId+"&newPwd="+cPwd,
			type: "POST",
			error: function(jqXHR, textStatus, errorThrown) {
		         	checkError(jqXHR,textStatus,errorThrown);
		         	$("#loadingBar").hide();
					timerControl("");
					},
		    success: function (data) {
		    	//checkSessionTimeOut(data);
		         $('#loadingBar').hide();
		         timerControl("");
		        	if(data == 'success'){
		        		   alert("Password reset successfully.");
		        		   $('#pinMsgDiv').hide();
			               $('#pinNumberTr').hide();
			               $('#okBtnTr').hide();
			               $('#sendTr').hide();
			               $("#resetPassTxt").hide();
						   $("#emailAdd").hide();
						   $("#captchaVal").hide();
						   $('#login').hide();
						   $('#forgotPasswordDiv').hide();
						   $('#pinNumber').val("");
						   $('#enterNewPasswordDiv').hide();
		   					//autoLogIn(userId,cPwd);
		   					autoLogIn(userLoginName,cPwd,companyId)
		        	}else{
		        	    // $('#loadingBar').hide();
		                // timerControl("");
		        		 alert("Failed to reset password.");
		        		 return false;
		        	}
		        }
			});
		}
		
	/*	function autoLogIn(emailId,cPwd){
		    var localOffsetTime=getTimeOffset();
		    $('#localOffsetTime').val(localOffsetTime);
			var emailId =  $("input#userIdHidden").val();
			var cookieUname = emailId.replace(/\@/g,"");
			setCookie(""+cookieUname+"", emailId,14);
	 		setCookie(""+cookieUname+"p", cPwd,14);
	   		setCookie(""+cookieUname+"r", true,14);
			setScreenProperties();
			$("input#userName").val(emailId);
		   	$("input#userPwd").val(cPwd);
		    document.getElementById('loginPage').action="${path}/colAuth?pAct=login&google=normal";
			document.getElementById('loginPage').submit();
	  }
	  */
	  
	  function autoLogIn(emailId,cPwd,companyId){
       // alert("companyId--"+companyId);
        var localOffsetTime=getTimeOffset();
	    $('#localOffsetTime').val(localOffsetTime);
		var cookieUname = emailId.replace(/\@/g,"");
		setCookie(""+cookieUname+"", emailId,14);
 		setCookie(""+cookieUname+"p", cPwd,14);
   		setCookie(""+cookieUname+"r", true,14);
		setScreenProperties();
		$("input#userName").val(emailId);
	   	$("input#userPwd").val(cPwd);
	   	$("input#hiddenCompanyName").val(companyId);
	    document.getElementById('loginPage').action="${path}/colAuth?pAct=login&openId=normal";
		document.getElementById('loginPage').submit();
  }
	  
	  function showResetPassword(){
	   var iOS = (navigator.userAgent.match(/(iPad|iPhone|iPod)/g) ? true : false );
	   var android = navigator.userAgent.toLowerCase().indexOf("android") > -1;
	   var userloginName = $("input#userIdHidden").val();
	   if (iOS){
	   		//for testing purpose 
	   		$("div#loginDiv").hide();
	   		$("div#priceDiv").hide();
	   	 	var appUrlScheme = "colabusiosapp://?userId="+userloginName+"";
   			setTimeout(function() {
   			window.location = "itms://itunes.apple.com/in/app/colabus/id558483800?mt=8";
   			}, 2000);
    		window.open(appUrlScheme,"_self")
    	} 
    	else if(android){
    		$("div#loginDiv").hide();
    		$("div#priceDiv").hide();
    		
    	}
    	else {
        	$("div#loginDiv").hide();
		  	$("div#forgotPwdScreen").hide();
		  	$("div#resetPwdDiv").show();
		  	$("div#priceDiv").hide();
    	}
	}
	  
	  
	 
	/*
	*
	*
	*
	Google Sign In functions
	*
	*
	*
	*/
	  
	// function onSignIn(googleUser) {
	// 	var profile = googleUser.getBasicProfile();
	// 	/* console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
	// 	console.log('Name: ' + profile.getName());
	// 	console.log('Image URL: ' + profile.getImageUrl());
	// 	console.log('Email: ' + profile.getEmail()); */
	// 	// The ID token you need to pass to your backend:
    //     var id_token = googleUser.getAuthResponse().id_token;
    //     //console.log("ID Token: " + id_token);
    //     calGoogleOpenIdReg(id_token);
    //  }

  	// function calGoogleOpenIdReg(id_token){
  	// 	var xhr = new XMLHttpRequest();
  	// 	/*ClientId for localhost  */
	//   //  var clientId='565436098961-3e7ap83f3lsgh5qjk4jsfcol0s66r647.apps.googleusercontent.com';
	//         /*ClientId for beta - newtest - live  */
	//     var clientId = "600085561886-e86d3mujjckn6statiaf636asn7vum5o.apps.googleusercontent.com";
  	// 	xhr.open('POST', "https://www.googleapis.com/oauth2/v3/tokeninfo?id_token="+id_token+"");
  	// 	xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  	// 	xhr.onload = function() {
	//   		//console.log('Signed in as: ' + xhr.responseText);
	//  		var response = xhr.responseText;
	//   		response = "["+response+"]";
	//   		//alert("----"+ JSON.stringify(response));
	//   		var jsonResponse = jQuery.parseJSON(response);
	//   		var json = eval(jsonResponse);
	//   		var idToken = id_token;
	//   		var iss = json[0].iss;
	//   		var at_hash = json[0].at_hash;
	//   		var aud = json[0].aud;
	//   		var sub = json[0].sub;
	//   		var email_verified = json[0].email_verified;
	//   		var azp = json[0].azp;
	//   		var email = json[0].email;
	//   		var iat = json[0].iat;
	//   		var exp = json[0].exp;
	//   		var given_name = json[0].given_name;
	//   		var family_name = json[0].family_name;
	//   		var alg = json[0].alg;
	//   		var kid = json[0].kid;
	//   		/* console.log(iss);
	//   		console.log(at_hash);
	//   		console.log(sub);
	//   		console.log('email_verified' +email_verified);
	//   		console.log(azp);
	//   		console.log(email);
	//   		console.log(iat);
	//   		console.log(exp);
	//   		console.log(given_name);
	//   		console.log(family_name);
	//   		console.log(alg);
	//   		console.log(kid); */
	//   		if(aud == clientId && email_verified == "true"){
	//   			var cookieUname = email.replace(/\@/g,"");
	//   			setCookie(""+cookieUname+"",null,1);
	// 	 		setCookie(""+cookieUname+"p",null,1);
	// 	   		setCookie(""+cookieUname+"r",null,1);
	// 	   		$('#loadingBar').show();
	// 			timerControl("start");
	// 			setScreenProperties();
	// 			verifyUser(sub,email,given_name,family_name,'googleLogin');
				
	//   		}
  	// 	};
  	// 	xhr.send('idtoken=' + id_token);
  	// }

  	function verifyUser(id, email, first_name, last_name, loginAction){
  		$('#loadingBar').show();
		timerControl("start");
		$("input#userName, input#userPwd").val("");
		//console.log("In verify user");
		var registerDevice="web";
		var openId="";
		$.ajax({
  			url: "${path}/GoogleOpenIdAuthentication",
			type:"POST",
			data:{action:loginAction,id:id, email:email, first_name:first_name, last_name:last_name,registerDevice:"web"},
			error: function(jqXHR, textStatus, errorThrown) {
		         	checkError(jqXHR,textStatus,errorThrown);
		         	$("#loadingBar").hide();
					timerControl("");
					},
			success:function(result){
				//checkSessionTimeOut(result);
				 $("input#userName").val(id).css("color","#ffffff");
			    $("input#userPwd").val("welcome").css("color","#ffffff");
			    if(loginAction=="googleLogin"){
			    	openId = "Google";
			    }else if(loginAction=="facebook"){
			    	openId = "Facebook";
			    }
			    document.getElementById('loginPage').action="${path}/colAuth?pAct=login&openId="+openId+"";
		        document.getElementById('loginPage').submit();
		        $('#loadingBar').hide();
				timerControl("");
			}
  		});
  		
  	}
 	function checkAD(companyName){
 	
	var checkValue;
	$.ajax({
  			url: "${path}/colAuth?pAct=checkAD&comapanyName="+companyName,
			type:"POST",
			async: false,
			error: function(jqXHR, textStatus, errorThrown) {
			         	checkError(jqXHR,textStatus,errorThrown);
			         	$("#loadingBar").hide();
						timerControl("");
					},
				success:function(result){
					checkValue= result;
				}
		  });  
		return checkValue;
	}
 	var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
  };
  
  function adAuthUser(userName,userPwd,domain){
  		$("#loadingBar").show();
		timerControl("start");
		//console.log("In verify user");
		var groupName;
		$.ajax({
  			url: "${path}/adAutentication",
			type:"POST",
			async: false,
			data:{userName:userName,userPwd:userPwd, domain:domain},
			error: function(jqXHR, textStatus, errorThrown) {
		         	checkError(jqXHR,textStatus,errorThrown);
		         	
					},
			success:function(result){
			$("#loadingBar").hide();
			timerControl("");
			if(result=='AException'){
				groupName = "AException";
			}else if(result=='CException') {
				groupName = "CException";
			}else{
				var data = result.split("@@");
				var userFirstName= data[0].toString();
				userfName = userFirstName.substr(0,userFirstName.trim().indexOf(' ')+1).trim();
				userLName = userFirstName.substr(userFirstName.trim().indexOf(' ')+1).trim();
				userEmail= data[1].trim();
				groupName= data[2];
				var loginNameExists= data[3].toString();
				//alert("userfName---"+userfName);
				//alert("email---"+userEmail);
				//alert("loginNameExists---"+loginNameExists);
				//alert("groupName---"+groupName);
			}
		/*	if(result != ""){
			var t =result.split(",",1);
			var v =t.toString().split(":");
			groupName = v[1].toString();
			var data = result.split("@@");
			var loginNameExists = data[1];
			var userFirstName= data[2].toString();
			userfName = userFirstName.substr(0,userFirstName.trim().indexOf(' ')+1).trim();
			userLName = userFirstName.substr(userFirstName.trim().indexOf(' ')+1).trim();
			userEmail= data[3].toString().trim();
			//var loginNameExists = result.substr(result.length - 1);
			groupName=groupName.concat(":"+loginNameExists);
			}else if (result=='Exception'){
				groupName = "exception";
			}else{
			groupName ="notExist";
			} */
			}

  		});
  		return groupName;
  	}
	function AdUserRegistration(loginType,fName,lName,userEmail,pwd,companyName){
  	  			var userId = $("#userName").val();
  	 			var orgName = companyName;
  				  
 			    var fname ="";
  	 			var lname = "";
  				var email ="";
  				var timezone = "";
  				   
  	 			//if(loginType=="saml"){
  	 			//	fname = fName;
  	 			//	lname = lName;
  	 			//	email = eMail;
  	 			//}else{
  	 				fname = fName;
  	 				lname = lName;
  	 				pwd   = pwd;
  	 				email = userEmail;
  	 				
  	 			//}
  	 			   
  				   
  				   var localOffsetTime=getTimeOffset(new Date());
			       var registerDevice="web";
  				  
  					$('#loadingBar').show();
  	                timerControl("start");
  	               //alert("before ajax");
  					$.ajax({
  					    url: "${path}/colAuth?pAct=adUserRegister&localOffsetTime="+localOffsetTime+"&lname="+lname+"&fname="+fname+"&userId="+userId+"&email="+email+"&orgName="+orgName+"&timezone="+timezone+"&registerDevice="+registerDevice+"&pwd="+pwd,
  						type:"POST",
  						error: function(jqXHR, textStatus, errorThrown) {
  					         	checkError(jqXHR,textStatus,errorThrown);
  					         	$("#loadingBar").hide();
  								timerControl("");
  								},
  						success:function(result){
  							//alert("sucess");
  							//alert("result--"+result);
  							var data = result.split('@@');
  							$('#loadingBar').hide();
  			        		//alert("userId in--"+result);
  			        		var userLoginName = data[0];
  			        		var password = data[1];
  			        		var companyId = data[2];
  							autoLogIn(userLoginName,password,companyId);
  								
  					    }
  				    });
  				    
  		}
</script>


 <!-- Jquery-2.2.4 JS -->
    <!-- Popper js -->
    <script src="scripts/mainJs/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- All Plugins JS -->
    <script src="scripts/mainJs/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="scripts/mainJs/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <!-- <script src="js/footer-reveal.min.js"></script> -->
    <!-- Active JS -->
    <script src="scripts/mainJs/active.js"></script>



</body>

</html>
