<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Openid app's client ID-->
<meta name="google-signin-client_id" content="565436098961-3e7ap83f3lsgh5qjk4jsfcol0s66r647.apps.googleusercontent.com">

<title id='t'>Colabus</title>
<link REL="SHORTCUT ICON" id="favicon" HREF="images/favicon.ico">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--
<link href="css/styles/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/styles/bootstrap.min.css" rel="stylesheet" />
<<script type="text/javascript" src="scripts/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap.js"></script> -->
<!-- <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.4.1.js"></script>  -->

<script type="text/javascript" src="scripts/jquery-scrolltofixed.js"></script>
<script src="scripts/si.files.js"></script>
   <!-- --------------------custom css & js----------------------------- -->
<link rel="stylesheet" href="css/styles/colabusApp.css">
<script type='text/javascript' src='scripts/colabusApp.js'></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" type="text/css" href="css/styles/hopscotch.css" />

<!------------------------------// custom scrollBar //-------------------------->
<!---------------------------------------------// custom scrollBar //-------------------------->
<script type='text/javascript' src='scripts/jquery.mCustomScrollbar.min.js'></script>
<script type='text/javascript' src='scripts/jquery.mousewheel.min.js'></script>
<script type="text/javascript" src="scripts/TweenLite.min.js"></script>
<script type="text/javascript" src="scripts/CSSPlugin.min.js"></script>
<script src="scripts/email_validate.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles/jquery.mCustomScrollbar.css" />

<script src="scripts/hopscotch.js"></script>
<script src="scripts/hoppy.js"></script><!--  define and start your tour in this file 	-->
<script src="scripts/information.js"></script><!--  define and start your tour in this file -->

<script type="text/javascript" src="scripts/strophe.min.js"></script>
<script type="text/javascript" src="scripts/globalSearch.js"></script>
<script type="text/javascript" src="scripts/addUserPopup.js"></script>
<script type="text/javascript" src="scripts/uploadFromGallery.js"></script>
<script type="text/javascript" src="scripts/chatConversation.js"></script>
<script type="text/javascript" src="scripts/chat.js"></script>
<script type="text/javascript" src="scripts/groupChat.js"></script>
<script type="text/javascript" src="scripts/chat_desktop_notification.js"></script><!-- for chat notifications -->
<!--  <script type="text/javascript" src="${path}/scripts/desktop_notfication.js"></script>-->

<!-- For Image Cropping and edting profile pic plugin -->
<script type="text/javascript" src="scripts/cropper.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles/cropper.css" />

<!-- Voice common file -->
<script type="text/javascript" src="scripts/voiceValidation.js"></script>

<!-- Plugin used for changing user name with name badge if the user image is not uploaded -->
<script type="text/javascript" src="scripts/initial.min.js"></script>
<style>
	@media only screen and (max-width: 40em) {
	   #welcome-Data{
	      left: 2% !important;
	      width: 96% !important;
	      margin-top:0px;
	   }
	   #welcome-Data .viola-contentDiv{
	      height: 60% !important;
	   }
	   #ch-pwd-div, #cong-user-div{
	     padding:0px !important;
	   }
	   #viola-userDetail-div{
	     border-bottom: 1px solid rgb(221, 221, 221);
	     border-right: none !important;
	   }
	   #cassandraInputBox{
	   	 left: 112px;
	   	 width: 130% !important;
	   }  
	}

 .subMenuList ul li:hover{
	box-shadow: none;
}

.tRadio li:hover{
	box-shadow: none;
}

.uProfileImageOptionUl li:hover{
	box-shadow: none;
} 

input[id="idToDisplaySpeechText"]::placeholder {
  	direction:ltr;
}

input[id="idToDisplaySpeechText"]{
	direction:rtl;
}  

input[id="idToDisplaySpeechText"]:focus{
	direction:ltr;
}

input[id="idToDisplaySpeechText"]:not(:focus){
	direction:ltr;
}

#demoFrameNew {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

</style>

<script type="text/javascript">
     var d="";
	 var w = 0;
	 var userId="";
	 var wHeight ='';
	 var path='';
	 var lighttpdPath='';
	 var userImgType='';
	 var userFullName='';
	 var userEmail='';
	 var companyId='';
	 var companyName='';
	 var companyImgType ='';
	 var userRegType='';
	 var userRType='';
	 var companyLabels ='';
	 var companyAlerts='';
	 var contactPermission='';
	 var companyType='';
	 var companyPlan = '';
	 var proEnterprise='';
	 var proStandard ='';
	 var proProjects='';
	 var proAgile='';
	 var proIdeas ='';
	 var proMyZone='';
	 var proRepo='';
	 var proCalendar='';
	 var data='';
	 var jsonDataProfile ='';
	 
     var fileExtension = "0";
	 var uPhotoId = '';
	 var uDefaultType = '';
	 var fileName = '';
     var userRoleId="";
     var logbug_integrated ='';
	 var isiPad = "";
	 var vertiScrollBar = false;
	 var ID ='';
	 var newPrjId='';
	 var globalSearchTxt='';
	 var userCreateStatus="";
	 var profileImgProfileFlag = false;
	 var projectImgUploadFromSysFlag = false;
	 var chatwindow = "";
	 var isChrome  = navigator.userAgent.indexOf('Chrome') > -1;
	 var w="";
	 var dirCheckValue ='';
	 var test = 'Y';
	 
	 var disableCassandra="";
	 var latitude="";
	 var longitude="";

	 var userIdglb="";
	 var lighttpdpath = "";
	var sessionmaxAge = "";
    var sessionexp = "";
	var cookiehistory = "";
	var sessionid = "";
	var userImgType = "";
	var companyIdglb = "";
	var hostname = getDomain();
	var apiPath = '<%=process.env.apiPath%>';
	var myk = '<%=process.env.mykronus%>';
	var userroleid = "";
	var ctype = "";
	var webexValue ='';
	var traillogin='';
	var userfirstname='';
	var lighttpdpath = "";
	var sessionmaxAge = "";
    var sessionexp = "";
	var cookiehistory = "";
	var sessionid = "";
	var roleid = '<%-JSON.stringify(roleid)%>';
	var pAct = '<%-JSON.stringify(pAct)%>';

	//conversation page variables
	 var projectId = "";
	 var projType = "";
	 var projtName = "";
	 var projImgSrc = "";
	 var projectUsersStatus = "";
	 var archivedstatus = ""; 
	 
	 var actfeedIdPos = "0";
	 var ipadVal = "";
	 var jsonData = "";
	 var notFolid = "";
	 var limit = "";
	 var jsonDataSub="";
	 var feedId ='';
	 var newpath="";
	 var feedID='';
	 var replycomment="";
	 var duration;
	 var music;
	 var startTime;
	 var timeOut;
	 var replyFunction = '';
	 var URLForDownLoad = '';
	 var feedEditId="";
	 var feedcommentval = "";
	 var NotificationType = "";
	 var NotificationTaskId = "";
	 var notftaskCommentedBy="";
	 var notifTaskCmtType="";
	 var taskSourceId= "";
	 var NotificationId="";
	 var from="";	
	 var refreshTimer;


	 var prjid = "";
	 var convotype=""; 
	 
	
	$(function(){
		//gLocation();
		//alert("place--"+companyAlerts);

		if(window.sessionStorage.user){
			var userinfo = JSON.stringify(window.sessionStorage.user);
			var userlogininfo = JSON.parse(window.sessionStorage.user);

			console.log("userinfo-->"+userinfo);
		}else{
			window.location.href= hostname+"/login";
			alert("Please Login");
		}

		lighttpdpath = '<%=process.env.lighttpdpath%>';
		sessionmaxAge = '<%-JSON.stringify(sessionmaxAge)%>';
		sessionexp = '<%-JSON.stringify(sessionexp)%>';
		sessionid = '<%-JSON.stringify(sessionid)%>';
		sessionexp = sessionexp.split("\"")[1];
		pAct=pAct.split("\"")[1];

		//alert("sessionmaxAge-->"+sessionmaxAge+"<--sessionexp-->"+sessionexp);userinfo
		userinfo = userlogininfo.fullName;
		userfirstname = userlogininfo.firstName;
		userIdglb = userlogininfo.userId;
		userImgType = userlogininfo.userImageType;
		companyIdglb = userlogininfo.companyId;
		loginName = userlogininfo.loginName;
		userroleid = userlogininfo.roleId;
		traillogin = userlogininfo.traillogin;
		companyImageType = userlogininfo.companyImageType;
		ctype = userlogininfo.userRType;
		webexValue = userlogininfo.webexValue;
		userRegType = userlogininfo.userRegType;

		sessionStorage.count = -1;
	
	    $("#record-stopped").click(function(){
			$("#idToDisplaySpeechText").attr("placeholder", getValues(companyLabels,"Say_Cassandra"));	    
	    });
	    	
	    $("#record-started").click(function(){
			$("#idToDisplaySpeechText").attr("placeholder", getValues(companyLabels,"Talk_Cas"));
	    });

		d = new Date();
		custlabel();
		custalert();
		 
	    
	    //-------
	    /* var enotid = 'req get param';
	     if(enotid !== 'null'|| enotid == '')
	    	 {
	    	 enotifyId(enotid);
	    	 }else {
	    	 } */
	    
	    if(pAct == "home"){
			 loadSubPageContent('home');	
		}


		 isiPad = navigator.userAgent.match(/iPad/i) != null; 
		 fileExtension = userImgType;
		 chatwindow = "";
		 showUserWelcomepopup();
		 profileImgProfileFlag = false;
		 projectImgUploadFromSysFlag = false;
	     String.prototype.replaceAll = function(token, newToken, ignoreCase) {
		 var str, i = -1, _token;
		 if ((str = this.toString()) && typeof token === "string") {
			_token = ignoreCase === true ? token.toLowerCase() : undefined;
			while ((i = (_token !== undefined ? str.toLowerCase().indexOf(
					_token, i >= 0 ? i + newToken.length : 0) : str.indexOf(
					token, i >= 0 ? i + newToken.length : 0))) !== -1) {
				str = str.substring(0, i).concat(newToken).concat(
						str.substring(i + token.length));
			}
		}
		 return str;
	    };
		 if ($(window).width() > 1440) {
	       // alert('Please download an app to use colabus.');
	       $("#helpDropdownList").css('min-width','200px');
	       $(".searchIconDiv").css('padding','0px 5px 0px 20px');
	     }
	     if ($(window).width() < 767) {
	        //showSearchInputDiv();
	        $("#SearchMainLower").show();
	        $("#SearchMainLowerImgId").show();
	     }else{
	        $("#SearchMainLower").hide();
	        $("#SearchMainLowerImgId").hide();
	     }
	     
		 $('#header_outer').scrollToFixed();
	     $(window).bind('scroll', function() {
	         if ($(window).scrollTop() > 0) {
	             $('#header_outer').addClass('fixed');
	         } else {
	             $('#header_outer').removeClass('fixed');
	         }
	     });
	      h=$(window).height();
     	  var hCHeight = eval(h)-60;
          $("div#menuListDiv").css("height",hCHeight);
	      $('img#profileImg').attr("src",lighttpdpath+"/userimages/"+userIdglb+"."+userImgType+"?"+d.getTime());
      	  $("#profileImg").attr('title',replaceSpecialCharacter(userinfo));
	      $('img#home').attr("src",lighttpdpath+"/organization_images/"+companyIdglb+"."+companyImgType+"?"+d.getTime());
	      $('img#home').on("load",function(){
	      	$(this).css('visibility','visible');
	      });
	      
	     
	     $("body").click(function(event ){
	        var $target = $(event.target);
            if(!$target.is("#listMenuIcon") && !$target.is(".menuListDivCls") && !$target.is("#listMenuImg")){
                $("#menuListDiv").slideUp("slow");
                $("#listMenuIcon").attr('onclick','listMenus()');
            }
            if(!$target.is(".popUpContent") && !$target.is("#createNewProject") && !$target.is("#startNewProject") && !$target.is(".popUpContent")){
            	
            }
            if(!$target.is(".serachMainDivCls")){
            	$("body").find("#hashTagSearchInputBox").hide();
            }
            if(!$target.is(".headerWidCls")){
            	$("body").find(".cassandraCallout").hide();
            }
            if(!$target.is("#cassandraInputBox")){
            	$("body").find("#cassandraSearchInputBox").hide();
            }
            if(!$target.is("#Profile_Upload") &&  !$target.parents().is("#Profile_Upload") && !$target.is("#upload_profile") &&  !$target.parents().is("#upload_profile")){
	           $("body").find("#Profile_Upload").hide();
	        }
	         
 			if(!$target.is(".glSearchCls") &&  !$target.parents().is(".glSearchCls") && !$target.is("#SearchMainLower") &&  !$target.parents().is("#SearchMainLower")){
 			 if ($(window).width() < 767) {
                hideSearchBoxLower();
	          }
 			}
            
          /* if( (sessionStorage.chatBoxOnLogin == "" || sessionStorage.chatBoxOnLogin == undefined || sessionStorage.chatBoxOnLogin == null) && sessionStorage.chatBoxOnLogin != "login"){  
        	  sessionStorage.chatBoxOnLogin == "login";
        	  openChatWindow();
           } */
            

	     });
	    
   	    $("#upload_link_new").on('click', function(e){
   	        e.preventDefault();
   	        e.stopPropagation();
   	        $("#Project_Upload").slideToggle("slow", function(){
			     $(this).css('overflow','');
			});
   	      //  $("#filename:hidden").trigger('click');
   	        
   	    });
   	 
 	if(isChrome){
 		$('#cassandraInputBox').show(); 
 		$("#idToDisplaySpeechText").attr("placeholder", getValues(companyLabels,"Talk_Cas"));
 		var disableCassandraFlag = localStorage.getItem("disableCassandraFlag");
 		
 	    if(disableCassandraFlag !=null && typeof(disableCassandraFlag) !=='undefined' && disableCassandraFlag =="true"){
 	    	$("#idToDisplaySpeechText").attr("placeholder", "Say Cassandra");
 	    	recognizationToggleStart('','globalVoicePost','globalVoicePost','');
 	 		loadVoices(); 
 	    }
 	}
   	 
   	  $("#uploadProjectImage").on('click', function(e){
 	        e.preventDefault();
 	        e.stopPropagation();       
 	        $("#filename:hidden").trigger('click');
 	        
 	    });
   	    
   	    
	    $('#filename:hidden').change(function(e){
	    	var upload = $('#filename').val();
	    	$('#workspaceImgUploadForm').data('obj',this);
   	        $('#hideDiv').data('imgName',upload);
   	        $('#Project_Upload').hide();
	    }); 
   	  
	   $('#privacyImg').click(function(){
		 if($(this).attr('value') == 'private'){
			 $(this).attr('src','images/public.png').attr('value',getValues(companyLabels,"PUBLIC")); 
		 }else{
			 $(this).attr('src','images/private.png').attr('value',getValues(companyLabels,"PRIVATE"));
		 }
	   }); 
	   ///$("input#userId").val(userFirstName);
	   
	   $('#transparentDiv').click(function(){  /* This code block is to hide all the pop ups onclick of transparent divs */
		   $('#userDetailpopUp, #transparentDiv,#saveFilePopup, #userProfileImagePopup').hide(); 
		   closePopup();
	   });
	   
	   
	   var chatFlashStatusFlag = localStorage.getItem("chatFlashStatusFlag");
	   if(chatFlashStatusFlag !=null && typeof(chatFlashStatusFlag) !=='undefined' && chatFlashStatusFlag =="true"){
	    	setChatFlash();
	   }
	   
	   if(projectListComm == "" || projectListComm == null || typeof(projectListComm) =='undefined'){
			   showProjectListComm();
	   }
	   // This code block is to open the chat box on click of chat icon 
	   $('#chatNotMain').on('click',function(){
		 	//console.log("sessionStorage.name--"+sessionStorage.name);
		   //if(sessionStorage.name == "chatBoxClosed" || sessionStorage.name == "" || sessionStorage.name == undefined){ // if chat box which opened at login time is closed by users 
		  // if(sessionStorage.name == "chatBoxClosed"){
		       if(chatFlashStatus!=null){
		          resetChatFlash();
		       }
		       if(webexValue=="N"){
		      	 openChatWindow("click");
		       }else{
		       		window.open('https://teams.webex.com/signin','_blank');
		       }
		       
		      // }
		//   else{
		   
			/*  w.resizeTo(370, 630);
	  		 w.moveBy(1050,220);  */
	  	/*	 w.resizeTo(width1, height1);
	  		 w.moveBy(1080,240);
	  		 w.focus();
		   } */
	   });
	   	$("#globalSearchBox").live('keypress',function(e) {
	   	    var mAct="globalSearch";
			var txt = $("#globalSearchBox").val();
			globalSearchTxt = txt;
			if(e.which == 13){
		 		if(txt == "" || txt == null){
		 			$("#globalSearchDiv").removeClass('searchCss').addClass('searchError');
			 		$("#globalSearchBox").focus();
			 		return false;
		 		}else{
		 		   //fetchCount();
		 			globalSearchRedirect();
		 			
	        	}
	    	}
    	});

	   
	  //<--------------------------Chat-window Open----------------------------------
		 
//if(companyType == 'Enterprise_plus' || companyType == 'Enterprise' || companyPlan == 'Social_92' || companyPlan == 'Business_92' || companyPlan == 'Business_93' || companyPlan == 'Business_94' || companyPlan == 'Business_95' || companyPlan == 'Business_96')		  
		  
	   /*  if((sessionStorage.name == undefined || sessionStorage.name == "" ) && companyPlan != 'Social_92' && sessionStorage.name != "colabusChat" && sessionStorage.name != "chatBoxClosed"){
 
	    	var w = $(window).width()-900+"%";
	 	    var h = $(window).height()-200+"%";

			   $('#chatNot').text('').hide();
			   
			    window.open('${path}/jsp/chat.jsp', 'Colabus Chat', 'toolbar=no,location=no, status=no, menubar=no,scrollbars=yes, resizable=yes ,width='+w+',height='+h+' , "_blank"');      
			      
			    sessionStorage.name = "colabusChat"; // setting the value to check weather chat box is open or not at the time of logout 
           
		   }*/  
    }); 

	
	$(document).ready(function(){
	if(sessionStorage.test =='N' ){
	 closeUserPopUp();	
	 $('.popUpContent').hide();
	 $('#transparentDiv').hide();
	}
	
    $('[data-toggle="tooltip"]').tooltip(); 
    //setHopscotch('${pageLoadType}');
    //var pageLoad =  "${pageLoadType}";
   // alert("pageLoad:"+pageLoad);

   //custlabel();
    //loadNewAccountLabel('onload');
    
    //alert("sessionStorage:"+sessionStorage.Mykronus);  //validation to control start work in MyKonus 
    /* if(typeof(sessionStorage.Mykronus) == "undefined" || sessionStorage.Mykronus == "" || sessionStorage.Mykronus == "N"){
    	$("#transparentDiv").show();
    	confirmReset("Would you like to track your work hours in MyKronus?",'delete','gLocationone','gLocationhide',"Yes","No");
    	sessionStorage.Mykronus = 'Y';
    	
    }  */
   //gLocation();  //---- This function is called in notification listing method in landingPage.jsp
    
    if(userroleid =='6' || userroleid =='7' ){  //----------------- validation for business solutions
        $('li.accessOnlyAgile, input.accessOnlyAgile, div>img.accessOnlyAgile').removeAttr('onclick').css('opacity','0.3');
        $('input.accessOnlyAgile').removeAttr('onkeyup').removeAttr('onkeypress').attr('readonly','true')
        $('#systAdmin, #integration').css('visibility','visible');
        $('ul.colMZ, ul.colEZ').hide();
		
    }
   totalMsge();
       
	   if(sessionStorage.name != "colabusChat"){
	   		chatOffLineNotification();
	   }
	   //alert("ctype-->"+ctype);
	   if(ctype == "Enterprise_plus" || ctype == "Enterprise" || ctype == "Business"){ 
		    /* alert(sessionStorage.name+"<-->");
			alert(traillogin+"<-->");
			alert(sessionStorage.chatCount+"<-->");
			alert(webexValue+"---"); */ 
			if(sessionStorage.name != "colabusChat" && traillogin != "Y" && sessionStorage.chatCount != "open" && webexValue =="N" ){
		   		
				openChatWindow("click");
		   		// Invoking the colabus voice assistant after the chat window opens; just to avoid multiple invoking of voice assitant intro
		   		if(isChrome){
		   			//console.log("disableCassandra --->"+disableCassandra);
		   			if(disableCassandra == 'N'){
		   				UsrWelcomeQuery();
		   			}
	
		   		}
		   	}
	    }
	  
  });
  
  //SI.Files.stylizeAll();

  function loadSubPageContent(menu,projId,projName,projUserStatus,projArchStatus,projectType,prjImagePath){
	  $('.subPageResourcesScript').remove();
	  pageAct = menu;
	  projDDListData="";
	  prjid = projId;
	  projType = projectType;
	  projtName = projName;
	  projImgSrc = prjImagePath;
	  projectUsersStatus = projUserStatus;
	  archivedstatus = projArchStatus;  	
	  clearInterval(refreshTimer);
	  if(menu == "home"){
		  clearGlobalVariables();
		  landingpageui();
		  loadjscssfile('scripts/menujs/landingpage.js','js');
		  loadjscssfile('css/styles/menucss/landingPage.css','css');
	  }else if(menu == "LoadActivityFeed"){
		  
		  wsConversationPageUi();
		  loadjscssfile('scripts/menujs/wsConverasation.js','js');
		  loadjscssfile('css/styles/menucss/wsConversation.css','css');
		  
		  loadjscssfile('scripts/voice/recorder.js','js');
		  loadjscssfile('scripts/voice/Fr.voice.js','js');
		  loadjscssfile('scripts/voice/record.js','js');
		  
		  let myScript = document.createElement("script");
		  myScript.setAttribute("type","text/javascript")
		  myScript.setAttribute("class", "subPageResourcesScript")
		  myScript.setAttribute("src", "scripts/menujs/commonComments.js");
		  //document.body.appendChild(myScript);
		  document.getElementsByTagName("head")[0].appendChild(myScript);
		  
		  myScript.addEventListener("load", scriptLoaded, false);
		  
		  function scriptLoaded(){
			  triggerComoncommentsloaded();
		  }
		  
		  //loadjscssfile('scripts/taskUIcodeNew.js','js');
		  
		  //for slider
		  loadjscssfile('css/scripts/slider/css/ui-lightness/jquery-ui-1.8.23.custom.css','css');
		  loadjscssfile('scripts/jquery-ui-1.9.2.custom.js','js');
		  // DHTMLX datepicker 
		  loadjscssfile('css/scripts/dhtmlxCalendar/codebase/dhtmlxcalendar.css','css');
		  loadjscssfile('css/scripts/dhtmlxCalendar/codebase/skins/dhtmlxcalendar_dhx_skyblue.css','css');
		  loadjscssfile('scripts/dhtmlxCalendar/codebase/dhtmlxcalendar.js','js');
		  //Time Picker
		  loadjscssfile('scripts/jquery.timepicker.js','js');
		  loadjscssfile('css/styles/jquery.timepicker.css','css');
		  
		  
		  
		  
		  
		  
	  }
	  
  }
  
  function loadjscssfile(filename, filetype){
	      if (filetype=="js"){ //if filename is a external JavaScript file
	          var fileref=document.createElement('script')
	          fileref.setAttribute("type","text/javascript")
	          fileref.setAttribute("src", filename)
	  		  fileref.setAttribute("class", "subPageResourcesScript")
	      }
	      else if (filetype=="css"){ //if filename is an external CSS file
	          var fileref=document.createElement("link")
	          fileref.setAttribute("rel", "stylesheet")
	          fileref.setAttribute("type", "text/css")
	          fileref.setAttribute("href", filename)
	  		  fileref.setAttribute("class", "subPageResourcesScript")
	      }
	  
	      if (typeof fileref!="undefined"){
		  	  //$('#content').append(fileref);
		  	  document.getElementsByTagName("head")[0].appendChild(fileref);
	  	  }
		  
	          
	}
  
  function clearGlobalVariables(){
	  projDDListData="";
	  prjid = "";
	  projType = "";
	  projtName = "";
	  projImgSrc = "";
	  projectUsersStatus = "";
	  archivedstatus = ""; 
  }
  
  

 	
--></script>
</head>
<body id="app">
<div id="previewDiv" style="display:none;position: fixed;bottom: 0;background: #fff;height: 420px;width: 710px;z-index: 1100;right: 5px;">
	   <div style="background: #fff;float: right;height: 20px;width: 20px;margin-top: -20px;" align="center">
	   		<img class="inProjClose" style="float: none;" title="Close" onclick="closePreviewDiv();" src="images/close.png">
	   </div>
	   <video id="recVideo"  controls style="width:710px;height:420px;background-color: #000;background-repeat: no-repeat;background-position: center;background-size: 50px 50px;border: 1px solid #222222;box-shadow: 0px 0px 2px 0px;float:right;"></video>
	   <audio id="recAudio"  controls style="width:710px;height:420px;background-color: #000;background-repeat: no-repeat;background-position: center;background-size: 50px 50px;border: 1px solid #222222;box-shadow: 0px 0px 2px 0px;float:right;"></audio>
</div>
<!--Header_section-->

<div class="modal-content " id="helpContainerDivNew" style="position: absolute; z-index: 1100; background-color: rgb(255, 255, 255); margin-left:12%;height:92%; width:75%; margin-top:25px; display:none;">
  	<div class="modal-header" id="divDataNew" style="display: block;padding:10px;height:50px;"><h4 style="font-weight:bold;margin-left:16px">Help</h4>
  		<button class="close" title="close" data-dismiss="modal" style="float:right;margin-top:-32px;margin-right:9.5px;" onclick="closeDemo();">&times;</button>
  	</div>
  	<div class="modal-body" id="modalBodyDiv" style="margin-left:15px;padding:0px;">
  		<iframe id="demoFrameNew" name="demoFrameNew" style="overflow:scroll;border:5px solid rgb(255, 255, 255);height:100%;width:100%;display:inline;"></iframe>
  	</div>
</div>

<div id="header_outer" style="width:100%;" class="headerCls">
 <nav class="navbar navbar-inverse" style="width:100%;" >
  <div class="container-fluid" style="padding-right: 0">
    <div id="listMenuIcon" class="listMenuIconCls" style="float: left;padding: 27px 3px 12px 3px;border-right:1px solid #B7C2C8;cursor:pointer;"  onclick="listMenus()"><img src="images/menu.png" id="listMenuImg" class="Main_Menu_cLabelTitle" style="margin-top:-14px;margin-right: 15px;"></div>
     <div style="margin-left: 8px;margin-right: 15px;width: 9%;float: left;" id="comLogoDiv" class="comLogoDivCls">
        <a ><img onerror="imageOnCompanyErrorReplace(this);" style="visibility:hidden" class="menuClick homeLogo Home_cLabelTitle" id="home" src="images/colabusLogo/colabus_enter.png"/ ></a>
      </div> 
      
    <div class="headerWidCls" id="myNavbar" style="padding-right:0">
      <a class="res-nav_click animated wobble wow"  href="javascript:void(0)"><i class="fa-bars"></i></a> 
      
      <ul class="nav navbar-nav navbar-right lowerResCls" style="margin-top: 7px;margin-bottom: 10px;float: left !important;width: 100%;">
             
        <li style='display:none;'>
          <div class="dropdown">
    		 <div class="dropdown-toggle" data-toggle="dropdown">
               <img class="topIcon" id="helpIcon" title="Help" src="images/help.png" style="margin-right: 4px;"/>
            </div>
           <ul class="dropdown-menu helpDropdownCls" id="helpDropdownList" style="z-index: 1500;margin-top:13px;min-width: 160px !important;padding: 10px 15px 10px 10px;">
                  <div id="userProfileArrowDiv" >
                    <img src="images/topArrow.png" style=" float: right;margin-top: -20px;margin-right: -4px;width: 18px;"></div>
			        <li>
			          <div class="helpHeaderCls" >Getting Started</div>
			        </li>
			        <ul id="startTourBtn" class="helpSubMenu">
			            <li>Guided Tour</li>
			            <li>Help & Features</li>
			            <li>Video Help</li>
			          </ul>
			      <li>
                     <div class="helpHeaderCls">Help & Support</div>
                  </li>
                  <ul class="helpSubMenu">
			            <li>Log a bug</li>
			            <li>Contact Support</li>
			          </ul>
                  <li id="logOut" >
			         <div class="helpHeaderCls">About</div>
			      </li>
			      <ul class="helpSubMenu" style="border-bottom: none;">
			            <li>About Colabus</li>
			            <li>Upgrade</li>
			          </ul>
                  
			 </ul>
			 </div>
			 </li>
        <li style="float: right;box-shadow: none;">
          <form id="logoutForm" name="logoutForm" method="post">
           <div class="dropdown">
    		 <div class="dropdown-toggle" data-toggle="dropdown">
    			<div class="uProfileDiv" ><img id="profileImg" src="images/userImage.png" style="border-radius: 50%;" onerror="userImageOnErrorReplace(this);"/></div>
    		    <img src="images/downarrow.png" style="margin-top: 19px;width: 12px;margin-left: 2px;">
    		 </div>
    		 
             <ul class="dropdown-menu uProfileImageOptionUl" style="z-index: 1500;margin-top: 27px;">
                  <div id="userProfileArrowDiv" ><img src="images/topArrow.png" style=" float: right; margin-top: -15px; margin-right: 23px;width: 18px;"></div>
			      <li style="margin-left:7px !important;">
			         <!-- <img class="uProfileImageOptionIcon" src="${path}/images/userProfileIcons/userprofile.png" /> -->
			         <div class="uProfileImageOption My_Profile_cLabelHtml" onclick="openProfile();"></div>
			      </li>
			      <li style="margin-left:7px !important;">
                     <!-- <img class="uProfileImageOptionIcon" style="width: 18px;margin-left: -1px;" src="${path}/images/userProfileIcons/compNotification.png" />-->
			         <div class="uProfileImageOption menuClick Notification_History_cLabelHtml" id="notifications"></div>
                  </li>
                  <li style="margin-left:7px !important;">
			      <!--    <img class="uProfileImageOptionIcon" src="${path}/images/userProfileIcons/help.png" /> -->
			         <div class="uProfileImageOption Help_cLabelHtml" onclick="showHelp();"></div>
                  </li> 
                  <li id="logOut" onclick="doLogOut('logout');"  style="border-bottom:0px solid #ccc;margin-left:7px !important;">
			         <!-- <img style="margin-left: 1px;" class="uProfileImageOptionIcon" src="${path}/images/userProfileIcons/logout.png" />-->
			         <div class="uProfileImageOption Log_Out_cLabelHtml"></div>
			      </li>
  
			     <!-- <li>
			         <img class="uProfileImageOptionIcon" src="${path}/images/userProfileIcons/log-bug.png" />
			         <div class="uProfileImageOption" style="margin-left: 8px;">Report Bug</div>
			      </li>
			      
			      <li style="border-bottom:0px solid #ccc;" onclick="showAboutProj();">
			         <img style="float: left;margin-top: 1px;float: left" src="${path}/images/userProfileIcons/about.png" />
			         <div class="uProfileImageOption">About</div>
			      </li> -->
			 </ul>
           </div>
           </form>
        </li>
         <c:if test="${companyType == 'Enterprise_plus' || companyType == 'Enterprise' || companyType == 'Business'}">
			<!-- <li style="margin-right: 13px !important;float: right;"><img class="topIcon Chat_cLabelTitle" id="chatIcon"  src="${path}/images/chat.png"/></li>
 -->			
			<li id="chatNotMain" style="float: right; position: relative;padding-right: 1%;box-shadow: none;">

				   <div>
				   <img id="chatIm" style="height: 18px;width: 18px;left:-10px;top: 18px;position: absolute;" src="images/video/callred.svg" class="topIcon Chat_cLabelTitle" title="">
				   <div id="count1" class='col-xs-2-offset badge' style='background-color: rgb(255, 51, 51); margin-left: -8px; margin-top: 3px;position:absolute;right:0px;padding:5px;border-radius:50%;min-height:20px;min-width:20px;font-size:10px'></div>
				   <img   style="height: 30px; width: 30px; float: left;" src="images/chat.png" id="chatIcon" class="topIcon Chat_cLabelTitle" />
				   </div>

				   <div id='chatNot' class='landPageNotContainer' style="display:none;position: absolute; z-index: 10; margin-top: 0px; margin-left:13px;cursor: pointer;" onclick=''></div>
		    </li>
			
      	</c:if>
      	<li id="SearchMainLower" class="SearchMainLowerCls" style="float: right; position: relative;padding-right: 1%;margin-top: 11px;display: none;">
		   <img  style="height: 30px; width: 30px; float: left;display: none;" id="SearchMainLowerImgId" class="SearchMainLowerImgCls" src="images/searchOne.png" id="lowerSearchIcon" title="search" onclick="showSearchInputDiv()"/>
		</li>
      	
        <li class="glSearchCls" id="glSearchDivId" style="float: right;box-shadow: none;">
             <!-- <form id="demo-b">
							 <img class="topIcon" id="searchIcon" title="Search" onclick="searchOpen()" src="${path}/images/searchOne.png"/>
			</form>-->
			
			<div class="serachMainDivCls serachMainDivClsImpCss" style="width: 100%;height: 33px;margin-top:8px;">
			  <input  onkeyup="filterGlobalSearch(event)" id="glbSearchInputBox" onKeyPress="globalSearchOnkeyEvent(event)"  class="serachBoxInputBoxCommonCls accessOnlyAgile landingPage_Search_cLabelPlaceholder glbSearchBxInpDiv globalSearchImpCss" type="text" style="height: 31px;"/>
			  <div class="searchCloseIconMainDiv searchCloseIconMainDivImpCss" style="height:31px">
			     <img id="ClearglobalSearch" onclick="ClearglobalSearchVal()" src="images/xforsearch.png" class="serachBoxClearIcon serachBoxClearIconImpCss accessOnlyAgile Clear_cLabelTitle" style="margin-top:13px;">
		      </div>
		      <div  class="projUserListMain proTagNameId" id="hashTagSearchInputBox">
		        <ul class="projuserList" id="hashTagProjList"></ul>
		      </div>
			  <div class="searchIconMainDiv searchIconMainDivImpCss Search_cLabelTitle" title=" " style="">
			     <img src="images/searchTwo.png" onclick="globalSearchRedirect()" class="serachBoxSearchIcon serachBoxSearchIconImpCss accessOnlyAgile">
		      </div>
			</div>
			 		     		    
        </li>
        <li id="cassandraInputBox" style="float: right;margin-right: 5px !important;width: 500px;border-radius: 14px;margin-top: 2px;display:none;">
        	<div class="voiceValidationSpeech" style="height:37px;width: 100%;float: right;">
        	<div style="float: left;width: 85%;position: relative;margin-top: 8px;">
        		<input type="text" placeholder="" onclick="this.value=''" id='idToDisplaySpeechText' onkeyup="voiceText(event)" x-webkit-speech="" style="border: none;width: 100%;height:31px;overflow:  hidden;border-bottom: 1px solid #d8cbcb;cursor: pointer;padding-right: 28px;">
        	 	<div style="height: 12px;width: 15px !important;float: right;position: absolute;right: 2px;top: 10px;">
					 <img id="ClearCassandraIdSearch" onclick="ClearglobalIdSearchVal()" src="images/xforsearch.png" class="Clear_cLabelTitle" style="display: none;cursor: pointer;height: 10px !important;position: fixed;" title="Clear">
	 			</div>
	        	<!-- <div  class="cassandraListMain proTagNameId" id="cassandraSearchInputBox">
			        <ul class="cassandraList" id="cassandraSearchList"></ul>
			    </div> -->
			    <div  class="projUserListMain proTagNameId" id="hashTagSearchInputBox1">
		        	<ul class="projuserList" id="hashTagProjList1"></ul>
		        </div>
		        <div class="cassandraCallout">
					<div id="cassandraTextContent" class="col-sm-6 col-xs-10 cassandraTextContent">
						<div style="height: 12px;width: 15px !important;float: right;">
					 		<img id="ClearCassandraTextglobalSearch" onclick="ClearglobalSearchVal()" src="images/xforsearch.png" class="Clear_cLabelTitle" style="margin-top: 0px;float: right;display: block;cursor: pointer;height: 10px !important;position: fixed;" title="Clear">
	 					</div>
						<div style=height:30px;width:100%;margin:0px;padding:2px;>
							<div id="cassandraHeader" class="cassandraHeader"></div>
	 					</div>
 						<div id="cassandraContent" class="cassandraContentCss"></div>
					</div>
					<div style="top: 2px;left: 20px;position: absolute;width: 34px;height: 34px;">
  						<div class="cassandraTransparent"></div>
  						<div class="cassandraTriUp"></div>
					</div>
				</div>
		     </div>
        		<input type="hidden" id="speechHiddenFieldNew" value='postloginSpeechField'>
        		<span id="speechVoiceSpan" style='width:80%;height:100%;overflow:hidden;'></span>
        		<div class="voiceToTextGlb" style="width: 15%;float: right;height: 100%;">
		            <img class="c_off_cLabelTitle" id="record-stopped" title=" " src="images/glbrecordDefault.png" style="cursor:pointer;width: 45px;float: left;height: auto;" onclick="recognizationToggleStart('','globalVoicePost','globalVoicePost','');">
		            <img class="c_on_cLabelTitle" id="record-started" title=" " src="images/glbrecord.png" style="cursor:pointer;width: 45px;float: left;display: none; height: auto;" onclick="recognizationToggleStop();">
            	</div>
        	</div>
        </li>
        
       </ul>
      </div>  
  </div>
</nav>
</div>
<div id="sound" onclick ="chatNotification()"></div>
<div id="transparentDiv" class="transparentDiv"></div>
<div id="galtransparentDiv" class="galtransparentDiv"></div>
<div id="profilepictransparentDiv" class="profilepictransparentDiv"></div>
<div id="menuListDiv" class="defaultCls menuListDivCls " style="display: none;">
  <div class="text-uppercase homeLabel">
    <img src="images/home.png" style="width: 15px;margin-top: -4px;"/>
    <span class="menuClick Home_cLabelHtml" id="homeList"></span>
  </div>
  <div class="subMenuList">
    <ul style="border-bottom:1px solid #fff;padding-bottom: 10px;">
      <li class="text-uppercase subMenuListHeader Team_Zone_cLabelHtml" style="margin-left: 2px !important;"></li>
      <li class="subMenuListLabel accessOnlyAgile" id="createNewProject" onclick="createNewProject();setHopscotch('projects');"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Start_New_inZone_cLabelHtml"></span></li>
      <li class="subMenuListLabel " onclick="loadProjectData('')"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Existing_inZone_cLabelHtml"></span></li>
      <li class="subMenuListLabel accessOnlyAgile" onclick="loadContactData()"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Contacts_cLabelHtml"></span></li>
    </ul>
    
    <ul class = "accToUserReg colMZ" style="border-bottom:1px solid #fff;padding-bottom: 10px;">
      <li class="text-uppercase subMenuListHeader My_Zone_cLabelHtml" style="margin-left: 2px !important;"></li>
      <li class="subMenuListLabel accessOnlyAgile" onclick="loadMyzoneData('myTask');"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Tasks_cLabelHtml"></span></li>
      <li class="subMenuListLabel accessOnlyAgile" onclick="loadMyzoneData('myAllScrums');"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="All_Scrums_cLabelHtml"></span></li>
      <li class="subMenuListLabel accessOnlyAgile" onclick="loadMyzoneData('myDocument');"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="DOCUMENTS_cLabelHtml"></span></li>
      <li class="subMenuListLabel accessOnlyAgile" onclick="loadMyzoneData('myMessage');"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Messages_cLabelHtml"></span></li>
      <li class="subMenuListLabel accessOnlyAgile" onclick="loadMyzoneData('myNote');"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Notes_cLabelHtml"></span></li>
      <li class="subMenuListLabel accessOnlyAgile" onclick="loadMyzoneData('myBlog');"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Blogs_cLabelHtml"></span></li>
      <li class="subMenuListLabel accessOnlyAgile" onclick="loadMyzoneData('myGallery');"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Gallery_cLabelHtml"></span></li>
    </ul>
    
    <ul class = "accToUserReg colEZ" style="border-bottom:1px solid #fff;padding-bottom: 10px;">
      <li class="text-uppercase subMenuListHeader Enterprise_Zone_cLabelText" style="margin-left: 2px !important;"></li>
      <li class="subMenuListLabel accessOnlyAgile" onclick="loadAnalyticsData()"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Analytics_cLabelHtml"></span></li>
     <!-- <li class="subMenuListLabel" onclick="loadProjectAdminData()"><img src="${path}/images/leftArrow.png" class="arrowLeftMenuList">Project Admin</li> --> 
      <% if(roleid == '2'){ %>
       <li class="subMenuListLabel accessOnlyAgile" onclick="loadSysAdminData()"><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="System_Admin_cLabelHtml"></span></li>
       <li class="subMenuListLabel accessOnlyAgile accessOnlyEntp" onclick="loadIntegration('colabusIntegration')" ><img src="images/leftArrow.png" class="arrowLeftMenuList"><span class="Integration_cLabelHtml"></span></li>
      <% } %>
	  
    </ul>
  </div>
</div>

<div id="loadingBar" style="display:none;height: 50px;left: 50%;margin-left: -50px;margin-top: -25px;overflow: visible;position: fixed;top: 50%;width: 100px;z-index: 10000;">
	<img src="images/ajax-load.gif" style="z-index: 1000; position:absolute;"/>
	<span id="timerSpan" style="display:none;position: fixed;background-position: center;left:48%;top: 48%;color:white;font-size:12px;z-index:1000"></span>
	<div id="bgTrans" class="bgTransparent" style="z-index: 105; position: fixed; background-color: #4F4F4F; margin: 0px; padding: 0px; left: 0px; top: 0px; right: 0; bottom: 0; display: block;"></div>
</div>
<!-- This div is for new project popup -->
<div class="vert-offset-top-2 col-sm-12 col-xs-12 popUp popUpMain defaultCls popupMarginCls" id="newProjContent" style="display: none;" >
  <div class="col-sm-6 col-xs-10 popUp popUpContent popupWithMarginCls" id="popUpContent" style="margin-top: -24px;">
      <div class="popUpHeaderMainDiv col-sm-12 col-xs-12 defaultCls">
        <div id="textChange" class="col-sm-10 col-xs-10 col-md-11 col-lg-11 newProjHeader defaultCls New_inZone_cLabelHtml"></div> 
        <img id="changeImage" class="popUpCloseIcon Close_cLabelTitle" width='10px' height='10px' src="images/close.png"  onClick="closePopup();" title=""/>
	    <img id="newProInfo" class= "infoCss"  style = "float: left; margin: -2px 0 0 20px;" src="images/info.png"/>
	  </div>
	  <div class="projpopUpContentDiv form-horizontal col-sm-12 col-xs-12 defaultCls">
	    <div class="form-group">
          <label style="width: 20%;float: left"  class="control-label text-uppercase defaultCls projPopLabel Name_cLabelHtml" for="email"></label>
          <div class="col-sm-9 col-md-9 col-xs-9">
             <input type="text" class="form-control" id="projName" placeholder="" onKeyUp="autofillProjectTagName(this);">
          </div>
        </div>
        
        <div class="form-group">
          <label style="width: 20%;float: left" class="control-label text-uppercase defaultCls projPopLabel Hash_Code_cLabelHtml" for="email"></label>
          <div class="col-sm-9 col-md-9 col-xs-9" style="float:left;">
              <label style="position: absolute;padding-top: 6px;margin-top: 2px;padding-right: 5px;font-size: 14px;border-radius: 2px 0px 0px 2px;padding-left: 10px;background: #EEEEEE;margin-left: 1px;padding-bottom: 5px;">#</label>
             <input style="padding-left: 26px;" type="text" class="form-control" id="projTagName" placeholder="" onkeyup="enterprojectTagName(this)">
          </div>
            <img id="newProCodeInfo" class=""  style = "float: left; margin: 8px 0 0 -7px;"/>
        
        </div>
        
        <div class="form-group">
          <label style="width: 20%;float: left" class="control-label text-uppercase defaultCls projPopLabel Description_cLabelHtml" for="email"></label>
          <div class="col-sm-9 col-md-9 col-xs-9">
             <textarea class="form-control" rows="5" id="comment" ></textarea>
          </div>
        </div>
         
        <div class="form-group" >
          <label style="width: 20%;float: left" class="control-label text-uppercase defaultCls projPopLabel defaultExceedCls PRIVACY_cLabelHtml PRIVACY_cLabelTitle" title=" " for="email"></label>
          <div class="col-sm-9 col-md-9 col-xs-9">
           
            <img id='privacyImg' src=''  value=''   width="65px" height="19px" style="cursor:pointer; margin-top: 2.2%;">
            <p class="privateDesc defaultExceedCls WS_P_Icon_cLabelText WS_P_Icon_cLabelTitle" style="margin-bottom: 10px; margin-top: 5px;"></p>
            
             
             <img  id="hideDiv" class="projUploadDiv" src="" style="width:38px;height:38px;" />
             <div class="col-sm-1 col-md-1 col-xs-3 defaultCls">
                 
            
             <iframe id="upload_proj_image" name="upload_proj_image" src="" style="display:none"></iframe>
             <form action="${path}/WorkSpaceProjImgUpload" enctype="multipart/form-data" method="post" name="workspaceImgUploadForm" id="workspaceImgUploadForm" > 					
				 <label class="topicImageUpload" style="margin-top:-3px;width:160px;height:20px;position:absolute;display:none;"> 
				 <a style="color:#FFFFFF;margin-left:-5px;" href="#"></a>		
				 <input type="file" title="upload image"  onchange="readURL(this);" class="topic_file" value="" name="filename" id="filename"> 			
				  <input type="hidden" value="" name="projUploadId" id="projUploadId">
				 </label>
			 </form>
			 
             <img id="upload_link_new" src="images/upload.png" class="projUploadIcon">
              
               <div style="width: 170px; min-width: 100px; background-color: rgb(255, 255, 255); height: auto; z-index: 5010; border-radius: 5px; box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6); border: 1px solid rgb(161, 161, 161); float: left; padding-left: 5px; margin-left: 82%; margin-top: -110%; position: relative; display:none;" id="Project_Upload">
			         <div style="float:left;margin-left:-20px;margin-top:14px;position:absolute;">
			           <img src="images/arrowLeft.png" style="float:left;">
			         </div>
			         <div style="height:28px" class="optionList">
			          <span style="margin-left:18px; margin-top: 5px;width:75%" title=" " class="OptionsFont Upload Upload_from_system_cLabelHtml Upload_from_system_cLabelTitle defaultExceedCls" id="uploadProjectImage"> </span>
			       </div>
			         <div onclick="getUserAlbums()" style="width:100%;height:23px;margin-bottom:3px;cursor:pointer;float:left">
			           <span style="margin-left: 18px; margin-top: 1px;width:75%" title=" " class="OptionsFont Attach_Link Upload_from_gallery_cLabelHtml Upload_from_gallery_cLabelTitle defaultExceedCls"> </span>
			         </div>
			      </div>
              
             </div>
             
             
             <p class="privateLogoDesc defaultExceedCls WS_add_cLabelText WS_add_cLabelTitle" title=" "></p>
          </div>
        </div>
	   
	     <div class="form-group">
          <label style="width: 20%;float: left" class="control-label text-uppercase defaultCls projPopLabel defaultExceedCls Invite_members_cLabelHtml Invite_members_cLabelTitle" title=" " for="email"></label>
          <div class="col-sm-9 col-md-9 col-xs-9">
             <div class="inviteProjUserDiv Name_or_Email_cLabelPlaceholder" placeholder=" ">
               <input type='text' id="inviteUsers"  placeholder=" " class="projInviteUser Name_or_Email_cLabelPlaceholder">
                <div id="userforProj" class="projUserListMain">
                 <ul class="projuserList"></ul>
                </div>
               <div id="userList">
                 <ul  style=" list-style-type : none; margin-left: -35px;"></ul>
               </div>
             </div>
             
            
          </div>
        </div>
      </div>
      
      <div class="col-md-12 col-sm-12 col-xs-12 defaultCls" style="padding-right: 30px">
           <div id="changeDynamic" onclick="createNewWorkspaceProject();" class="text-uppercase createBtn Hash_create_cLabelHtml"></div>
        </div>
  </div>
</div>

  <div style="display:none;border: 1px solid rgb(176, 176, 176); border-radius: 0.4em ! important; position: fixed; z-index: 7000; top: 50%; left: 50%; margin-left: -175px; margin-top: -100px; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.35); height: 203px; width: 350px;" id="upgradeProjectDiv">
		<img src="images/close.png" style="float: right; cursor: pointer; margin: 10px 10px 0px 0px;" class="Close_cLabelTitle" onclick="closeUpgradeProjDiv();">
		<div style="height:auto;width:100%;padding:15px;float:left;">
			 <div style="height: 30px; float: left; width: 100%;">
			 	<span id="Txtcontnt" style="float: left; color: rgb(128, 128, 128); overflow: hidden; padding-top: 1px; width: 100%; text-align: left; font-size: 14px ! important; height: 20px;" class="wsTaskLabels"></span>
			 </div>
		    <div id="BuyDiv" style="height:85px; float: left; width: 100%;">
		        <span style="float: left; color: rgb(128, 128, 128); overflow: hidden; padding-top: 4px; width: 55%; text-align: left; font-size: 14px ! important; height: 30px;" class="wsTaskLabels">Buy additional workspaces</span>
		    		<select id="inZoneDropDown">
		           <option>1</option>
		           <option>2</option>
		           <option>3</option>
		           <option>4</option>
		           <option>5</option>
		           <option>6</option>
		           <option>7</option>
		           <option>8</option>
		           <option>9</option>
		           <option>10</option>
		        </select>
		    </div>
		    
		     <div style="width:80px;float:right;margin-left:13px;">
		         <div onclick="closeUpgradeProjDiv();" class="text-uppercase createBtn Save_cLabelHtml" id="">Cancel</div>  	
			</div>
		     <div id="continuebutton" style="width:80px;float:right;margin-left:30px;display:none;">
		         <div onclick="newproj();" class="text-uppercase createBtn Save_cLabelHtml mar" id="">Continue</div>	
			</div>     
		    
			<div style="width:80px;float:right;">
		         <div onclick="buyProject();" class="text-uppercase createBtn Save_cLabelHtml mar" id="">Buy</div>	
			</div> 
		 </div>
	</div>


<div class="vert-offset-top-2 col-sm-12 col-xs-12 popUp popUpMain defaultCls" id="connectData" style="display: none;">
</div>
<div class="vert-offset-top-2 col-sm-12 col-xs-12  popUp popUpContent" id="welcome-Data" style="display: none; z-index: 1000; width: 55%; left: 22%; height: 82%;">
	<div id="viola-div" style="padding: 30px;height:100%;">
		<div style="border-bottom: 1px solid #DDDDDD; padding-bottom: 10px;">
			<img src="images/website/wink.png"/>
			<span style="font-weight: bold; font-size: 45px; vertical-align: middle;">Voila</span>
		</div>
		<div class='viola-contentDiv' style="height: 70%; border-bottom: 1px solid #DDDDDD;">
			<div id="loginUserName" style="margin: 10px 10px 10px 0px;display:block"></div>
			<div style="float:left;margin-top:7%;">
				<span class="Thank_cLabelHtml" style="float:left;width:100%;font-family: OpenSansRegular;"> </span>
				<span class="Welcome_cLabelHtml" style="float:left;width:100%;font-family: OpenSansRegular;"> </span>	
			</div>
		</div>
		<div style="float: right; width: 100%;">
			<div align="right" style="padding: 5px 0;">
			    <span class="col-xs-12 col-md-8 Kickstart_cLabelHtml" style="float:none; text-align: right; margin-top: 5px; padding: 0px;"> </span>
				<button id="popUp" onclick="getChangePwdDiv();" style="padding: 4px 18px !important; margin-left: 10px;font-family:opensanscondbold;text-transform: uppercase;" class="btn btn-info WF_Next_cLabelHtml" type="button"> </button> 
			</div>
		</div>
	</div>
	<div id="ch-pwd-div" style="padding: 30px; display: none;">
		<div style="border-bottom: 1px solid #DDDDDD; padding-bottom: 10px;">
			<img src="images/website/smilestart.png"/>
			<span id="changeFont" class="Change_password_cLabelHtml" style="color: rgb(12, 176, 231);font-size: 16px;font-style: italic;vertical-align: middle">Change password</span>
		</div>
		<div id="changeHtmlText" style="height: auto; border-bottom: 1px solid #DDDDDD;">
			<div class="">
				<div class="row" style="margin:0px;">
					<div class="col-lg-12">
						<div id="viola-userDetail-div" class="col-lg-7 col-md-8 col-sm-8 col-xs-12" style="border-right: 1px solid rgb(221, 221, 221); margin-top: 2%;margin-bottom: 3%;">
							<form role="form">
								<div class="form-group" style="padding-left: 0px ! important; float: left; width: 100%;">
									<span class="user_id_cLabelHtml" style="float: left; width: 100%; font-size: 11px; color: rgb(154, 154, 154); font-style: italic;"> </span><input class="form-control Prefer_Userid_cLabelPlaceholder" id="userId" placeholder=" " style="float: left; width: 97%;" type="text">
								</div>
								<div class="form-group" style="padding-left: 0px ! important; float: left; width: 100%;">
									<span class="New_Password_cLabelHtml" style="float: left; width: 100%; font-size: 11px; color: rgb(154, 154, 154); font-style: italic;"> </span><input class="form-control New_Password_cLabelPlaceholder" id="newPwd" placeholder=" " style="float: left; width: 97%;" val="" type="password">
								</div>
								<div class="form-group" style="padding-left: 0px ! important; float: left; width: 100%;">
									<span class="Confirm_Password_cLabelHtml" style="float: left; width: 100%; font-size: 11px; color: rgb(154, 154, 154); font-style: italic;"> </span><input class="form-control Confirm_Password_cLabelPlaceholder" onkeyup="checkForEnterKey(event)" id="confirmPwd" placeholder=" " style="float: left; width: 97%;" type="password">
								</div>
								<div class="form-group" style="padding-left: 0px ! important; float: left; width: 100%;">
									<span class="User_Email_cLabelHtml" style="float: left; width: 100%; font-size: 11px; color: rgb(154, 154, 154); font-style: italic;"> </span><input class="form-control user_email_cLabelHtml" id="confirmEmail" placeholder=" " style="float: left; width: 97%;">
								</div>
							</form>
							<span class="Unique_Userid_cLabelHtml" style="float:left;"> </span> 
						</div>
						
						<div align="center" class="col-lg-5 col-md-4 col-sm-4 col-xs-12" style="margin-top: 40px;margin-bottom: 3%;">
						 
					   <form action='${path}/UserProfileImageUpload' id='uploadUserProfileFormNew' name='uploadUserProfileFormNew' method='post' enctype='multipart/form-data'>
					       <label style='width: 160px;display:none;' class='imageUpload'> <input style='left:0px;width:150px;top:0px;' type='file' multiple='multiple' id='profileFileName' name='profileFileName' class='file' onchange='readURLNewProfile(this);'>
					        <input style='left:0px;width:150px;top:0px;' type='hidden' id='albumFileName' name='albumFileName' />
							<input style='left:0px;width:150px;top:0px;' type='hidden' id='albumFileExtn' name='albumFileExtn' />
					       </label>
				       </form> 
					   <iframe id='upload_targetNew' name='upload_targetNew' style='display: none;'></iframe>
				        <input id='x1' type='hidden'  name='x1'>
			            <input id='y1' type='hidden'  name='y1'>
				        <input id='x2' type='hidden'  name='x2'>
			            <input id='y2' type='hidden'  name='y2'>
						
						
							<img id="upload_Newprofile"  width="170" height="170" src="images/website/updatephoto.png"/>
							<button class="ADD_PHOTO_cLabelHtml" id="addPhoto" align="center" style="margin-top: 10px; background: #FFFFFF; color: #00adef; border-radius: 5px; border: 1px solid #00adef; padding:10px !important; font-family:opensanscondbold;text-transform: uppercase;" type="button"> </button> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="float: right;">
			<div style="padding: 5px 0;">
				<button id="chngLogIn" onclick="changePwd();" style="padding: 4px 18px !important; margin-left: 10px;font-family:opensanscondbold;text-transform: uppercase;" class="btn btn-info WF_Next_cLabelHtml" type="button"> </button>
			</div>
		</div>
	</div>
	
	<div id="cong-user-div" style="padding: 30px; display: none;height:100%;">
	<div id="closeCongratsDiv" style="float:right;width:75%;">
		<img onclick="closeCongratsDiv();" src="images/close.png" style="float:right;margin-top:-30px;margin-right:-30px;cursor:pointer;"/>
	</div>
		<div style="border-bottom: 1px solid rgb(221, 221, 221); padding-bottom: 10px; float: left; width: 100%;">
			<img src="images/website/smilestart.png" style="float: left;" />
			<span class="Congratulations_cLabelHtml" style="color: rgb(12, 176, 231); font-size: 16px; vertical-align: middle; font-style: italic; float: left; margin-left: 5px; padding-top: 5px;"> </span>
		</div>
		<div id="welcome-user-data" style="height: 310px; border-bottom: 1px solid rgb(221, 221, 221); float: left;">
		    <span class="Invite_collegue_cLabelHtml" id="inviteNewUsersagain" style="width:100%;float:left;margin-top:3%;"> </span>
			<span style="width:100%;float:left;margin-top:1%;">Explore the interactive Help features whenever you see the <img height="13px;" width="15px;" src="images/info.png"> symbol. <br /> <br /> Download the mobile version of Colabus App from the app stores (iOS and Android) to enjoy the power of Colabus on the go.</span>
		</div>
		<div style="float: right;">
			<div style="padding: 5px 0;">
				<button id="goBackScreen" onclick="goBackToPrevScreen();" style="padding: 4px 18px !important; margin-left: 10px;font-family:opensanscondbold;text-transform: uppercase;" class="btn btn-info Back_cLabelHtml" type="button"> </button>
				<c:if test="${userRoleId == '2'}">
       				<button id="chngLogIn" onclick="inviteTeam('sysAdmin','create');" style="padding: 4px 18px !important; margin-left: 10px;font-family:opensanscondbold;text-transform: uppercase;" class="btn btn-info Invite_team_cLabelHtml" type="button"> </button>
      			</c:if>
			</div>
		</div>
	</div>
	<!-- Invite users to colabus previous UI  
	<div id="inviteNewusers" style="padding: 30px; display: none;">
		<div id="closeInviteUserPopUp" style="float:left;width:100%;"><img onclick="closeInitialPopUp();" src="images/close.png" style="float:right;margin-top:-20px;margin-right:-15px;"/><img src="images/info.png" style="float:right;margin-top:-25px;margin-right:25px;"/></div>
		<div style="border-bottom: 1px solid #DDDDDD; padding-bottom: 10px;">
			<span style="font-weight: bold; font-size: 25px; vertical-align: middle;">Invite your team members</span>
		</div>
		<div style="height: 370px; border-bottom: 1px solid #DDDDDD;">
			<div class="row">
				<div id="emailDiv">
					<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-10 col-sm-8 col-xs-12" style="margin-top: 2%;">
						<div  style="height:20%;overflow:auto;margin-left:-25%;">
							<form  role = "form">
								<div class = "form-group" style="padding-left: 0px ! important; float: left; width: 100%; margin-bottom: 5px;">
									<div style="float: left;"><img src="images/website/userinvite.png" style="margin-top: 10px;"/></div>
									<div style="float: left; margin: 6px; width: 50%;"><input type = "text" class = "form-control getEmail" value=""  placeholder = "Teammate's email"></div>
									<div style="float: left; margin: 6px; width: 40%;"><input type = "text" class = "form-control getUserId" value=""  placeholder = "Teammate's user Id"></div>
								</div>
								<div class = "form-group" style="padding-left: 0px ! important; float: left; width: 100%; margin-bottom: 5px;">
									<div style="float: left;"><img src="images/website/userinvite.png" style="margin-top: 10px;"/></div>
									<div style="float: left; margin: 6px; width: 50%;"><input type = "text" class = "form-control getEmail" value="" placeholder = "Teammate's email"></div>
									<div style="float: left; margin: 6px; width: 40%;"><input type = "text" class = "form-control getUserId" value=""  placeholder = "Teammate's user Id"></div>
								</div>
								<div class = "form-group" style="padding-left: 0px ! important; float: left; width: 100%; margin-bottom: 5px;">
									<div style="float: left;"><img src="images/website/userinvite.png" style="margin-top: 10px;"/></div>
									<div style="float: left; margin: 6px; width: 50%;"><input type = "text" class = "form-control getEmail" value="" placeholder = "Teammate's email"></div>
									<div style="float: left; margin: 6px; width: 40%;"><input type = "text" class = "form-control getUserId" value="" placeholder = "Teammate's user Id"></div>
								</div>
								<div class = "form-group" style="padding-left: 0px ! important; float: left; width: 100%; margin-bottom: 5px;">
									<div style="float: left;"><img src="images/website/userinvite.png" style="margin-top: 10px;"/></div>
									<div style="float: left; margin: 6px; width: 50%;"><input type = "text" class = "form-control getEmail" value="" placeholder = "Teammate's email"></div>
									<div style="float: left; margin: 6px; width: 40%;"><input type = "text" class = "form-control getUserId" value="" placeholder = "Teammate's user Id"></div>
									
								</div>
								<div class = "form-group" style="padding-left: 0px ! important; float: left; width: 100%; margin-bottom: 5px;">
									<div style="float: left;"><img src="images/website/userinvite.png" style="margin-top: 10px;"/></div>
									<div style="float: left; margin: 6px; width: 50%;"><input type = "text" class = "form-control getEmail" value="" placeholder = "Teammate's email"></div>
									<div style="float: left; margin: 6px; width: 40%;"><input type = "text" class = "form-control getUserId" value="" placeholder = "Teammate's user Id"></div>
								</div>
								<div class = "form-group" style="padding-left: 0px ! important; float: left; width: 100%; margin-bottom: 5px;">
									<div style="float: left;"><img src="images/website/userinvite.png" style="margin-top: 10px;"/></div>
									<div style="float: left; margin: 6px; width: 50%;"><input type = "text" class = "form-control getEmail" value="" placeholder = "Teammate's email"></div>
									<div style="float: left; margin: 6px; width: 40%;"><input type = "text" class = "form-control getUserId" value="" placeholder = "Teammate's user Id"></div>
								</div>
							</form>
						</div>
						<div>
							<div onclick ="addMoreEmail()" style="padding: 6px;float:left;cursor:pointer;"><div style="display:none;float: left; padding: 5px; margin-right: 10px; font-size: 13px;border: 1px solid #00adef; margin-left: 25px; border-radius: 4px; color; #00adef;"><img src="images/website/inviteuser.png"/>More</div></div>
							<div onclick="importGoogleUsers();" style="padding: 6px;float:left;cursor:pointer;"><div style="display:none;float: left; padding: 5px; margin-right: 10px; font-size: 13px;border: 1px solid #00adef; border-radius: 4px; color; #00adef;"><img src="images/website/inviteuser.png"/>Import from</div></div>
							 <div style="padding: 5px 0;">
				                <button id="startTourBtn" style="padding: 4px 18px !important;font-family:opensanscondbold;text-transform: uppercase;" class="btn btn-info">Take a tour</button>
			                </div> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="float: right;">
			<div style="padding: 15px 0;">
				<button onclick="inviteNewUsers();" id="sendEmail" style="padding: 4px 18px !important; margin-left: 10px;font-family:opensanscondbold;text-transform: uppercase;" class="btn btn-info" type="button">Next</button> 
			</div>
		</div>
	</div>
	-->
</div>


	
	<div id="denyUserReasonBox" class="availProjectDataDiv" style="border: 1px solid #B0B0B0;border-radius:0.4em !important; display:none;position:fixed;  z-index: 7000;width:500px;height:260px;background-color: #FFFFFF;box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.35);margin-left:25%;margin-top:10%;">
		<div style="float:left;width:100%;margin-top:2%;">
			<div style="float:left;width:30%;height:250px;">
				<img onerror="javascript:imageOnProjNotErrorReplace(this);"  src="" id="denyUserPrjImg" style="float:left;margin-left:10px;height:125px;width:125px;">
				<span id="denyUserProjectName" class="defaultWordBreak" style="margin-left:10px;width:90%;"> 
			</div>
			<div style="float:right;margin-right:10px;margin-top:-10px;">
				<img onclick="closeDenyUserReason();" src="images/close.png" style="cursor:pointer;">
			</div>
			<div style="float:left;width:65%;margin-top:3%;">
				<span id="deniedUserContainer" style="float:left;width:100%;height:250px;overflow:auto;"></span>
			</div>
		</div>
	</div>
	
    <div id="userProfileImagePopup" class="uploadFromGalleryPopUpCls">
	  <div style="width: 97%; height: 100%; margin: 12px">
	    <div id="userPHeaderDiv" style="height: 30px; margin: 5px">
	      <div id="userPrfHeader" style="width: 95%; float: left; font-family: opensanscondbold; font-size: 16px; cursor: pointer;" onClick="getUserAlbums();">Albums</div>
	    <div id="uProfileImgClose Close_cLabelTitle" style=" float: right;    margin-left: 5px;">
	       <img src="images/close.png" id="uProfileImgCloseImg" style="float: right; cursor: pointer;width: 12px;margin-top: 2px;" onclick="closeUserProfileImgPopup();" alt="">
	     </div>
	     <div id="uProfileImgBack Back_cLabelTitle" style="    float: right;">
	       <img src="images/back.png"  id="uProfileImgBackImg" style="float: left; cursor: pointer;width: 18px;" onclick="getUserAlbums();" alt="">
	     </div>
	   </div>
	   <div id="userProfileImagesContentDiv" style="overflow: auto;height: 87%"></div>
	  </div>
    </div>
    <!-- For project description onclick of project icon in breadcrum -->
   <div id="breadCrumProjDescDiv" class="createTaskPopUpMainCls" style="">
    <div style="float: left; width: 100%; padding: 1em; height: 100%;">
	 <img src="images/close.png"  class='Close_cLabelTitle' style="float: right; cursor: pointer;" onclick="closeProjDesc();" />
	 <div id="" style=" width: 100%; border-bottom: 1px solid rgb(191, 191, 191); height: 3em;">
	   <span style="cursor: pointer;margin-left:0.5em;margin-top:10px;float:left;" id="projDescTitle" ></span>
	 </div>
	 <div id="projDescContainer" style="background-color: white; width: 100%; overflow-y: auto; height: 37em;padding:0.5em;"></div>
   </div>	  
 </div>
    <!-- Hidden buttons for Google Open Id sign out -->
	<button id="authorize-button" style="display: none;">Authorize</button>
	<button id="signout-button" style="display: none;">Sign Out</button>
	<!-- Below line is commented because its giving problem to google email and google drive -->
	<!--  <iframe id="logoutframe" src="https://accounts.google.com/logout" style="display: none;width:1px;height: 1px;"></iframe>-->
	
	<div class="container-fluid">
		<div class="row">
			<div class="col">left</div>
			<div class="col">right</div>
		</div>
	</div>
	
	
	
	<div id="content"></div>
<!--Top_content-->
<!--Landingpage menu  -->
	
	











   	 <input type="hidden" id="updatedUserLogInName" val="">
   
   <div id='errorListDiv' class="container-fluid" style='display:none;'>
		<div class="row">
   			<div class="col-lg-12 iframePanel">
   			  
   			</div>
   		</div>
   	</div>		
   	
   	<div id="cropImg" style="display:none;position: fixed;z-index: 5001;width:400px;height:400px; left:50%;margin-left:-200px;top:50%;margin-top:-200px;background-color: #5897B0;padding:10px;">
             <div style='height: 90%;'>
		    	<img id="croppingImg" src="">
		     </div> 
		     <div style="position: absolute;top: 10px;right: 5px;z-index: 1;">
		      <img style="cursor:pointer;height:40px;" src="images/cancel-crop.png" onclick='closeCropper();' id="closeCrop">
		     </div>
             <div align='center' style='bottom: 10px; width: 100%;z-index: 5001;padding-top:8px;'>  
               <img src="images/rotate-left-crop.png" style="cursor:pointer;margin-left: 10px; margin-right: 10px;height:28px;" class="vanilla-rotate" id="rotateLeft-result" data-deg="-90">
               <img src="images/rotate-to-right-crop.png" style="cursor:pointer;margin-left: 10px; margin-right: 10px;height:28px;" class="vanilla-rotate" id="rotateRight-result" data-deg="90">
               <img src="images/Zoom-In-Crop.png" style="cursor:pointer;margin-left: 10px; margin-right: 10px;height:32px;" class="vanilla-zoom vanilla-zoom-in" id="rotateLeft-result" data-ratio="-0.1">
               <img src="images/Zoom-Out-Crop.png" style="cursor:pointer;margin-left: 10px; margin-right: 10px;height:32px;" class="vanilla-zoom vanilla-zoom-out" id="rotateRight-result" data-ratio="0.1">
               <img src="images/checked-crop.png" style="cursor:pointer;margin-left: 10px; margin-right: 10px;height:32px;" id="upload-result">
             </div>    
            </div>  



<script type="text/javascript">
	 
	
    
   
   </script>

   <script type="text/javascript" src="scripts/menujs/postlogin.js"></script>

	<!-- Google Openid registration -->
	<!-- Load the Google Platform Library -->
	<script src="https://apis.google.com/js/api.js?onload=handleClientLoad"></script>
   	<script src="https://apis.google.com/js/platform.js"></script>
 	<script>
 
   	
   	</script>  

	</body>
</html>
