/**
 * @author Abhishek 
 * This css file is used to contain all styling property of chat Application.
 */
#box {
	position: fixed;
	z-index: 10000;
	bottom: 3%;
	display: block;
	right: 26%;
}

.chat-box {
	bottom: 0;
	float: left;
	/* 		height: 501px; */
	/*  right: 0; */
	width: 30%;
	height: 100%;
	font-family: OpenSansRegular;
	font-size: 12px;
	/* position: absolute; */
	/*  z-index: 1000; */
}

#toggle-controlbox {
	background-color: #5D8BB7;
	bottom: 0;
	float: right;
	height: 25px;
	right: 0;
	width: 230px;
	border-top-left-radius: 5px;
	text-decoration: none;
	position: absolute;
}

/* #chat-frame{
		bottom: 0;
		height: 98%;
		width:100%;
		right: 0;
		display: none;
}

#chat-frame2{
		bottom: 0;
		height: 98%;
		width:100%;
		right: 0;
		display: none;
}

#chat-frame3{
		bottom: 0;
		height: 98%;
		width:100%;
		right: 0;
		
} */
.chat-header {
	/* width:99.5%;
	height:5%;
	background:#114342; */
	color: white;
	padding-left: 0px;
	font-weight: bold;
	/*border-top-left-radius:10px; */
	width: 100%;
	height: 12%;
	background: #09bcd4;
}

#chat-box {
	width: 100%;
	height: 83%;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	overflow: auto;
}

#groupChat-box {
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	overflow: auto;
	width: 100%;
	
}

#conversationList {
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	overflow: auto;
	width: 100%;
	height: 93%;
}

ul {
	list-style-type: none;
}

ul li:hover {
	box-shadow: 0 0 7px 0;
}

.message-panel {
	width: 250px;
	height: 311px;
	margin-right: 5px;
	float: right;
	diplay: block;
}

#header {
	height: 10%;
	background-color: #0e6a76;
	padding: 1%;
	font-family: OpenSansRegular;
	font-size: 12px;
	font-weight: bold;
	/*  border-top-left-radius: 7px;
 border-top-right-radius: 7px; */
}

#chat-dialog {
	word-wrap: break-word;
	overflow: auto;
	background: white;
	border: 1px solid #cccccc;
	height: 78%;
	background-color: #fff;
	width: 100%;
}

#chat-recomd-dialog {
	word-wrap: break-word;
	overflow: auto;
	border: 1px solid #cccccc;
	height: 78%;
	background-color: #fff;
	width: 100%;
}

#message-box {
	height: 15%;
}

.chatbox {
	/* width : 85%;
  height :60%;;
  resize : none;
  font-family: OpenSansRegular;
  font-size: 12px;
  margin-left: 7%;
  margin-top: 1.8%;
  border-radius: 5px; */
	border: 1px solid violet;
	/* padding: 1%; */
}

.box {
	display: none;
}

.roster-contact {
	margin-left: 0px;
	/* padding: 3px; */
	/*width:100%;
		float:left;*/
}

.conversation-contact {
	margin-left: 0px;
	padding: 1%;
	width: 100%;
	float: left;
}

.roster-name {
	font-size: 100%;
}

.online {
	color: green;
}

.away {
	color: #c33;
}

.pOnline {
	color: #000000;
}

.offline {
	color: #000000;
}

.user_box_status {
	border-radius: 9px;
	float: left;
	height: 12px;
	margin-right: 0px;
	margin-top: 8px;
	width: 12px;
	background-color: grey;
	border: 2px solid #fff;
}

.user_box_name {
	padding-left: 5%;
	float: left;
	width: 80%;
	height: 22px;
	margin-top: 2%;
	/* overflow: hidden;
		text-overflow: ellipsis; */
	white-space: nowrap;
}

.user_box_status_online {
	width: 12px;
	height: 12px;
	background: #07D82D;
	/* float:right; */
	margin-top: 2.3vh;
	border-radius: 9px;
}

.user_box_status_away {
	width: 12px;
	height: 12px;
	background: #FFCC00;
	/* float:right; */
	margin-top: 2.3vh;
	border-radius: 9px;
}

.chat-income-overall {
	margin-top: 0.9vh;
	width: 94%;
	float: left;
	position: relative;
	padding-left: 32px;
}

.single-chat-income-overall {
	margin-top: 0.9vh;
	width: 94%;
	float: left;
	position: relative;
	padding-left: 4px;
}

.chat-income-frame1 {
	width: 31%;
	height: 23px;
	margin-left: 4%;
	/* background:#0a4961; */
	background: #0b4860;
	z-index: 0;
	position: absolute;
}

.chat-income-imageframe {
	top: 0%;
	width: 6%;
	height: 18%;
	border-radius: 24px;
	background: #fff;
	/*float:left;*/
	position: relative;
}

.chat-income-image {
	top: 5%;
	/*left:10%; */
	width: 85%;
	height: 85%;
	border-radius: 20px;
	float: left;
	/* margin-top: 9%; */
	/* position:relative; */
}

.chat-income-message {
	/*  top:0px; */
	/* 	float:right; */
	width: auto;
	/* 	background:#0a4961; */
	background: #0b4860;
	color: #fff;
	padding: 3%;
	border-radius: 20px;
	position: relative;
	/* left: -1px; */
	font-family: OpenSansRegular;
	font-size: 12px;
	margin-left: 8%;
	box-shadow: 1px 1px 1px -1px black;
	width: 99%;
	cursor:pointer;
}

.chat-income-time {
	font-size: 11px;
	float: left;
	padding-left: 36px;
	width: 115%;
	color: gray;
}

.chat-outgoing-overall {
	margin-top: 2vh;
	margin-left: 3vh;
	width: 99%;
	float: left;
	height: auto;
	position: relative;
}

.chat-outgoing-frame1 {
	width: 30%;
	height: 25%;
	margin-left: 64%;
	background: #0688a2;
	z-index: 0;
	position: absolute;
}

.chat-outgoing-imageframe {
	top: 0;
	border-radius: 17px;
	background: #fff;
	float: right;
	/* position:relative; */
	/*margin-left: 2%;
		padding-top: 1.5%;*/
	height: 9vh;
	margin-top: -2.5vh;
	margin-bottom: 0.8vh;
}

.chat-outgoing-image {
	top: 5%;
	right: 29%;
	width: 35%;
	height: 85%;
	border-radius: 20px;
	float: right;
	margin-top: -2%;
	position: relative;
}

.chat-outgoing-message {
	top: 0px;
	float: left;
	width: auto;
	/* background:#007F9D; */
	background: #0688a2;
	color: white;
	padding: 3%;
	border-radius: 20px;
	position: relative;
	font-family: OpenSansRegular;
	font-size: 12px;
	max-width: 100%;
	min-width: 23%;
	cursor:pointer;
}

.conversation {
	height: 21px;
	min-height: 21px;
}

.chat-outgoing-time {
	font-size: 11px;
	text-align: right;
	width: 99%;
	float: left;
	color: gray;
	margin-top: -1vh;
}

.user_box_name:hover {
	color: blue;
}

.cancel {
	border-radius: 50px;
	float: left;
}

.clearSearch {
	backgroung-image: url(Path + '/images/Idea/cancel.png');
	width: 13px;
	height: 13px;
}

#h_chat {
	float: left;
	overflow: auto;
	position: fixed;
	bottom: 0;
	width: 45px;
	height: 30px;
	display: none;
	border: 1px solid #cccccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/*  margin-left: 190px; */
	z-index: 1000;
	background-color: #fff;
}

a {
	text-decoration: none;
}

#hiddenUser ul {
	list-style-type: none;
	padding: 0;
}

.imgClass {
	height: 10px;
	width: 10px;
	margin-left: 5px;
	cursor: pointer;
}

.selected {
	background-color: #5B74AE;
}

.name {
	width: 80%;
	height: 20px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#hiddenUser {
	border: 1px solid #ccc;
	bottom: 32px;
	height: auto;
	padding: 8px 0;
	position: fixed;
	width: 159px;
	z-index: 1000;
	background-color: #fff;
	display: none;
}

.transparentDivChat {
	background: #000000 none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	margin: 0;
	opacity: 0.6;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

.transparentDivChatBoxes {
	background: #000000 none repeat scroll 0 0;
	width: 250px;
	height: 332px;
	bottom: 0;
	/*  left: 0; */
	margin: 0;
	opacity: 0.6;
	padding: 0;
	position: absolute;
	/* right: 0; */
	top: 0;
	z-index: 10000;
}

.ideaTransparent {
	background: transparent;
	bottom: 0;
	display: none;
	left: 0;
	margin: 0;
	opacity: 0.1;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 105;
	background-color: #000000;
}

.incomingCall {
	bottom: 0;
	display: none;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 105;
	background: linear-gradient(#0b4860, #0b4860);
}

#logoDiv {
	bottom: 0;
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100000;
	background: linear-gradient(#0b4860, #0b4860);
}

#callerScreen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: linear-gradient(#0b4860, #0b4860);
	z-index: 100;
	left: 0;
	display: none;
}

#video-content, #audioFor, #screen-content {
	background: linear-gradient(#0b4860, #0b4860);
}

.cMe {
	animation: animatezoom 2s
}

@
keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}
.createBtn2 {
	float: right;
	/*  margin-top: 9px; */
	margin-top: 8%;
	border-radius: 4px;
	background: #00BFF3 !important;
	/*  padding: 5px 20px 5px 20px !important; */
	padding: 4% 18% !important;
	color: #fff;
	cursor: pointer;
	font-family: opensanscondbold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.drpDwnSelected2 {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	font-family: OpenSansRegular;
	font-size: 11px;
	height: 60%;
	outline: 0 none;
	padding: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	width: 200px;
}

.chatUserCls {
	height: 26px;
	background: #E8F7FC;
	width: auto;
	margin: 4px;
	font-size: 0.89vw;
	padding-top: 3px;
	padding-left: 6px;
	float: left;
	color: #1ABEE3;
	border: 1px solid #CFF5FE;
}

.bubble {
	background-color: #0b4860;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	float: left;
	margin: 5px 0px 5px 23px;
	border-color: #cdecb0;
	width: auto;
	max-width: 100%;
}

.bubble::before {
	/* background-color: #0b4860;
	color: #fff;
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 11px;
	transform: rotate(29deg) skew(-35deg);
	-moz-transform: rotate(29deg) skew(-35deg);
	-ms-transform: rotate(29deg) skew(-35deg);
	-o-transform: rotate(29deg) skew(-35deg);
	-webkit-transform: rotate(29deg) skew(-35deg);
	width: 20px;
	box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
	left: -9px; */
	
    display: block;
    position: absolute;
    left: -19px;
    width: 0px;
    height: 0px;
    border-right: 20px solid #0b4860;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.bubble2 {
	float: right;
	color: white;
	width: auto;
	background-color: #007b97;
	border-radius: 10px;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	margin: 10px 10px;
	border-color: #cdecb0;
	max-width: 100%;
}

.bubble2::before {
	/* float: right;
	background-color: #007b97;
	color: #fff;
	content: "\00a0";
	display: block;
	height: 19px;
	position: absolute;
	position: relative;
	left: 26px;
	top: 11px;
	transform: rotate(205deg) skew(-35deg);
	-moz-transform: rotate(205deg) skew(-35deg);
	-ms-transform: rotate(205deg) skew(-35deg);
	-o-transform: rotate(205deg) skew(-35deg);
	-webkit-transform: rotate(205deg) skew(-35deg);
	width: 20px;
	box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4); */
	
	display: block;
    position: absolute;
    right: -19px;
    width: 0px;
    height: 0px;
    border-left: 20px solid #007b97;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
}

.replyGroupBG::before{
	border-right: 20px solid darkgray;
}

.replyGroupBG2::before{
	border-left: 20px solid darkgray;
}

.replyNameTop{
	border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-right: -10px;
    background-color: white;
    font-size: 12px;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
    color: black;
    font-weight: bold;
    margin-left: -10px;
    margin-top: -2px;
}

.replyMsgBottom{
	border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: -10px;
    background-color: white;
    padding: 0px 8px 5px 8px;
    margin-bottom: 3px;
    margin-left: -10px;
    color: #64696F;
    font-weight: normal;
}

.replyToReply{
	margin-left: -8px;
}

.active {
	/* background-color: #339933; 
    color: white; 
   border-bottom: 4px solid;*/
	/*box-shadow: 0 1px 2px; 
    color: #009999;*/
	/* width: 63px; 
    border-bottom-color: #154B66;*/
	
}

.contacts {
	margin-left: 2vh;
}

.groups {
	margin-left: 2vh;
}

.socialUser {
	opacity: 0.5;
}

.singlebubble {
	background-color: #0b4860;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	float: left;
	margin: 5px 0px 5px 20px;
	border-color: #cdecb0;
	width: auto;
	max-width: 100%;
}

.singlebubble2 {
	float: right;
	color: white;
	width: auto;
	max-width: 75%;
	background-color: #007b97;
	border-radius: 10px;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	margin: 10px 10px;
	border-color: #cdecb0;
}

.forwardIconCls {
	float: left;
    height: 15px;
    width: 15px;
    margin-right: 2px;
}

.chatOutbubble {
	padding-right: 0px;
	width: auto;
	max-width: 100%;
}

.groupOutbubble {
	
}

.NameMsg {
	margin-left: 0px;
}

.ChatMsg {
	margin-right: 19px;
	margin-left: 5px;
}

div#singleChat_conv {
	margin-right: 25px;
}

.chatIcon {
	width: 62px;
	margin-left: -20px;
}

.FomDiv {
	width: 20%;
	float: right;
	right: 4px;
}

@media ( min-width : 992px) {
	.chatIcon {
		width: 60px;
		margin-left: 0px;
	}
}

@media ( max-width : 992px) {
	.FomDiv {
		width: 18%;
	}
}

@media ( max-width : 320px) {
	div#singleChat_conv {
		margin-right: 20px;
	}
	.NameMsg {
		margin-left: 13px;
	}
}

.avStatusSpan {
	width: 20%;
	background: white;
	color: black;
	padding: 3px 12px;
	border-radius: 6px;
	font-size: 13px;
	font-weight: bold;
	font-family: sans-serif;
}

@media ( min-width : 768px) {
	.ChatMsg {
		margin-right: 15px;
		margin-left: -5px;
	}
	.FomDiv {
		height: 10vh;
		min-height: 10vh;
		padding-top: 3.6vh;
		margin-right: 10px;
		margin-left: -15px;
	}
	div#singleChat_conv {
		margin-right: 25px;
		margin-left: 25px;
	}
	.ChatMsg {
		padding-left: 1vh;
	}
	.NameMsg {
		margin-left: 5px;
	}
	.FomDiv {
		margin-right: 5px;
		margin-left: -20px;
	}
	.active {
		margin-left: 0px;
		margin-right: -10px;
	}
}

.single-videochat-income-overall {
	margin-top: 0.9vh;
	width: 90%;
	float: left;
	position: relative;
	padding-left: 12px;
}

.videoUser:hover {
	box-shadow: 1px 1px 1px 1px darkgrey;
}

/* #videoUserLIst{
    z-index: 100;
    right: 5px;
    height: 300px;
    width: 300px;
    background-color: white;
    opacity: 0.9;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 130px;
} */
@media only screen and (max-width: 320px) {
	.conback {
		float: right;
		padding-left: 35px;
	}
	.consear {
		float: right;
		margin-right: -20px;
	}
	.conCallback {
		padding-left: 39px;
	}
	.conadd {
		float: right;
	}
	.conCallback {
		float: right;
		padding-left: 25px;
	}
}

@media only screen and (min-width: 1024px) {
	.conback {
		float: right;
	}
	.consear {
		float: right;
	}
	.conadd {
		float: right;
	}
}

@media only screen and (min-width: 768px) {
	.conback {
		padding-left: 12px;
	}
	.consear {
		margin-right: 0px;
	}
	.conCallback {
		float: right;
		padding-left: 18px;
	}
}

@media only screen and (min-width: 375px) {
	.conCallback {
		float: right;
		padding-left: 40px;
	}
	.conback {
		float: right;
		padding-left: 35px;
	}
	.conadd {
		float: right;
	}
	.consear {
		float: right;
		margin-right: -28px;
	}
}

@media only screen and (max-width: 425px) {
	.conCallback {
		float: right;
		padding-left: 40px;
	}
	.conback {
		float: right;
		padding-left: 35px;
	}
	.conadd {
		float: right;
	}
	.consear {
		float: right;
		margin-right: -28px;
	}
}