@CHARSET "ISO-8859-1";

@CHARSET "ISO-8859-1";

body {
	background-color: #ffffff;
	font-family: OpenSansRegular, cabin, Arial, sans-serif; 
    -webkit-font-smoothing: antialiased;
	color: #000;
	overflow: hidden;
}

/*************************** custom font css ***************************/
@font-face {
	font-family: 'OpenSansRegular'; /*Fo content*/
	src: url('../fonts/otf/OpenSans-Regular.otf');
}


@font-face {
	font-family: 'OpenSansSemibold'; /*For bredarum*/
	src: url('../fonts/otf/OpenSans-SemiBold.otf');
	
}

@font-face {
	font-family: 'OpenSansItalic'; /* For date and time*/
	src: url('../fonts/otf/OpenSans-Italic.otf');
	
}

/************************ Label header font ************************/
@font-face {
	font-family: 'opensansbold'; /* for tabs and menu label*/
	src: url('../fonts/otf/OpenSans-Bold.otf');
	
}
/************************ Label header font ************************/
@font-face {
	font-family: 'opensanscondbold'; /* for tabs and menu label*/
	src: url('../fonts/opensans-condbold-webfont.eot');
	src: url('../fonts/opensans-condbold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
		url('../fonts/opensans-condbold-webfont.woff') format('woff'),
		url('../fonts/opensans-condbold-webfont.woff2') format('woff'),
		url('../fonts/opensans-condbold-webfont.svg#opensansregular')
		format('svg');
}

/******************************** custom font css *****************************/
.defaultCls {
	margin: 0px;
	padding: 0px;
}

.uProfileDiv {
	width: 44px;
	height: 44px;
	float: left;
	position: relative;
	overflow: hidden;
	margin-right: -8px;
	padding:3px;
	background-image:url('/images/menus/profilebg.svg');
}

.menuLinkActive{
    background-color: #5E6097;
}

.convoSubIcons:hover{
	background-color: #E5E5E5;
	border-radius: 2px;
}
.main_commentTxtArea {
	width: 100%;
	float: left;
	resize: none;
	border-color: #c1c5c8;
	border-style: solid;
	border-width: 2px;
	font-size: 14px;
	padding: 10px;
	min-height: 90px;
	max-height: 250px;
	overflow: hidden;
}
.main_commentTxtArea:focus {
	box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
	border-color: #c1c5c8;
}	
.main_commentTxtArea:not(:focus) {
	box-shadow: none;
}
.actFeedOptionsDiv {
	top: -5px;
    position: absolute;
    padding: 4px;
    width: auto;
    display: none;
    height: auto;
    z-index: 1;
    border:1px solid #c1c5c8;
    right: 0px;
	background-color: #fff;
}

  .arrow-right {
	width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #5E6097;
    position: absolute;
    right: -8px;
    top: 7px;
  }
  
  .arrow-left {
	width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #5E6097;
    position: absolute;
    left: -8px;
    top: 7px;
  }

  .actFeedHover:hover {
	background: #eef5f7;
}

div.actFeedHoverImgDiv {
	visibility: hidden;
	display: block;
}

.actFeedHover:hover>div.actFeedHoverImgDiv {
	visibility: visible;
}

.searchSortPopUp {
	background-color: #ffffff;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6);
	float: right;
	height: 95px;
	min-width: 100px;
	position: absolute;
	right: 70px;
	width: 200px;
	z-index: 5010;
	padding: 1px 1px 0px 5px;
	top: 40px;
}

.wrkSpaceSearchActivityFeedSearchNew {
	font-size: 12px !important;
	font-family: OpenSansRegularNew, sans-serif !important;;
}

.sortoptcls {
	/* padding-bottom:4px; */
	margin-top: 5px;
	/* 	margin-right: 10px;  
	text-align: right;*/
	height: 23px;
}
.serachMainDivCls {
	border: 1px solid #ccc;
	float: left;
	border-radius: 4px;
	width: 98%;
	height: 27px;
	margin-top: 2%;
	font-size: 12px;
}



.searchIconMainDiv {
	float: left;
	width: 12%;
	height: 100%;
	border-left: 1px solid #ccc;
}

.searchCloseIconMainDiv {
	float: left;
	width: 9%;
	height: 100%;
}
.serachBoxClearIcon {
	float: left;
	margin-top: 6px;
	height: 9px;
	margin-right: 1px;
	/*  margin-left: 6px; */
	display: none;
	cursor: pointer;
}

.serachBoxClearIcon1 {
	float: left;
	margin-top: 6px;
	height: 9px;
	margin-right: 1px;
	/*  margin-left: 6px; */
	display: block;
	cursor: pointer;
}








/*----loading bar css ----*/

@mixin same-size($sz) {
	width: $sz;
	height: $sz;
}

.loader__wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10000;
    
}

.loader {
    --sz: 7rem;
    width: calc(var(--sz) * 2);
    height: var(--sz);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
	margin-top: 20%;
    margin-left: 45%;
    position: absolute;
    z-index: 106;
}

.loader__sq:first-of-type {
    margin-right: var(--m-offset);
}

.loader__sq {
    --p-sz: calc(var(--sz) / 4);
    --m-offset: calc((var(--p-sz) * -1) * 0.75);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}

.loader__sq:first-of-type::before {
    --i: 1;
    border: 3px solid #ff7ab5;
    border-radius: 50%;
}

.loader__sq::before, .loader__sq::after {
    width: var(--p-sz);
    height: var(--p-sz);
    content: "";
    position: relative;
    transform: translateY(calc((var(--sz) - var(--p-sz)) * -1));
    animation: loader-box-bounce 0.5s cubic-bezier(0.3, 0.5, 0.4, 0.95) calc(var(--i) * 0.06s) infinite alternate-reverse;
}

.loader__sq:first-of-type::after {
    -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.loader__sq:first-of-type::after {
    --i: 3;
    background-color: #c643fb;
}
.loader__sq::before, .loader__sq::after {
    width: var(--p-sz);
    height: var(--p-sz);
    content: "";
    position: relative;
    transform: translateY(calc((var(--sz) - var(--p-sz)) * -1));
    animation: loader-box-bounce 0.5s cubic-bezier(0.3, 0.5, 0.4, 0.95) calc(var(--i) * 0.06s) infinite alternate-reverse;
}

.loader__sq:nth-of-type(2)::before {
    --i: 2;
    border: 3px solid #ffb650;
}
.loader__sq:nth-of-type(2)::after {
    border-radius: 0;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.loader__sq:nth-of-type(2)::after {
    --i: 4;
    background-color: #2fe2dd;
    border-radius: 50%;
}

@keyframes loader-box-bounce {
	to {
		transform: translateY(0);
	}
}


*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}


.modal1 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10000; /* Sit on top */
	left: 7%;
	top: 7%;
	width: 86%; /* Full width */
	height: 85%; /* Full height */
	background-color: #8c8c8c; /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
 
  .modal2{
	position: fixed;
    z-index: 10000;
    left: 0%;
    top: 1%;
    width: 100%;
    height: 96%;
    background-color: rgba(0,0,0,0.9);
 } 
  	
   
  /* Modal Content (image) */
  .modal-content1 {
	margin: 0px auto;
	display: block;
	max-width: 100%;
	max-height: 100%;
	/*max-width: 700px;*/
  }
  
  
  
  /* Add Animation */
  .modal-content1{  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }

  .transparentDiv {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	-moz-opacity: 0.4;
	opacity: 0.4;
	-khtml-opacity: 0.4;
	z-index: 1000;
	position: fixed;
	display: none;
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0;
	bottom: 0;
}

.dropdown-toggle::after{
	display: none;
}

#projListDDContainer {
	background-color: #ffffff;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	min-width: 100px;
	padding-left: 5px;
	height: 300px;
	display: none;
	float: left;
	left: 95px;
	top: 89px;
	width: 211px;
	z-index: 5010;
	overflow-y: auto;
	padding-right: 5px;
}

.defaultExceedCls {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.defaultExceedMultilineCls{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
	word-break: break-all;
}

.sidebar-sticky::-webkit-scrollbar {
    width: 6px;
    background-color: #2B2C4B;
}
.sidebar-sticky::-webkit-scrollbar-thumb {
    background-color: #757575;
    border-radius: 10px;
}
.sidebar-sticky::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #2B2C4B;
}
.notHightlightCls {
	background: #ece98e;
}

.videobutton {
	position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 32%;
    left: 40%;
 }
 .alertMainCss {
 	background-color: #ffffff;
 	border-radius: 10px;
 	display: block;
 	position: fixed;
 	top: 40%;
 	left: 50%;
 	margin-left: -175px;
 	z-index: 65557;
 	width: 350px;
	font-size: 14px;
	box-shadow: 0px 0px 20px #000000;
 }
 .BoxAlert {
	/*background: url("../images/dialog-warning.png") top left no-repeat; */
	padding: 10px 0px 0px 15px;
	text-align: left;
	font-size: 13px;
	font-family: opensanscondbold;
	letter-spacing: 1px;
}
 #confirmCloseDiv {
 	background: url("/images/menus/close2.svg") top left no-repeat;
 	float: right;
 	cursor: pointer;
 	margin: 2px 3px 0px 0px;
 	width: 25px;
 	height: 25px;
 }
 .BoxConfirmDelete {
 	/*background: url("../images/dialog-delete.png") top left no-repeat;  */
 	padding: 10px 0px 0px 15px;
 	text-align: left;
 	font-size: 13px;
 	font-family: opensanscondbold;
 	letter-spacing: 1px;
 }
 .alertBtnCss input {
 	margin: 25px 5px 10px 10px;
 	min-width: 56px;
 	height: 24px;
 	border: none;
 	color: #ffffff;
 	border-radius: 10px;
 	background: #00BFF3 !important;
 	cursor: pointer;
 	font-family: opensanscondbold;
 	text-transform: uppercase;
 }
 .alertBtnCss {
 	text-align: right;
 }
 #BoxOverlay {
 	position: fixed;
 	top: 0px;
 	left: 0px;
 	opacity: 0.7;
 	background-color: rgb(0, 0, 0);
 	z-index: 65555;
 	height: 100%;
 	width: 100%;
 	display: block;
 }
 .activityfieldUserListMain {
	width: 23vw;
 	overflow: auto;
 	max-height: 83px;
 	background-color: #EFEFEF;
 	display: none;
 	z-index: 100;
 	color: #fff;
	 --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
    box-shadow: 0 0 0 1px var(--saf-0),0 4px 12px 0 rgba(0,0,0,0.08);
	border-radius: 6px;
	padding: 10px;
	/* margin-top: 5.6rem !important; */
 }
 /* .activityfielduserList {
 	list-style-type: none;
 	padding-left: 3%;
 } */
.activityfielduserList li:first-child {
	/* margin-left: 4px !important; */
	/* margin: 4% !important; */
}
/*#1AAFD0*/
.projUserListMainnewWS{
	width: 250px;
	overflow: auto;
	height: 170px;
	background-color: white;
	display: none;
	position: absolute;
	z-index: 100;
	color: #fff;
	/* border: 1px solid grey; */
}
.projUserListMain {
	width: 23vw;
	overflow: auto;
	max-height: 83px;
	background-color: #EFEFEF;
	display: none;
	z-index: 100;
	color: #fff;
	--saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
    box-shadow: 0 0 0 1px var(--saf-0),0 4px 12px 0 rgba(0,0,0,0.08);
	border-radius: 6px;
	padding: 10px;
}
.first {
	font-size: 10px;
	border-bottom: 0px solid #cccccc;
	padding-left: 5px;
	transition: 0.2s all;
}
.header {
	font-size: 14px;
    margin-left: 0px;
    color: black;
    font-weight: 700;
    border-bottom: 1px solid grey;
}
.participant:hover {
	background-color: #eef5f7;
	cursor:pointer;
	transition: 0.2s all ease-in-out;
	
}
/*
.names:hover {
	color:#CAD5E2
}
*/
.projuserList {
	list-style-type: none;
	/* padding-left: 3%; */
	padding: 0px;
}
.activityfielduserList {
	list-style-type: none;
	/* padding-left: 3%; */
	padding: 0px;
}
/* .projuserList li:first-child {
	margin-left: 4px !important;
} */

.aTList::-webkit-scrollbar {
	width: 6px;
	background-color: #c1c1c1;
	height: 10px;
}

.aTList::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 10px;
}

.aTList::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(154, 152, 152, 0.3);
	background-color: white;
	height: 10px;
	width: 0px;
	
}
.aTList::-webkit-scrollbar-track {
	height: 5px;
}

/* ws scroll bar */
.wsScrollBar::-webkit-scrollbar {
	width: 6px;
	background-color: #c1c1c1;
	height: 10px;
}

.wsScrollBar::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 10px;
}

.wsScrollBar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(154, 152, 152, 0.3);
	background-color: white;
	height: 10px;
	width: 0px;
	
}
.wsScrollBar::-webkit-scrollbar-track {
	height: 5px;
}

@media screen and (max-width: 600px) {
	.aTList {
		max-width: 180px !important;
		min-width: 180px !important;
	}

}


#notificationContainer{
	background-color: #ffffff;
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	float: right;
	right: 0px;
	z-index: 5010;
	overflow: scroll;
	overflow-x: hidden;
}
#helpPopup{
	background-color: #ffffff;
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	float: right;
	right: 0px;
	z-index: 5010;
	overflow: scroll;
	overflow-x: hidden;
}
#searchoptiondivPopup{
	background-color: rgb(50, 13, 111);
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	float: right;
	right: 0px;
	z-index: 5010;
	overflow: scroll;
	overflow-x: hidden;
}


  #globalsearchdivision input[type=text] {
	font-size: 25px;
	border: none;
	float: left;
	width: 100%;
	background-color: rgb(50, 13, 111);
	border-bottom: 2px solid white;
	outline: none;
  }
  

  #globalsearchdivision::placeholder {
	color: #a6a6a6;
  }
  
  
  #globalsearchdivision img {
	width: 25px; 
	float: left;
	font-size: 17px;
	background-color: rgb(50, 13, 111);
	border-bottom: 2px solid white;
	outline: none;
	cursor: pointer;
  }
  
  .paddingclass{
	color: #fff;
	text-decoration: none !important;
	cursor:pointer;
  }

  .notfContentHover:hover {
	text-decoration: underline;
	color: #2D9FC1 !important;
}
  
  
  #menuListDiv{
	top: 50px;
	height: calc(100vh - 50px);
	background: #607D8B;
	z-index: 6000;
	position: fixed;
	padding: 17px;
	color: #ffffff;
	width: 21%;
	overflow-y: auto;
}
  .subMenuList {
	padding: 7px 16px 7px 10px;
  }
  .subMenuList li {
	list-style-type: none;
  }
  .subMenuListLabel {
	font-family: OpenSansRegular;
	/*font-size: 0.95vw;*/
	font-size: 12px;
	padding: 3px 0px 3px 2px;
	cursor: pointer;
}
.subMenuListLabel:hover {
	text-decoration: underline;
}

.subMenuList ul {
	-webkit-padding-start: 12px !important;
}

.arrowLeftMenuList {
	width: 5px;
	height: 7px;
	margin-right: 5px;
}
.homeLabel {
	padding: 0px 0px 6px 6px;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	font-family: OpenSansRegular;
	font-weight: bold;
	/*font-size: 1vw;*/
	font-size: 14px;
}

.srhPopup{
	background-color: #ffffff;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
	right: 30px;
	z-index: 5010;
	top: 0px;
}

.triangle-right {
    position: relative;
}
/* this CS forms the triangles */
.triangle-right:after,
.triangle-right:before {
    content: '';
    display: block;
    position: absolute;
    left: 108%;
    width: 0;
    height: 0;
    border-style: solid;
}

/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.triangle-right:after {
    top: 5px;
    border-color: transparent transparent transparent white;
    border-width: 10px;
}

/* this border color controlls the outside, thin border */
.triangle-right:before {
    top: 5px;
    border-color: transparent transparent transparent #595959;
    border-width: 11px;
}

.inviteProjUserDiv {
	border: 1px solid #b4adad;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
	height: 130px;
	margin-bottom: 6px;
    margin-top: -38px;
}

.newWorkSpaceCreate {
	position: absolute;
    width: 55%;
    max-width: 900px; 
    margin: 0vh auto 0px;
    right: 0%;
    left: 0%;
    z-index: 1998;
	top: 26px;
}

.projInviteUser {
	/* width: 232px; */
	/* border: 1px solid; */
	/*font-size: 0.8vw;*/
	font-size: 13px;
	/* padding-left: 5px; */
	outline:none;
	height: 22px;
}

.profImg {
	width: 30px;
	height: 30px;
}

.dropDow {
	margin-right: 17px;
}

.closeOp {
	padding-top: 3px;
}

.listImgProf {
	width: 30px;
	height: 30px;
}

.listOfUser{
	font-size: 13px;
	padding: 5px;
}
@media screen and (max-width:439px) {
	.newWorkSpaceCreate{
		width: 90%;
		height: 90%;
	}

	.inviteUserpopUp {
		/* position: absolute; */
    	bottom: 158px;
	}

	.profImg {
		width: 20px;
    	height: 20px;
		margin-right: 0px!important;
	}

	.profNam {
		font-size: 11px;
	}

	.dropDow {
		margin-right: 5px;
	}

	.selectOp {
		width: 58px;
    	/* height: 15px; */
	}

	.closeOp {
		padding-top: 1px;
	}

	.closeAp {
		width: 9px;
    	height: 9px;
	}

	.projInviteUser {
		width: 169px;
	}

	.projUserListMainnewWS{
		width: 160px !important;
		height: 170px;
	}
	#inviteUserpopU, #inviteUserpopUAdv{
		width: 190px !important;
	}
	#inviteUsers, #inviteUsersAdv{
		width: 150px !important;
	}

	.listOfUser{
		font-size: 10px;
		padding: 5px;
	}

	.listImgProf {
		width: 20px;
		height: 20px;
		margin-right: 8px!important;
	}
	#notificationContainer{
		width: 97% !important;
		max-width: 600px !important;
	}
 

 
}
@media screen and (max-width:650px) {
	#customDesktopNotification{
		width:75% !important;
		bottom:50px !important;
	}
}
@media screen and ( min-width : 651px) and (max-width:970px) {
	#customDesktopNotification{
		width:50% !important;
	}
}

@media screen and ( min-width : 440px) and (max-width : 765px){
	.newWorkSpaceCreate{
		width: 90%;
	}
	#notificationContainer{
		width: 97% !important;
		max-width: 500px !important;
	}
	.projUserListMainnewWS{
		width: 200px !important;
		height: 170px;
	}
	#inviteUserpopU, #inviteUserpopUAdv{
		width: 240px !important;
	}
	#inviteUsers, #inviteUsersAdv{
		width: 190px !important;
	}
	
}

@media screen and ( min-width : 768px) and (max-width : 1023px){
	.newWorkSpaceCreate{
		width: 90%;
	}
	#notificationContainer{
		width: 75% !important;
		max-width: 400px !important;
	}
	#inviteUserpopU, #inviteUserpopUAdv{
		bottom: unset !important;
	}
	
	
}

@media screen and ( min-width : 1024px) and (max-width : 1439px){
	.newWorkSpaceCreate{
		width: 80%;
	}
	
}
@media screen and ( min-width : 1024px) and (max-width : 1250px){
	#notificationContainer{
		width: 50% !important;
		max-width: 400px !important;
	}
	
}

@media (max-width: 30em) {
	.newWorkSpaceCreate {
		left: 1%;
	}
}

.mainBox {
	width: 98%;
    z-index: 10000;
    /* font-family: OpenSansRegular; */
    margin-top: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

.hModalContent {
	background-color: white;
    border-radius: 0px;
    box-shadow: none;
}

.closebtttn {
	/* padding: 1.5vh; */
    border: none;
}

#hListDiv {
	/* width: 100%;
    height: 100%;
    overflow: auto; */
    padding: 10px 6px 10px 0px;
}



.createBtn {
	width:90px !important;
	float: right;
	border-radius: 4px;
	text-align:center;
	background: #00BFF3 !important;
	padding: 5px 5px !important;
	color: #fff;
	cursor: pointer;
	font-size:13px;
	font-family: opensanscondbold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.prjUserCls {
	height: 37px;
	background: white;
	width: 95%;
	margin: 4px;
	font-size: 13px;
	border-radius: 15px;
	padding-top: 3px;
	padding-left: 6px;
	float: left;
	color: black;
	border: 1px solid white;
}

#myModal2 {
	right: 22%;
}
.sliderange {
	-webkit-appearance: none;
	height: 1px;
	background:linear-gradient(90deg, rgb(132, 132, 132) 60%, rgb(132, 132, 132) 60%);
	outline: none;
	
  }

  .sliderange::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 13px; /* Set a specific slider handle width */
	height: 13px; /* Slider handle height */
	background: rgb(49 153 247); /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
  }
  
  .sliderange::-moz-range-thumb {
	width: 13px; /* Set a specific slider handle width */
	height: 13px; /* Slider handle height */
	background: rgb(49 153 247); /*  background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
  }
  
  .tabClass1active, .tabClass1:hover{
	color:#555656 !important;
	cursor:pointer;
	font-size:14px;
	border-bottom:2px solid #3fa1ee;
}
.tabClass1{
	color:#a4a4a4;
	font-size:14px;
	cursor:pointer;
	font-family: 'OpenSansSemibold';
}

.mzoption{
	color: #8c8a99 !important;
}
.mzoptionactive{
	text-decoration: underline;
	color: #fff !important;
}



fieldset {
    display: none
}

fieldset.show {
    display: block
}




.tabs1 {
    margin: 2px 5px 0px 5px;
    /* padding-bottom: 10px; */
    cursor: pointer
}

.tabs1:hover,
.tabs1.active1 {
    /* border-bottom: 1px solid #2196F3 */
	border-radius: 4px;
    background: #00BFF3 !important;
    color: #fff !important;
    /* height: 25px; */
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #1565C0
}

.box1 {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px
}

#advOptionContainer{
	/* position: absolute;
    width: 55%;
    min-width: 900px;
	margin: 0vh auto 0px;
    right: 0%;
    left: 0%;
    z-index: 1998;
    top: 26px;  */
}
@media screen and (max-width:970px) {

	.modal-dialog11{
		width:95% !important;
	}
	.tabs1{
		width: 12% !important;
	}
	#tabAdvHeader{
		width: 30% !important;
	}
	#statusDaterange{
		display:grid !important;
	}
	#taskQuote{
		width:80% !important;
	}
	#postTcode, #codeLib{
		width:10% !important;
	}
	
 	/* #advOptionContainer{
		width: 100% !important;
		height: 90%;
	}	
	 .mainBox1{
		 width: 75% !important; 
	} */

}

.modal3 {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    outline: 0;
}

.prjUserClsNew {
	padding: 4px;
    font-size: 0.89vw;
	padding-top: 3px;
    padding-left: 6px;
    float: left;
    
}
.prjUserClsNew:hover{
	background-color: #2D9FC1;
}


.modal-dialog11{
	height:calc(100% - 60px);
	position: relative;
    width: 65%;
    margin: .5rem;
    pointer-events: none;
}
.modal-content11{
	height:95%;
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header11{
	height:45px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* padding: 1rem; */
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;

}

.modal-header1122{
	height:45px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
    /* padding: 1rem; */
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;

}

.docactive {
    color: #555656 !important;
    border-bottom: 2px solid #3fa1ee;
}
#copyMoveBack{
    position: absolute;
    right: 6px;
}
.model-footer11{
	height:75px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-body11 {
	height:calc(100% - 125px);
	overflow-y: auto;     /*give auto it will take based in content */
	overflow-x: clip;
	position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
     
}
.modal11,.modal12 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    outline: 0;
}

.tCodeLibListValue:hover {
	background-color: #cceeff;
}

.projImgMainDiv {
	margin-right: 25px;
	margin-left: 25px;
	cursor: pointer;
	float: left;
	height: 125px;
	width: 90px;
}
.projImageCls {
	width: 82px;
	height: 82px;
	border-radius: 6px;
}
.prjName {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 10px;
	margin-top: 10px;
	font-family: OpenSansRegular;
}
.shareUserIcon {
	cursor: pointer;
	float: left;
	margin: 3px 0px 0px 2px;
	width: 18px;
}
.projImageContainer {
	background-color: #FFFFFF;
	border-radius: 6px;
	border: 1px solid grey;
	height: 84px;
	width: 84px;
}
.settingIcon {
	float: right;
	position: absolute;
	width: 84px;
}
.wrkSpaceProjOption {
	margin-right: 5px;
	margin-top: 3px;
}
@media ( min-width :321px) and (max-width:420px) {
	.projImgMainDiv {
		width: 80px;
	}
}
@media ( max-width : 320px) {
	
	.projImgMainDiv {
		width: 70px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.projImgMainDiv {
		
	}

}	 

@media screen and (min-width: 576px) {
	#userPicContainer{
		max-width: 20% !important;
	}
	#usersDetailsDiv1{
		min-width: 80% !important;
	}
}	


/* ck editor css changes  */
.ck-toolbar, .ck-toolbar_grouping{
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	height: 28px !important;
}
.ck-content, .ck-editor__editable, .ck-rounded-corners, .ck-editor__editable_inline, .ck-blurred{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	/* height: 100px !important; */
}
.ck-reset, .ck-editor, .ck-rounded-corners{
	height: 75px !important;
}
.ck-placeholder{
	margin:5px 0px !important;
	font-size:12px !important; 
}
.ck-button__label{
	font-size:12px !important;
}
div[aria-label="Rich Text Editor, main"] {
	font-size:12px !important;
}
.ck.ck-toolbar>.ck-toolbar__items>:not(.ck-toolbar__line-break), .ck.ck-toolbar>.ck.ck-toolbar__grouped-dropdown {
    margin-top:0px !important;
}
.ck-icon{
	height: 15px !important;
}
ck-reset, .ck-dropdown__panel, .ck-dropdown__panel_se, .ck-dropdown__panel-visible{
	overflow-y: scroll !important;
}
.ck-toolbar__separator{
	display:none !important;
}

.pImg{
	border-bottom:none !important;
}

.dNotf:hover{
	background-color:#e6e9ec !important;
}

.material-textfield-label {
    position: absolute;
    font-size: 12px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
   
    color: #9f9a9a;
    padding: 0 6px;
    margin-left: 1%;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
    font: caption;
    
}
.material-textfield-input {
  	/* outline: none; */
    transition: 0.1s ease-out;
    width: 100%;
}



.material-textfield {
	position: relative;  
}

.participantsBox{
	z-index: 100;
    /* width: 280px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 11px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
    height: 220px;
    overflow: hidden;
    cursor: default;
    border-color: rgb(145, 145, 145) !important; */
}

.participantsBox1{
    width: 280px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 11px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
    height: 220px;
    overflow: hidden;
    cursor: default;
    border-color: rgb(145, 145, 145) !important;
}
  
.popupComments{
	position: absolute;
    top: 105px;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: block;
    overflow: hidden;
    outline: 0;
}  

.gridBox{
	width: 270px;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
	cursor: pointer;
	height: 120px;
	border-radius: 6px;
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	flex-direction: column;
	
	/* white-space: nowrap; */
	font-size:12px;
	position: relative;
	border: 1px solid #AAAAAA;
  }

.calendar-1{
  width: 100%;
  height: 500px;
  margin: 0px auto;
  font-size: 14px;
}

.calendar-2{
	width: 100%;
	height: 500px;
	margin: 0px auto;
	font-size: 14px;
  }

#spGrouplist{
    color: black;
    background: #FFF;
    border: 1px solid rgb(166, 166, 166);
    padding: 7px;
    max-height: 150px;
    overflow: auto;
    border-radius: 2px;
    font-size: 12px;
    width: 250px;
    z-index: 10;
    text-align: left;
  }

  #sprintlistcontent{
    color: black;
    background: #FFF;
    border: 1px solid rgb(166, 166, 166);
    padding: 7px;
    max-height: 150px;
    overflow: auto;
    border-radius: 2px;
    font-size: 12px;
    width: 150px;
    z-index: 10;
    text-align: left;
  }

  .taskNodeSelect{
	border: 2px solid #33d6ff !important;
  }

  .changeColorActFeed {
	  background-color: #ece98e;
  }

  .popupTask{
	position: absolute;
    top: 105px;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: block;
    overflow: hidden;
    outline: 0;
  }

  .pophover {
    position: absolute;
    top: 175px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    outline: 0;
}

.iconStyles{
	width:20px;
	height:20px;
	cursor:pointer;
}

.pophover1{
	border-radius: 8px;
    width: 500px;
    height: auto;
    color: black;
    font-size: 12px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
    border-color: rgb(193, 197, 200) !important;
    display: block;
}

.imageUpload {
	background: url("/images/task/upload_cir.svg") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: block;
	height: 22px;
	overflow: hidden;
	width: 22px;
	z-index: 1;
	cursor:pointer;
}
#CsvFileName {
	cursor: pointer;
	height: 100%;
	left: -150px;
	opacity: 0;
	position: relative;
	top: -10px;
	width: 100px;
}

.headerBar {
	background-color: #003A5D;
	position: sticky;
	top: 0;
	letter-spacing: 1px;
	font-size: 14px;
	color: #fff;
	/*font-family: OpenSansSemibold;*/
}

.hov:hover{
	background: #eef5f7 !important;
}

@media screen and (max-width: 1000px){
	.headerBar{width:fit-content;}
	.documentListHeaders1{min-width:100vh}
	.documentListHeaders2{min-width:15vh}
	.documentListHeaders3{width:10vh}
	

}

@media screen and (min-width: 1001px){
	/* .documentListHeaders1{min-width:76%}
	.documentListHeaders2{min-width:6%} */
	.documentListHeaders1{width:60%}
	.documentListHeaders2{width:7%}
	.documentListHeaders3{width:2%}
	


}
.textCenter{
	text-align:center;
}

.iconClass{
	width:18px;
	height:18px;
	cursor:pointer;
}

.userInput{
    font-family: OpenSansRegular;
    font-size: 12px;
    height: 38px;
    resize: none;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding-left: 5%;
}

.newinput2{
    height: 35px;
    border: 1px solid #C1C5C8;
    border-radius: 6px;
    font-size: 12px;
    padding-top: 8px;
  }
  .newinput1{
    border-radius: 6px;
    font-size: 12px;
    width: 95%;
    padding-left: 10px;
  }

  .newinput:focus, .newinput1:focus {
    border-color: rgb(0, 0, 198) !important;
}

.mandatoryField{
    position: absolute;
    color: #003A5D;
    margin-left: 3px;
    font-size: 13px;
}


.userInpTextarea{
    box-shadow: 0 1px 4px 0 rgb(168 168 168 / 90%) inset;
    height: 85px;
    outline: none;
    font-family: OpenSansRegular;
    font-size: 12px;
    resize: none;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding-left: 5%;
}
  
  .newinput2:focus, .newinput1:focus{
    border-color: rgb(0,0,198) !important;
  }

  .transparentDiv2 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	-moz-opacity: 0.4;
	opacity: 0.4;
	-khtml-opacity: 0.4;
	z-index: 1090;
	position: fixed;
	display: none;
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0;
	bottom: 0;
}

.voilerPopUp {
	position: absolute;
    top: 133px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
}

#voiPopUp {
	background-color: white;
	width: 50%;
}

.createBtnNew {
	width:70px !important;
	float: right;
	border-radius: 4px;
	text-align:center;
	background: #00BFF3 !important;
	padding: 5px 5px !important;
	color: #fff;
	cursor: pointer;
	font-size:13px;
	font-family: opensanscondbold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.createBtnNew3 {
	width:88px !important;
	float: right;
	border-radius: 4px;
	text-align:center;
	background: #00BFF3 !important;
	padding: 5px 5px !important;
	color: #fff;
	cursor: pointer;
	font-size:13px;
	font-family: opensanscondbold;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.createBtnNew4 {
	width:88px !important;
	float: right;
	border-radius: 4px;
	text-align:center;
	background: #00BFF3 !important;
	padding: 5px 5px !important;
	color: #fff;
	cursor: pointer;
	font-size:13px;
	font-family: opensanscondbold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#voiPopUp2nd {
	background-color: white;
	width: 50%;
	border-radius: 10px;
}

#voiPopUp3rd {
	background-color: white;
	width: 50%;
	border-radius: 10px;
}

.userInputNew {
	font-family: OpenSansRegular;
    font-size: 12px;
    height: 38px;
    resize: none;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
	padding-left: 5%;
	width: 150%;
}

.createBtnNew1 {
	width:100px !important;
	border-radius: 4px;
	text-align:center;
	background: white !important;
	color: #00BFF3;
	cursor: pointer;
	font-size:13px;
	font-family: opensanscondbold;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 34px;
	border: 1px solid #00BFF3;
}

.material-textfield-input:not(:placeholder-shown) + .material-textfield-label  {
	top: 10px !important;
	transform: translateY(-50%) scale(.9);
	background:#FFF;
  }

#upload_Newprofile11 {
	display: none;
  }

  .welcomeMsg {
	flex-direction: column;
    width: 44%;
    background: #e5e3e3;;
    margin-right: 7px;
    margin-left: -15px;
	border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
	justify-content: space-around;
  }

  #changeDynamicNew2{
	font-size: 10px;
    cursor: pointer;
  }

  .fullPhotoFram{
	width: 130px;
    height: 130px;
    background-color: #762165;
    border-radius: 12px;
    margin-bottom: 79px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #welcomeImg{
	width: 163px;
    height: 255px;
  }

