@media (min-width: 992px) and (max-width: 1199px) {
    .menu_area .navbar-brand {
        font-size: 42px;
    }
    .menu_area #nav .nav-link {
        padding: 35px 7.5px;
    }
    .sing-up-button > a {
        color: black;
        height: 40px;
        min-width: 152px;
        line-height: 36px;
        font-size: 14px;
    }
    .welcome-thumb {
        width: 50%;
        bottom: 350px;
        right: 10px;
    }
	.welcome-thumb-notify{
		width: 50%;
        bottom: 350px;
        right: 10px;
	}
   /*  .video-area {
        height: 180px;
    } */
	.video-embed-tool{
		height: 250px;
		width: 450px;
	}
       .app_screenshots_slides {
        padding: 0 4%;
    }
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 23px 7.5px;
    }
	.get-startedfor-image{
		padding: 150px 0 0 10px;
	}
	.more-options-area{
	  /* height: 550px; */
	     height: 100%;
	}
	/* .ctour-sub{
	  padding: 200px 0 0 30px;	
	} */
	.dividerline{
	  border-right: 1px solid white;
      height: 310px;
	  margin-top: 28vh;
	}
	/* .options-extra{
		margin-top: 230px;
		float: right;
	} */
	
	.ctour{
	  margin-right: 50px;
	  width: 18%;
	}
	
	.ctour-twitter{
	  margin-right: 50px;
	  width: 60%;
	}
	.get-start-area-product .email{
		margin-bottom: 15px;
	}
	/* .get-start-area-product .submit{
		margin-left: 0px;
	} */
	.pricing-cont {
		height: 800px;
	}
	.package-description-signup{
		width: 75%;
	}
	
	.get-start-area-product-plan .email{
		margin-bottom: 15px;
	}
	
	.get-start-area-product-plan .submit{
		margin-left: 0px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
		height: 65px;
		margin-top: -8px;
    }
   /*  .header_area.sticky {
        height: 50px;
    } */
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 7.5px 15px;
    }
    #ca-navbar {
        padding: 30px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .welcome-thumb {
        width: 50%;
        bottom: 375px;
        right: 0;
    }
	.welcome-thumb-notify {
        width: 50%;
        bottom: 375px;
        right: 0;
    }
    .wellcome-heading {
        margin-bottom: 70px;
    }
    .single-special {
        padding: 30px 10px;
    }
    .special_description_area.mt-150 {
        margin-top: 50px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    /* .video-area {
        height: 150px;
    } */
	.video-embed{
		height: 150px;
		width: 300px;
	}
    .section-heading > h2 {
        font-size: 38px;
    }
    .address-text > p,
    .phone-text > p,
    .email-text > p {
        font-size: 16px;
    }
    .footer-text > p {
        margin-bottom: 30px;
    }
    .section-heading {
        margin-bottom: 50px;
    }
    .sing-up-button > a {
        margin-top: 4px;
        display: inline-block;
        border: 2px solid #a883e9;
        height: 40px;
        min-width: 160px;
        line-height: 36px;
        font-size: 14px;
    }
    .counter-area {
        min-width: 50px;
    }
    .counter-area > h3 {
        font-size: 30px;
    }
    .app_screenshots_slides {
        padding: 0;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 90px !important;
        height: 90px !important;
    }
	.getStarted-area{
		height: 600px;
	}
	.get-startedfor-image{
		padding: 80px 0px 0 80px;
	}
	.project-colabusAI{
		padding: 200px 0px 0 20px;
	}
	
	.more-options-area{
	  /* height: 925px; */
	  height: 50%;
	}

	/* .ctour-sub{
	  padding: 30px 0 0 0px;
	} */

	.dividerline{
	  margin-top: 0px;
	}
	
	/* .extra-options{
		padding: 175px 0 0 50px;
	} */
	/* .options-extra{
		margin-top: 230px;
		float: right;
	} */
	.navbar-toggler{
		margin-right: -100px;
	}
	
	.ctour{
	  margin-right: 45px;
	  width: 25%;
	}

	.ctour-twitter{
	  margin-right: 45px;
	  width: 60%;
	}
	
	.get-start-area-product .email{
		margin-bottom: 15px;
	}
	/* .get-start-area-product .submit{
		margin-left: 0px;
	} */
	.section-heading-product{
		font-size: 30px;
	}
	
	.integrationMainCls {
		max-width: 48%;
		margin-right: 1%;
	}
	
	.wellcome_area_reglogin{
		height: 62px;
	}
	
}

@media (min-width: 320px) and (max-width: 767px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
		height: 60px;
		margin-top: -7px;
    }
    
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 5px 15px;
    }
    #ca-navbar {
        padding: 20px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .header_area {
        top: 0;
    }
    .welcome_text .cd-intro > p {
        font-size: 14px;
    }
    .wellcome-heading > h2 {
        font-size: 48px;
    }
    .get-start-area .email {
        margin-bottom: 20px;
        max-width: 100%;
    }
    .welcome-thumb {
        width: 100%;
        bottom: 0px;
        right: 0px;
    }
	.welcome-thumb-notify{
		width: 100%;
        bottom: 0px;
        right: 0px;
	}
    .logo_area > a > h2 {
        font-size: 40px;
        margin-top: 10px;
    }
    .section-heading > h2 {
        font-size: 32px;
    }
    .single-special {
        margin-bottom: 30px;
    }
    .special_description_area.mt-150 {
        margin-top: 50px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    .app-download-btn:first-child {
        margin-right: 0;
    }
    .app-download-area {
        display: block;
    }
    .app-download-btn {
        margin-bottom: 20px;
    }
    .video-area {
        /* border: 10px solid #fff;
        border-radius: 20px; */
        height: 150px;
		width: 300px;
    }
    /*  .video-area::after {
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
       border: 1px solid #f1f4f8; 
        z-index: 2;
        border-radius: 20px;
    }*/
    .clients-feedback-area .client-description > p {
        font-size: 20px;
    }
    .clients-feedback-area .slick-slide img {
        width: 60px !important;
        height: 60px !important;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 70px !important;
        height: 70px !important;
    }
    .membership-description > h2 {
        font-size: 32px;
    }
    .get-started-button {
        text-align: left;
        margin-top: 20px;
    }
    .contact_from {
        margin-top: 30px;
    }
    .wellcome-heading > h3 {
        font-size: 252px;
        top: -105px;
        left: -1px;
    }
    .wellcome-heading,
    .single-cool-fact {
        margin-bottom: 50px;
    }
    .cool_facts_area .col-12:last-of-type .single-cool-fact {
        margin-bottom: 0;
    }
	.single-feature1{
		margin-top: 65px;
	}
	.getStarted-area{
		height: 600px;
	}
	.get-startedfor-image{
		padding: 80px 0px 0 35px;
	}
	.project-colabusAI{
		padding: 85px 0px 0 20px;
	}
	.more-options-area{
	  /* height: 1100px; */
	  height: 50%;
	}

	.ctour-sub{
	  padding: 0px 0 0 10px;
	}

	.dividerline{
	  margin-top: 0px;
	}
	
	.ctour{
	  margin-right: 22px;
	  width: 40%;
	}
	
	.ctour-twitter{
	  margin-right: 22px;
	  width: 100%;
	  margin-bottom: 22px;
	}
	/* .extra-options{
		padding: 280px 0 0 25px;
	} */
	
	.options-extra{
		padding: 30px 0px 0px 10px;
	}
	.single-best-feature-cont > span{
	    font-size: 14px;
	}
	.clinks{
	    font-size: 13px;
	}
	.collab	{
		margin: 8px -30px 0 0;
	}
	.footer-menu{
		font-size: 11px;
		padding-left: 10px;
	}
	.welcome-main{
		font-size: 20px;
	}
	.wel-sub{
		font-size: 18px;
	}
	.wellcome-heading > p{
		font-size: 15px;
	}
	.get-start-area .submit{
		font-size: 14px;
	}
	.menu_area #nav .nav-link{
		font-size: 14px;
	}
	.sing-up-button > a{
		font-size: 12px;
	}
	.single-feature2 > h5{
		font-size: 25px;
	}
	.single-feature2 > p{
		font-size: 30px;
	}
	.single-feature2 > span{
		font-size:14px;
	}
	.single-best-feature2 > h5{
		font-size:30px;
	}
	.single-best-feature2 > span{
		font-size:16px;
	}
	.single-best-feature-cont > p{
		font-size: 14px;
	}
	.project-colabusAI > p{
		font-size:25px;
	}
	
	.sub-head-collaborate{
		font-size:22px !important;
	}
	
	.project-colabusAI > span{
		font-size: 18px;
	}
	.single-teams> h5{
		font-size: 30px;
	}
	.colintegrate> h5{
		font-size: 25px;
	}
	.colintegrate{
		margin-top: 0px;
	}
	
	.colintegrate> p{
		font-size: 25px;
	}
	
	.colintegrate> div{
		font-size: 18px;
	}
	
	.single-teams> p{
		font-size: 30px;
	}
	
	.colintegrate > span{
		font-size: 25px;
		margin-top: 25px;
	}
	
	.single-best-feature2 > p{
		font-size: 28px;
	}
	
	.best_feature_one> span {
		font-size: 20px;
		font-weight: 600;
	}
	
	.best_feature_one p {
		font-size: 18px;
	}
	.get-start-area-product{
		width: 100%;
	}
	.get-start-area-product .email{
		margin-bottom: 15px;
		width:265px;
	}
	/* .get-start-area-product .submit{
		margin-left: 0px;
	} */
	.section-heading-product{
		font-size: 30px;
	}
	.companylogo {
        padding: 0%;
	}
	
	.contact-support{
		float:none;
		margin-bottom: 25px;
	}
	
	.contact-pricing{
		float:none;
	}
	
	.get-start-area-product-plan .email{
		width: 150px;
	}
	
	.get-start-area-product-plan .submit{
		width: 65px;
		font-size: 14px;
	}
	
	.accordion a{
		font-size: 14px;
	}
	
	.accordion a::after{
		font-size: 1.3rem;
		padding: 0px;
		right: 0rem;
		margin-top: -5px;
	}
	
	.accordion .content p{
		font-size: 0.9rem;
	}
	
	.pricing-plan-head{
		font-size: 30px;
	}
	
	.pricing-plan-sub{
		font-size: 16px;
	}
	
	.pricing-plan-sub-two{
		font-size: 16px;
	}
	
	.pricing-cont {
		height: 600px;
	}
	
	
	.integrationMainCls {
		max-width: none;
	}
	
	.integrate-cont{
		margin-left: 3%;
		max-width:83%;
		margin-left: 18px;
	}
	.driveDetailsHeader {
		font-size: 18px;
	}
	
	.slider-words{
		font-size: 18px;
	}
	
	.loginColDiv{
		padding: 10% 0% 3% 6%;
	}
	
	.wellcome_area_reglogin{
		height: 62px;
	}
	
	.wellcome_area{
		height: 575px;
	}
	.text-In-Slider{
		width: 100% !important;
	}
	.image-sliderhome {
        width: 100% !important;
        margin-bottom: 25px;
	}
	.h-100 {
        height: 90%!important;
	}
	.slider-division{
		height: 80%;
	}

}

@media (min-width: 480px) and (max-width: 767px) {
    .wellcome-heading > h3 {
        font-size: 284px;
    }
    .wellcome-heading > h2 {
        font-size: 70px;
    }
    .welcome-thumb {
        bottom: 0px;
        width: 75%;
		right: 95px;
    }
	.welcome-thumb-notify {
        bottom: 0px;
        width: 75%;
		right: 95px;
    }
    .wellcome-heading {
        margin-bottom: 50px;
    }
    .wellcome-heading > h3 {
        top: -139px;
    }
    .get-start-area .email {
        max-width: 370px;
    }
	
	.get-start-area-product .email{
		margin-bottom: 15px;
		width:300px;
	}
	
	.integrationMainCls {
		max-width: none;
	}
	
	.integrate-cont{
		margin-left: 3%;
		max-width:83%;
		margin-left: 18px;
	}
	/* .navbar-toggler{
		margin-right: -40px;
	} */
	
}

@media (min-width: 576px) and (max-width: 767px) {
    .wellcome-heading > h3 {
        font-size: 286px;
    }
    .get-start-area .email {
        margin-bottom: 0;
    }
	.getStarted-area{
		height: 600px;
	}
	.get-startedfor-image{
		padding: 80px 0px 0 60px;
	}
	.project-colabusAI{
		padding: 150px 0px 0 20px;
	}
	.more-options-area{
    /*height: 925px; */
	  height: 50%;
	}
	.ctour-sub{
	  padding: 0px 0 0 0px;
	}
	.collab	{
		margin: 6px -120px 0 0;
	}
}

/* @media (min-width: 530px) and (max-width: 576px) {
	.more-options-area{
	  height: 925px;
	}
	.ctour-sub{
	  padding: 0px 0 0 0px;
	}
	
}
@media (min-width: 811px) and (max-width: 991px) {
	.more-options-area{
	  height: 925px;
	}
} */

@media (min-width: 1200px) and (max-width: 1402px) {
	.more-options-area{
	  /* height: 550px; */
	     height: 50%;
	}
	/* .ctour-sub{
		padding: 200px 0 0 30px;
	} */
	.dividerline{
	  margin-top: 28vh;
	}
	.video-embed{
		height: 150px;
		width: 300px;
	}
	.pricing-cont {
		height: 650px;
	}
	.package-description-signup{
		width: 75%;
	}
}

@media (min-width: 1200px) and (max-width: 1466px) {
	.get-start-area-product-plan .email{
		width: 190px;
		margin-bottom: 15px;
	}
	
	.get-start-area-product-plan .submit{
		margin-left: 0px;
	}
}

@media (min-width: 1920px) and (max-width: 2560px ) {
	.welcome-thumb {
        width: 36%;
	}
	.welcome-thumb-notify {
   	    width: 36%;
	}
	.wellcome_area{
		height: 825px;
	}
}


@media only screen and (max-device-width: 1024px) and (min-device-width: 1366px) and (orientation: landscape) webkit-min-device-pixel-ratio: 2) {
	
}