.defaultExceedMultilineClass {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.cmeheader {
  top: 0;
  background-color: #393A6F;
  border-right: 1px solid grey;
}

.cursor {
  cursor: pointer;
}

.online {
  color: green;
}

.offline {
  background-color: white;
  color: black;
}

.user_box_status {
  border-radius: 9px;
  float: left;
  height: 12px;
  left: 43px;
  top: 0px;
  width: 12px;
  background-color: grey;
  border: 2px solid #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
}

.user_box_status_online {
  background-color: #07D82D;
}

.user_box_status_away {
  color: orange !important;
}

.away {
	background-color: orange;
}

.cmeExpandCollapse {
  opacity: 0.5;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.cmeExpandCollapse:hover {
  opacity: 1;
}

.chat-income-overall {
  float: left;
  position: relative;
  padding-left: 32px;
}

.chat-income-message {
  font-family: OpenSansRegular;
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px #b2b2b2;
  background-color: #0b4860;
  word-break: break-word;
}

.chat-income-time {
  color: gray;
  font-size: 11px;
  /* padding-left: 25px; */
  width: 110%;
}

.chat-outgoing-message {
  top: 0px;
  border-radius: 20px;
  font-family: OpenSansRegular;
  font-size: 12px;
  color: white;
  background-color: #007b97;
  border-radius: 10px;
  box-shadow: 0 0 6px #b2b2b2;
  border-color: #cdecb0;
  word-break: break-word;
}

.chat-outgoing-time {
  font-size: 11px;
  text-align: right;
  width: 110%;
}

.width {
  width: calc(64% - 40px);
}

.width-mob {
  width: calc(33% - 40px);
}

.badge {
  background-color: rgb(255, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 999px;
  height: 20px;
  min-width: 20px;
  font-size: 12px;
  color: #fff;
}

.bubble {
  background-color: #0b4860;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px #b2b2b2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
  float: left;
}

.bubble::before {
  display: block;
  position: absolute;
  left: -19px;
  width: 0px;
  height: 0px;
  border-right: 20px solid #0b4860;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.replyNameTop{
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-right: -10px;
  background-color: white;
  font-size: 12px;
  padding-left: 8px;
  padding-top: 6px;
  padding-right: 8px;
  color: black;
  font-weight: bold;
  margin-left: -10px;
  margin-top: -2px;
}
.replyMsgBottom{
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: -10px;
  background-color: white;
  padding: 0px 8px 5px 8px;
  margin-bottom: 3px;
  margin-left: -10px;
  color: #64696F;
  font-weight: normal;
}

.SBactiveSprintlistCls{
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow: hidden;
  outline: 0;
}

.grpnametextbox{
    height: 35px;
    border: 1px solid #C1C5C8;
    border-radius: 6px;
    resize: none;
    font-size: 12px;
    padding-top: 8px;
    outline: none;
    padding-left: 10px;
}

.cmecontacthover{
  box-shadow: 0 0 7px 0 gray;
}


.videoOptionIcons {
  width: 22px;
  height: 22px;
}
/* .avOptionOver {
  visibility: hidden;
} */
.meterGraph {
  height: 10px;
  width: 22px;
  float: right;
  transform: rotate(-90deg);
}
#video-content, #audioFor, #screen-content {
  background: linear-gradient(#0b4860, #0b4860);
}
div#callerScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
  display: none;
}
.avStatusSpan {
  width: 20%;
  background: white;
  color: black;
  padding: 3px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
}
.meterGraph {
  height: 10px;
  width: 22px;
  float: right;
  transform: rotate(-90deg);
}
.meter{
  background-color: limegreen;
  width: 0%;
  height: 100%;
  float: left;
}

.notfSubHeader {
  margin-top: 10px;
  font-family: opensanscondbold;
  font-size: 14px;
  /* font-size: 1.09vw; */
  color: #747778;
}
.notfProjIcon {
  margin: 5px 7px 0px 0px;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  float: left;
  margin-left: 3px;
}
.notfNameClsWid {
  width: 78%;
}
.notfContentCls {
  font-family: OpenSansRegular;
  float: left;
  height: 22px;
  width: 100%;
  margin: 3px 0px 0px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 13px;
}
.defaultNameDateTimestamp {
  font-size: 11px;
}
.notfUserImgIcon {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  margin: 5px 0px 0px 0px !important;
  float: left;
}
.notfUserName {
    font-size: 10px;
    margin: 7px 0px 5px 5px !important;
    float: left;
    font-family: OpenSansRegular;
    color: #728087;
}
.hEditBg {
  background-color: #AED9D9 !important;
}
.hlDiv:hover {
  background-color: #AED9D9;
}
.hlDiv {
  /* background-color: #fff; */
  float: left;
  width: 100%;
}
.userUnChecked {
  background-image: url("images/temp/selcet.png");
  height: 15px;
  width: 15px;
}
.userChecked {
  background-image: url("images/temp/selcettwo.png");
  height: 15px;
  width: 15px;
}
.tileborder{
  background-color: #62BADE;
  position: relative;
  animation-name: tiles;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: -1s;
}
@keyframes tiles {
  0%   {background-color:#62BADE; left:0px; top:0px;}
  /*20%  {background-color:#62BADE; padding: 1px; left:0px; top:0px;}
  40%  {background-color:#62BADE; padding: 3px; left:0px; top:0px;}*/
  50%  {background-color:#62BADE; padding: 5px; left:0px; top:0px;}
  /*60% {background-color:#62BADE; padding: 3px; left:0px; top:0px;}
  80% {background-color:#62BADE; padding: 1px; left:0px; top:0px;}*/
  100% {background-color:#62BADE; padding: 0px; left:0px; top:0px;}
}
.call-animation{
	background: rgb(130, 221, 233);
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: solid 5px rgb(98, 186, 222);
	animation: call 1.5s ease infinite;
	color: aliceblue;
	font-size: 35px;
	font-weight: bold;
	position: relative;
}
@keyframes call {
	15% {
		box-shadow: 0 0 0 4px rgb(98, 186, 222, 0.5);
	}
	20% {
		box-shadow: 0 0 0 8px rgba(98, 186, 222, 0.5),
					0 0 0 16px rgba(98, 186, 222, 0.3);
	}
	
}
.call-animation2{
	background: rgb(130, 221, 233);
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: solid 5px rgb(98, 186, 222, 0.5);
	animation: call2 1.5s ease infinite;
	color: aliceblue;
	font-size: 35px;
	font-weight: bold;
	position: relative;
}
@keyframes call2 {
	15% {
		box-shadow: 0 0 0 2px rgba(98, 186, 222, 0.5);
	}
	20% {
		box-shadow: 0 0 0 4px rgba(98, 186, 222, 0.5),
					0 0 0 8px rgba(98, 186, 222, 0.3);
	}
	
}
.tileborder2{
  background-color: #62BADE;
  position: relative;
  animation-name: tiles2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: -1s;
}
@keyframes tiles2 {
  0%   {background-color:#62BADE; left:0px; top:0px;}
  /*20%  {background-color:#62BADE; padding: 1px; left:0px; top:0px;}
  40%  {background-color:#62BADE; padding: 3px; left:0px; top:0px;}*/
  50%  {background-color:#62BADE; padding: 9px; left:0px; top:0px;}
  /*60% {background-color:#62BADE; padding: 3px; left:0px; top:0px;}
  80% {background-color:#62BADE; padding: 1px; left:0px; top:0px;}*/
  100% {background-color:#62BADE; padding: 0px; left:0px; top:0px;}
}

.cmecontainer-mob .compactcme{
  height: calc(100vh - 50px - 90px) !important;
}

.cmecontainer .compactcme{
  height: calc(100vh - 50px - 51px) !important;
}

.cmecontainer-mob .compactcme2{
  height: calc(100vh - 50px - 84px) !important;
}

.cmecontainer .compactcme2{
  height: calc(100vh - 50px - 44px) !important;
}

.cmecontainer-mob .compactcme3{
  height: calc(100vh - 50px - 198px) !important;
}

.cmecontainer .compactcme3{
  height: calc(100vh - 50px - 160px) !important;
}


.cmecontainer-mob .compactcme4{
  height: calc(100vh - 50px - 200px) !important;
}

.cmecontainer .compactcme4{
  height: calc(100vh - 50px - 161px) !important;
}

.cmecontainer-mob .compactcme5{
  height: calc(100vh - 50px - 108px) !important;
}

.cmecontainer .compactcme5{
  height: calc(100vh - 50px - 70px) !important;
}

.cmecontainer-mob .compactcme6{
  height: calc(100vh - 50px - 109px) !important;
}

.cmecontainer .compactcme6{
  height: calc(100vh - 50px - 69px) !important;
}

.cmecontainer-mob .vcall1{
  width: 92px;
}

.cmecontainer .vcall1{
  width: 150px;

}

.cmecontainer-mob .vcall2{
  bottom: 1px;
  margin-left: 37px;
}

.cmecontainer .vcall2{
  bottom: 6px;
  margin-left: 67px;
}

.cmecontainer-mob .vcall3{
  margin-left: 37px;
  bottom: 26px;
}

.cmecontainer .vcall3{
  margin-left: 67px;
  bottom: 50px;
}

.cmecontainer-mob .vcall4{
  margin-left: 37px;
  bottom: 50px;
}

.cmecontainer .vcall4{
  margin-left: 67px;
  bottom: 90px;
}

.cmecontainer-mob .vcall5{
  bottom: 20px;
  left: 36px;
}

.cmecontainer .vcall5{
  bottom: 42px;
  left: 64px;
}

.cmetextarea {
	width: 100%;
	float: left;
	resize: none;
	border-color: #c1c5c8 !important;
	border-style: solid;
	border-width: 2px;
	font-size: 14px;
	padding: 10px;
	min-height: 66px;
	max-height: 250px;
	overflow: hidden;
}
.cmetextarea:focus {
	box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px !important;
	border-color: #0035C4 !important;
	/* border-color: #c1c5c8;
	border: 1px solid #0035C4; */
}	
.cmetextarea:not(:focus) {
	box-shadow: none;
}

.cmecontainer-mob .acall1{
  bottom: 20px;
}

.cmecontainer .acall1{
  bottom: 30px;

}

.hlTask{
  position: absolute;
  top: 53px;
  right: 0;
  bottom: 0;
  width: 100%;
  /* left: 20px; */
  z-index: 1050;
  display: block;
  overflow: hidden;
  outline: 0;
}

.cmeTask:hover {
  background: #eef5f7 !important;
}

.cmeactive{
  color: #555656 !important;
  border-bottom: 2px solid #3fa1ee;
}

.menuhover:hover {
  color: #555656 !important;
  border-bottom: 2px solid #3fa1ee;
}

.emailactive:hover {
  background: #eef5f7 !important;
}

.emailactive2 {
  background: #eef5f7 !important;
}


