.material-textfield-input:focus + .material-textfield-label  {
    top: 15% !important; 
    transform: translateY(-50%) scale(.9);
    background:#FFF;
}
.material-textfield-input:not(:placeholder-shown) + .material-textfield-label  {
    top: 15% !important;
    transform: translateY(-50%) scale(.9);
    background:#FFF;
}

.userInput{
    font-family: OpenSansRegular;
    font-size: 12px;
    height: 38px;
    resize: none;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding-left: 5%;
}

.mandatoryField{
    position: absolute;
    color: #003A5D;
    margin-left: 3px;
    font-size: 13px;
}
.userInpTextarea{
    box-shadow: 0 1px 4px 0 rgb(168 168 168 / 90%) inset;
    height: 85px;
    outline: none;
    font-family: OpenSansRegular;
    font-size: 12px;
    resize: none;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding-left: 5%;
}

/* .user_box_status {
    border-radius: 9px;
    float: left;
    height: 12px;
    top: 0px;
    width: 12px;
    background-color: grey;
    border: 2px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
  }
  
  .user_box_status_online {
    width: 12px;
    height: 12px;
    background-color: #07D82D;
    top: 0px;
    border-radius: 9px;
    border: 2px solid #fff;
  } */

  .user_box_status_tile {
    border-radius: 9px;
    float: left;
    height: 12px;
    top: 0;
    width: 12px;
    background-color: grey;
    border: 1px solid #9a9aa4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
  }
  
  .user_box_status_online_tile {
    width: 12px;
    height: 12px;
    background-color: #07D82D;
    top: 0;
    border-radius: 9px;
    border: 1px solid #9a9aa4
  }

  @media only screen and (max-width:599px ){
    .user_box_status {
        left: 100%;
    }
    .user_box_status_online {
        left: 100%;
    }
    .tileContantImage{
        width:100%;
    }
    .user_box_status_tile {
        left: 70%;
    }
    .user_box_status_online_tile {
        left: 70%;
    }
  }

  @media only screen and (min-device-width: 600px) and (max-device-width: 1199px){
    .user_box_status {
        left: 65%;
    }
    .user_box_status_online {
        left: 65%;
    }
    .tileContantImage{
        width:100%;
    }
    .user_box_status_tile {
        left: 70%;
    }
    .user_box_status_online_tile {
        left: 70%;
    }
  }

  /* @media only screen and (min-device-width: 1200px) and (max-device-width: 1600px){
    .user_box_status {
        left: 60%;
    }
    .user_box_status_online {
        left: 60%;
    }
    .tileContantImage{
        width:100%;
    }
    .user_box_status_tile {
        left: 70%;
    }
    .user_box_status_online_tile {
        left: 70%;
    }
  } */

  @media only screen and (min-width:1601px ){
    .user_box_status {
        left: 55%;
    }
    .user_box_status_online {
        left: 55%;
    }
    .tileContantImage{
        width:65%;
    }
    .user_box_status_tile {
        left: 50%;
    }
    .user_box_status_online_tile {
        left: 50%;
    }
  }

  .background{
    background-color: #50505f; /* For browsers that do not support gradients */
    background-image: linear-gradient(#f3f3f3 40%, #1fcf1c 44%, #50505f 30%);
  }

  .contactsListDivCls{

    margin-left: 15px;
    margin-top: 15px;
    float: left;
    cursor: pointer;
    height: 120px;
    border-radius: 15px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    /* white-space: nowrap; */
    font-size: 12px;
    position: relative;
   

  }

  @media only screen and (max-width:900px ){
    .contactsListDivCls{
        width: 350px;
    }
  }
  @media only screen and (min-width:901px ){
    .contactsListDivCls{
        width: 23%;
    }
  }

  .userPopup{
    border-radius: 8px;
    width: 335px;
    height: auto;
    z-index: 1;
    color: black;
    font-size: 12px;
    box-shadow: rgb(0 0 0 / 18%) 10px 10px 10px;
    border: 1px solid #003A5D;
    display: block;
    background: white;
    top: 175px;
    left: 100px;
  }