@charset "ISO-8859-1";


.triangle-right {
    position: relative;
}
/* this CS forms the triangles */
.triangle-right:after,
.triangle-right:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}

/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.triangle-right:after {
    top: 10px;
    border-color: transparent transparent transparent white;
    border-width: 10px;
}

/* this border color controlls the outside, thin border */
.triangle-right:before {
    top: 9px;
    border-color: transparent transparent transparent #595959;
    border-width: 11px;
}

