
#sprintHeaderDiv, .storysprintheaderdiv{
    background-color: #003A5D;
    position: sticky;
    top: 0;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    z-index:1;
    /* font-family: OpenSansSemibold; */
}

.sprintLists{
    border-bottom: 1px solid #AAAAAA !important;
    font-size: 12px;
}

.sprintGroupdiv{
    width: 15px;
    height: 15px;
    margin-top: -8px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 18%);
}

.sprinttextbox{
    height: 35px;
    border: 1px solid #C1C5C8;
    border-radius: 6px;
    resize: none;
    font-size: 12px;
    padding-top:8px;
    outline: none;
    padding-left: 10px;
}
.sprinttextbox:focus {
    border-color: rgb(0,0,198) !important; 
}
.material-textfield-input:focus + .material-textfield-label  {
    top: 0px !important;
    transform: translateY(-50%) scale(.9);
    background:#FFF;
}
.material-textfield-input:not(:placeholder-shown) + .material-textfield-label  {
    top: 0px !important;
    transform: translateY(-50%) scale(.9);
    background:#FFF;
}

.sprinticon{
    float: left;
    height: 22px;
    width: 22px; 
    margin: 0px 2px;
    cursor: pointer;
}

.sprintgroup{
    height: 14px;
    width: 14px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 18%);
}

.sprintSaveCancelDiv{
    background: #A5BCC2;
}

#sprintGroupPopupDiv{
    margin-top: 8px;
    position: absolute;
    color: black;
    background: #FFF;
    border: 1px solid rgb(166, 166, 166);
    padding: 7px;
    height: 143px;
    overflow: auto;
    border-radius: 2px;
    font-size: 12px;
    width: 250px;
    z-index: 10;
    text-align: left;
    right: -57px;
}
#sprintGlbListPopupDiv{
    margin-top: 8px;
    position: absolute;
    color: black;
    background: #FFF;
    border: 1px solid rgb(166, 166, 166);
    padding: 7px;
    height: 143px;
    overflow: auto;
    border-radius: 2px;
    font-size: 12px;
    width: 250px;
    z-index: 10;
    text-align: left;
}

#sprintGrouptextarea{
    height: 34px;
    resize: none;
    outline: none;
    border: 1px solid #C1C5C8;
    border-radius: 6px;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
}

.colorbox:hover{
    border: 2px solid grey;
}

#sprintgroupcolor1{
    height: 28px;
    display: inline-block;
    padding-left: 26px;
}

#showMoresprintcolor {
    cursor: pointer;
    font-size: 12px;
}

.openSprintselectDatepopupcls{
    width: 400px;
    border: 1px solid #c1c5c8;
    background-color: #fff;
    color: black;
    font-size: 12px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    right: -15px;
    top: 25px;
    z-index: 10;
}

.sprintCalSave{
    width:45px !important;
    float: right;
    border-radius: 4px;
    text-align: center;
    background: #00BFF3 !important;
    padding: 2px 5px !important;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-family: opensanscondbold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.storyshowoption{
    width: 125px;
    background-color: rgb(255, 255, 255);
    font-size: 11px;
    top: -58px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
    left: 0px;
    border-color: rgb(193, 197, 200) !important;
}

.sprintfloatoptions{
    top: 2px;
    padding: 4px;
    width: auto;
    height: auto;
    z-index: 1;
    border: 1px solid #c1c5c8;
    right: 105px;
    background-color: rgb(255,255,255,0.7);
    border-radius: 8px;
    cursor:pointer;
}

.sprintLists1:hover{
    background: #eef5f7 !important;
}

.sprintSBheader{
    background-color: rgb(255, 255, 255);
    border: medium none;
    border-collapse: collapse;
    color: white;
    font-size: 12px;
    max-width: 230px;
    min-width: 230px;
    word-wrap: break-word;
    padding: 8px 0px;
    font-weight: 100;
}

.stopdrag, .sprintSBcontent{
    background-color: rgb(255, 255, 255);
    border: medium none;
    border-collapse: collapse;
    color: white;
    font-size: 12px;
    max-width: 230px;
    min-width: 230px;
    word-wrap: break-word;
    padding: 12px 0px;
}

table#sprintSBtable .sprintSBcontent:nth-child(odd){
	background-color: #f6f6f6 !important;
}

.headerbgcolor{
    background-color: #003A5D;
}

.sprintSBname{
    border-bottom: 1px solid rgb(167, 166, 166);
    border-collapse: collapse;
    font-family: tahoma;
    font-size: 14px;
    color: rgb(90, 90, 92);
    font-weight: bold;
    padding: 10px 0px;
}

.SBstory{
    /* background-image: linear-gradient(to right, rgb(246, 227, 92), rgb(253, 249, 222)); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 3px 3px 3px rgb(181 185 188);
    font-size: 11px;
    height: 103px;
    margin: 5px auto 15px;
    width: 200px;
    /* border: 2px solid white; */
}

.SBstoryHistory{
    /* background: none repeat scroll 0 0 #AD9F47; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 3px 3px 3px rgb(181 185 188);
    font-size: 11px;
    height: 103px;
    margin: 5px auto 15px;
    width: 200px;
    /* border: 2px solid white; */
}

.SBDiv1{
    /* border-bottom: 1px solid rgb(91, 91, 95); */
    height: 30px;
    width: 180px;
}

#SBsprintcontentdiv{
    /* border-bottom: 1px solid rgb(91, 91, 95); */
    /* height: 145px; */
    height: 38px;
}

.paddingSB{
    padding: 5px 5px !important;
}

.confirmComplete, .SBactiveSprintlistCls, .gridExistingCls{
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow: hidden;
    outline: 0;
}

.footerbutton{
    width:90px !important;
	float: right;
	border-radius: 4px;
	text-align:center;
	background: #00BFF3 !important;
	padding: 5px 5px !important;
	color: #fff;
	cursor: pointer !important;
	font-size:13px;
	font-family: opensanscondbold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.SBpopupDiv{
    border-radius: 8px;
    width: 500px;
    height: 280px;
    color: black;
    font-size: 12px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
    /* border-color: rgb(193, 197, 200) !important; */
    display: block;
}

.SBpopOptions{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.SBpopupDivclk{
    border: 2px solid #4b86b7 !important;
}
    
.SBstorypopupDivcls{
    position:absolute;
    height:auto;
    font-size:12px;
    left:92px;
    top: 105px;
    z-index:1000;
}

.reassignSprintlistCls:hover{
    background-color: #eef5f7;
}

.SBsettingStageCls{
    background-color: rgb(255, 255, 255);
    border: medium none;
    border-collapse: collapse;
    font-size: 12px;
    max-width: 250px;
    min-width: 250px;
    word-wrap: break-word;
    font-weight: 100;
    
}

.gridstoryshowoption{
    width: 125px;
    background-color: rgb(255, 255, 255);
    font-size: 11px;
    top: 0px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
    left: 25px;
    border-color: rgb(193, 197, 200) !important;
}

.storyCountTooltiptext {
    background-color: rgb(145 137 137 / 0.1);
    color: darkgrey;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -25px;
    right: 50px;
}
