






.task_group{
 
  height: 14px; 
  width: 14px;
  box-shadow: 0 6px 10px rgb(0 0 0 / 18%);
}


.mainTask{

  border-bottom: 1px solid #AAAAAA;
}

@media screen and (max-width: 1200px) {
 .types-data {
    width: 200px !important;
    padding-left: 0.5rem;
  }
  .types-datacontent {
    width: 990px !important;
    padding-left: 0.5rem;
  }
  .types-usercontent {
    width: 195px !important;
    padding-left: 0.5rem;
  }
  
  .types {
    width: 200px !important;
  }
  .typesheader{
    text-align: none !important;
    width: 200px !important;
  }
  .headerTaskPrj{
    width: 100px !important;
  }
  .Task {
    width: 500px !important; 
    
  }
  .headerBar{
    width: fit-content;
  }
  .TaskDiv{
    width: 90vw;
    overflow-x: auto;
  }
  #taskList{
    /* width: fit-content; */
  }
  .addTaskDiv{
    width: 2300px;
  }
  
 	/* .headerBar {
    position: relative;
  }
 
  #taskList{
    padding-top: .5rem!important;
  }
  
  .task_type{
    justify-content: center!important;
  }
  
 */
 
}
.task_user_history{
  overflow: hidden;
  display: none;
}
.depicon{
  width: 14px;
  margin-top: 2px;
  cursor: pointer;
}
.typetask{
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: 2px 2px #e2e2e2;
}
.task_icon{
  float: left;
  height: 22px;
  width: 22px; 
  margin: 0px 2px;
  cursor: pointer;
}
.history_header{
    color: white;
    background-color: #8d8d96;
    float: left;
    height: 2em;
    margin: 10px 0px 5px 0px;
    padding: 3px;
    width: 100%;
}
.Active{
  border: 1px solid #797AA8 !important;
  background-color: #FFF !important;
  
  
}
.task_type_divison{
  background-color: #245A89;
}
.task_type{
  color:#595B94;
  cursor: pointer;
  background-color: #9BB3C7;
  border: 1px solid #797AA8;
  border-radius: 3px;
}
.task_type_container{
  font-weight: 700;
  font-size: 20px;
}
#taskname ,#taskdesc,#workflowname{
  outline: none;
  padding-left: 10px;
}
.documentDiv{
  background-color:#003A5D;
  color:#FFF;
  
}
input{
  outline:none;
  
}
.estimateHour:focus{
  color: black !important;
}
.estimateMinute:focus{
  color: black !important;
}

select{
  outline: none;
}   

 .types-data {
  width: 10%;
}
.types {
  width: 10%;
}
.Task{
  width: 50%;
}

.task-img {
  width: 20px !important;
  height: 20px !important;
  max-width: 20px !important;
}
/* #content{
  overflow: hidden;

}
#taskList{
  overflow: auto;
  height: 90vh;
} */
#taskList::-webkit-scrollbar {
	width: 6px;
	background-color: #c1c1c1;
	height: 10px;
}

#taskList::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 10px;
}

#taskList::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(154, 152, 152, 0.3);
	background-color: white;
	height: 10px;
	width: 0px;
	
}
#taskList::-webkit-scrollbar-track {
	height: 5px;
}
.header{
    border: 0;
}
.animatedDiv{
  transition: all ease-in-out ;
}
.selected-deadline{
  border: 1px solid rgb(64, 155, 181);
}
.deadlinepopup{
  max-width: 412px;
}
.amactive{
  flex-direction: row;
  color:black ;
  background-color: #fff;
}
.pmactive{
  flex-direction: row-reverse;
  background-color: rgb(111, 158, 176);
  color: #FFF;
}
.mainampm{
  transition: all ease-in-out;
}

.wsEstCss{
  border: 1px solid #409bb5;
  border-radius: 3px;
  padding-left: 1%;
}
.userDetails{
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
#reminder{
  font-size: 13px;
}
.timeline {
  max-width: 250px;
  height: 3px;
  background-image: linear-gradient(to right, #5BC9EF ,#EB1AAA);
  margin-left: 12px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}
.dependencyTask{
  font-size: 12px;
}


/*  -----Outlined input-------- */



#projectselect:focus {
  border-color: rgb(0,0,198) !important; 
}

#taskname:focus {
  border-color: rgb(0,0,198) !important; 
}
#workflowname:focus {
  border-color: rgb(0,0,198) !important; 
}
#taskdesc:focus {
  border-color: rgb(0,0,198) !important; 
}

#group_create_name:focus {
  border-color: rgb(0,0,198) !important; 
}
#UserCommentNewUI:focus {
  border:1px solid  rgb(0,0,198) !important; 
}
#commentcode:focus {
  border:1px solid  rgb(0,0,198) !important; 
}
.material-textfield-input:focus + .material-textfield-label  {
  top: 0px !important;
  transform: translateY(-50%) scale(.9);
  background:#FFF;
}
.material-textfield-input:not(:placeholder-shown) + .material-textfield-label  {
  top: 0px !important;
  transform: translateY(-50%) scale(.9);
  background:#FFF;
}

.savecancelDiv{
  background: #A5BCC2;
}
#taskdesc, #taskname,#workflowname{
  height: 35px;
  border: 1px solid #C1C5C8;
  border-radius: 6px;
  resize: none;
  font-size: 12px;
  padding-top:8px;
}
.defaultScrollDiv::-webkit-scrollbar {
	width: 6px;
	background-color: #c1c1c1;
	height: 10px;
}

.defaultScrollDiv::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 10px;
}

.defaultScrollDiv::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(154, 152, 152, 0.3);
	background-color: white;
	height: 10px;
	width: 0px;
	
}
.defaultScrollDiv::-webkit-scrollbar-track {
	height: 5px;
}
.taskcolordiv{
  background: #eef5f7 !important;
}
.timeline{
	max-width: 250px;
	height: 3px;
	background-image: linear-gradient(to right, #5BC9EF ,#EB1AAA);
	margin-left: 12px;
    border-radius: 15px;
	cursor: pointer;
	position: relative;
}
   
  #timeline{
	max-width: 300px;
	height: 3px;
	background-image: linear-gradient(to right, #5BC9EF ,#EB1AAA);
	float: right;
	border-radius: 15px;
	cursor: pointer;
}
 
#playhead{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	top: -6px;
	position:absolute;
	
}   
.mainTask:hover{
  background: #eef5f7 !important;
}
.optionselect {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background-color: white;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.task_comment_user::selection {background-color: transparent} 

.wfOp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* .stepop:hover{
  background-color: #eef5f7;
} */



.gridBox1 {
  width: 246px;
  float: left;
  cursor: pointer;
  height: 120px;
  border-radius: 6px;
  /* display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: column; */
  /* white-space: nowrap; */
  font-size:12px;
  position: absolute;
  z-index: -9;
  border: 1px solid #AAAAAA;
  top: 6px;
  left: 6px;
  opacity: 0.6;
}

.dddd { 
  border: none;
}

#showMore {
  cursor: pointer;
  font-size: 12px;
}

.colorNodeSelect{
  border: 2px solid grey !important;
}

.colorbox:hover{
  border: 2px solid grey;
}

#group_color {
  height: 28px;
  /* width: auto; */
  display: inline-block;
  padding-left: 26px;
}

#projectselect{
  height: 22px;
  width: 32%;
  border-radius: 0px;
  border-top: 0px;
  padding-left: 4px;
  border-bottom: 1px solid #C1C5C8;
  border-left: 0px;
  border-right: 0px;
  
}
.wfInput:focus{
  border-bottom: 1px solid darkgray !important;
}

#tSprintStoryListDiv{
  top: 0px;
  margin-top: 21px;
  color: black;
  background: rgb(255, 255, 255);
  overflow: auto;
  font-size: 12px;
  z-index: 12;
  text-align: left;
  width: 290px;
}