.agileHeader{
    background-color: #003A5D;
    position: sticky;
    top: 0;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    z-index:1;
}

.backgroundBox{
    width: 175px;
    float: left;
    cursor: pointer;
    height: 103px;
    border-radius: 6px;
    font-size: 12px;
    position: absolute;
    z-index: -9;
    border: 1px solid #AAAAAA;
    top: 6px;
    left: 6px;
    opacity: 0.6;
}

.storyBox {
    margin-left: 30px;
    margin-top: 28px;
    float: left;
    cursor: pointer;
    height: 103px;
    border-radius: 6px;
    display: block;
    justify-content: flex-start;
    font-size:12px;
    position: relative;
    border: 1px solid #AAAAAA;
}

.storyBox1 {
    margin-left: 30px;
    cursor: pointer;
    height: 80px;
    border-radius: 6px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-size:12px;
    position: relative;
    border: 1px solid #AAAAAA;
}

.agileMoreOption{
    width: 100px;
    border: 1px solid #c1c5c8;
    background-color: #fff;
    color: black;
    font-size:12px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    display:none;
    left:20px;
    top: 0px;
    z-index: 10;
}
.agileMoreOption1{
    left: 90px;
    z-index: 10;
    width: 90px;
    border: 1px solid #c1c5c8;
    background-color: #fff;
    color: black;
    font-size: 12px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    top: 0px;
}
.agileMoreOption2{
    z-index: 10;
    width: 90px;
    border: 1px solid #c1c5c8;
    background-color: #fff;
    color: black;
    font-size: 12px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    top: 0px;
}
.agileMoreOption3{
    z-index: 10;
    width: 90px;
    border: 1px solid #c1c5c8;
    background-color: #fff;
    color: black;
    font-size: 12px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    top: 0px;
    right: 20px;
}

.moreOptDoc{
    color: black;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(166, 166, 166);
    padding: 7px;
    overflow: auto;
    border-radius: 2px;
    font-size: 12px;
    width: 150px;
    z-index: 10;
    text-align: left;
    left: 90px;
    top: 0px;
}

.agileOpt:hover{
    background-color: #eef5f7;
}

.aMaindiv{
    border-radius: 8px;
    width: 500px;
    height: auto;
    color: black;
    font-size: 12px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
    border-color: rgb(193, 197, 200) !important;
    display: block;
}

.headerStoryimages{
    width:12px;
    height:12px;
}
.agileOptions{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.smallfonts{
    /* font-style: italic; */
    color:#7a6c6c;
}

.agileTask, .agileDocLinkcls, .agileComments{
    position: absolute;
    top: 105px;
    right: 0;
    bottom: 0;
    width: 100%;
    /* left: 20px; */
    z-index: 1000;
    display: block;
    overflow: hidden;
    outline: 0;
}  

.material-textfield-input1:focus + .material-textfield-label  {
	top: 10px !important;
	transform: translateY(-50%) scale(.9);
	background:#FFF;
}
.material-textfield-input1:not(:placeholder-shown) + .material-textfield-label  {
	top: 10px !important;
	transform: translateY(-50%) scale(.9);
	background:#FFF;
}

.agileAttacklink, .agilepopupcls, .agileShareUI{
    position: absolute;
    top: 130px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    outline: 0;
}

.newinput{
    height: 35px;
    border: 1px solid #C1C5C8;
    border-radius: 6px;
    font-size: 12px;
    padding-top: 8px;
  }
  .newinput1{
    border-radius: 6px;
    font-size: 12px;
    width: 95%;
    padding-left: 10px;
  }
  
  .newinput:focus, .newinput1:focus{
    border-color: rgb(0,0,198) !important;
  }

  .Agiledochover:hover{
    background: #eef5f7 !important;
  }

 

  .storycountcls{
    top: 0px;
    width: auto;
    height: auto;
    z-index: 1;
    border: 1px
    solid #c1c5c8;
    right: 15px;
    background-color: #fff;
  }
  