@charset "ISO-8859-1";

  .replycommentDiv{
    display : none; 
  }
  
  .timeline{
	max-width: 250px;
	height: 3px;
	background-image: linear-gradient(to right, #5BC9EF ,#EB1AAA);
	margin-left: 12px;
    border-radius: 15px;
	cursor: pointer;
	position: relative;
}
   
  #timeline{
	max-width: 300px;
	height: 3px;
	background-image: linear-gradient(to right, #5BC9EF ,#EB1AAA);
	float: right;
	border-radius: 15px;
	cursor: pointer;
}
 
#playhead{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	top: -6px;
	position:absolute;
	
}   


