#viewthumbnail{
    top:15% !important;
}
.viewdownloadfileinconversationCls{
    left: 85px !important;
    top: 1px !important;
}
.docList{
    width: 8px;
    height: 8px;
}

.material-textfield-input:focus + .material-textfield-label  {
    top: 15% !important; 
    transform: translateY(-50%) scale(.9);
    background:#FFF;
}
.material-textfield-input:not(:placeholder-shown) + .material-textfield-label  {
    top: 15% !important;
    transform: translateY(-50%) scale(.9);
    background:#FFF;
}

.material-textfield-input1:focus + .material-textfield-label  {
	top: 10px !important;
	transform: translateY(-50%) scale(.9);
	background:#FFF;
}
.material-textfield-input1:not(:placeholder-shown) + .material-textfield-label  {
	top: 10px !important;
	transform: translateY(-50%) scale(.9);
	background:#FFF;
}

.folderFloatIcons{
    top: 6px;
    padding: 4px;
    width: auto;
    height: auto;
    z-index: 1;
    border: 1px solid #c1c5c8;
    right: 105px;
    background-color: rgb(255,255,255,0.7);
    border-radius: 8px;
    cursor: pointer;
}

.uploadFilesinFolders{
    color: black;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(166, 166, 166);
    padding: 7px;
    overflow: auto;
    border-radius: 2px;
    font-size: 12px;
    width: 145px;
    z-index: 5;
    text-align: left;
    right: 0px;
    top: 25px;
}

.docAttachlink {
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    outline: 0;
}

.docTrailView:focus{
    border: 1px solid rgb(0,0,198) !important;
}

.sellabel{
    position: absolute;
    font-size: 12px;
    background: rgb(255, 255, 255);
    left: 50% !important;
    top: 0% !important;
    transform: translateY(-50%) scale(.9);
	background:#FFF;
    padding: 0px 5px;
    color: #9f9a9a;
}

.popupDocTrail{
	position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: block;
    overflow: hidden;
    outline: 0;
}  
.docCommentShareUICls{
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1100;
    display: block;
    overflow: hidden;
    outline: 0;
}

.docsHeader{
    background-color: #003A5D;
    position: sticky;
    top: 27px;
    letter-spacing: 1px;
    font-size: 14px;
    z-index: 10;
    color: #fff;
}

#docAddMemberList,#docAddMemberDocCmtShareList{
    left: 100px;
    margin-top: 8px;
    color: black;
    background: #FFF;
    border: 1px solid rgb(166, 166, 166);
    height: 200px;
    overflow: auto;
    border-radius: 2px;
    font-size: 12px;
    width: 300px;
    z-index: 10;
    text-align: left;
}