/* .headerBar {
    background-color: #1E5F74;
    position: sticky;
    top: 0;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    height:25px;
  } */

  .agileSubDivs{
    list-style: none;
  }

  .epicContentMainDiv {
    /*padding: 12px 12px 12px 20px;
    border-bottom: 1px solid #C4C5CA;
     border-top: 1px solid #C4C5CA;
     border-right: 1px solid #C4C5CA;*/
    border-left: 5px solid #9B9C9E;
    list-style: none;
    margin: 0px 0px 10px 0px;
    padding: 8px 8px 6px 20px;
    background: #fff;
  }

  .ideaBorderClass {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: -moz-use-text-color -moz-use-text-color
      -moz-use-text-color #9b9c9e !important;
    border-image: none !important;
    border-style: none none none solid !important;
    border-width: medium medium medium 5px !important
  }

  .ideadrag{
    left: 0 !important; 
    top: 0 !important;
    border-bottom:1px solid #AAAAAA !important;
    
    padding-left:30px !important;
  }

  .ideadrop{
    left: 0px !important; 
    top: -13px !important;
    border-bottom:none !important; 
     
    padding-left:0;
  }

  .ui-state-highlight {
    width: 200px;
    height: 35px;
    list-style: none;
    padding: 10px 5px 0 5px;
    left:0px;
    background-color: #c1c5c8;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    border-radius: 8px;
  }

  .idea_type_divison{
    background-color: #245A89;
    padding-left: 30px;
  }

  .ideaoption:hover{
    background-color: #eef5f7;
  }

  .nodeselect{
    border: 2px solid #33d6ff !important;
  }

  .mainideaclass{
    padding-top: 30px !important;
    padding-bottom: 25px !important;
  }

  .ideaAttacklink {
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    outline: 0;
}


.material-textfield-input1:focus + .material-textfield-label  {
	top: 10px !important;
	transform: translateY(-50%) scale(.9);
	background:#FFF;
}
.material-textfield-input1:not(:placeholder-shown) + .material-textfield-label  {
	top: 10px !important;
	transform: translateY(-50%) scale(.9);
	background:#FFF;
}

.ideaurl:hover{
  text-decoration: underline;
}

.timeline{
	max-width: 250px;
	height: 3px;
	background-image: linear-gradient(to right, #5BC9EF ,#EB1AAA);
	margin-left: 12px;
    border-radius: 15px;
	cursor: pointer;
	position: relative;
}
   
  #timeline{
	max-width: 300px;
	height: 3px;
	background-image: linear-gradient(to right, #5BC9EF ,#EB1AAA);
	float: right;
	border-radius: 15px;
	cursor: pointer;
}
 
#playhead{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	top: -6px;
	position:absolute;
	
} 

.ideadochover:hover{
  background: #eef5f7 !important;
}
  
.ideaOptionIcons{
  height: 20px;
  width: 20px;
  cursor:pointer;
}  

.colorbox:hover{
  border: 2px solid grey;
}

.expandCollapseImgIdea{
  opacity: 0.5;
  width:10px;
  height:10px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor:pointer;
}
.expandCollapseImgIdea:hover{
  opacity: 1;
}

.ideaComments, .ideaTask{
  position: absolute;
  top: 105px;
  right: 0;
  bottom: 0;
  width: 100%;
  /* left: 20px; */
  z-index: 1050;
  display: block;
  overflow: hidden;
  outline: 0;
}