.clock {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 2px solid #595B94;
	position: relative;
	background-color: white;
	transform: scale(-1, -1);
	background-image: url(../images/menus/clockface_default.svg);
    background-size: 54px;
    background-position: center;
	z-index: 2;
  }
  
  .marks {
	height: 25px;
	width: 2px;
	/* border-top: 4px solid black; */
	border-radius: 10000px;
	padding: 4px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  }
  
  
  
  .marks:nth-child(1) {
	transform: translate(-50%, -50%) rotate(90deg);
  }
  
  
  
  .marks:nth-child(2) {
	transform: translate(-50%, -50%) rotate(180deg);
  }
  
  
  
  .marks:nth-child(3) {
	transform: translate(-50%, -50%) rotate(270deg);
  }
  
  
  
  .hours-hand,
  .minutes-hand,
  .seconds-hand {
	height: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 25%) rotate(0deg);
	transform-origin: 50% 75%;
	border-radius: 10000px;
  }
  
  .hours-hand {
	width: 1.5px;
  }
  
  .minutes-hand {
	width: 1.5px;
  }
  
  .seconds-hand {
	width: 0.5px;
  }
  
  .hours-hand div,
  .minutes-hand div,
  .seconds-hand div {
	width: 100%;
	border-radius: 10000px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .hours-hand div {
	height: 6px;
	margin-top: 13px;
	background-color: black;
  }
  
  .minutes-hand div {
	height: 9px;
	margin-top: 12px;
	background-color: black;
  }
  
  .seconds-hand div {
	height: 8px;
	margin-top: 7px;
	background-color: black;
  }